[2020-08-27 01:13] jaydevshelat commented on #339
Hi Maria,

Thanks for the response.  My Intent is to generate frozen graph from the available checkpoints.  The code snippet is my own.  Do you think it needs any fixing / addition?

Is there anyone who can provide steps/methods/guidance?  I even tried Google Colab with different Hardware configurations -- i.e. combination of CPU, GPU, TPU.  And also with different TF versions.  I am never able to

[2020-08-27 16:55] MariaNattestad commented on #339
Hi @jaydevshelat

DeepVariant's checkpoints are based on InceptionV3 and use slim, see https://github.com/google-research/tf-slim.

I can share with you some code that @pichuan has written to read the checkpoints, but if you have any further questions on that, please consult the documentation for tensorflow or tf-slim.
[code]

For training, you would need a lot more training data than the quicksta

[2020-08-31 22:54] #338 closed

[2020-08-31 22:54] #339 closed

[2020-09-01 19:04] jaydevshelat opened #340 "Seeking Advice / Info : rel 0.8 : build and run local"
**Describe the issue:**
Hello,  I want to know what is an efficient way to build and run locally. My intent:  make a change in call_variant.py and observe the effect.
Do I have to always build the docker?
OR which shell scripts can I use to achieve my purpose?

**Setup**
  - Operating system:  Ubuntu 18.04 LTS
  - DeepVariant version: 0.8.0
  - Installation method:  build from source
  - Type of d

[2020-09-02 17:09] GuillaumeHolley opened #341 "Malformed AD field in GVCF when variant calling with proposed variants VCF"
**Describe the issue:**
When doing the variant calling with a VCF file of proposed variants (`variant_caller=vcf_candidate_importer,proposed_variants=${VCF_JOIN}`) and specifying GVCF output, ref call sites end up with only 2 entries in the FORMAT field AD while the ALT field contain also 2 entries which should result in 3 AD entries.
Example: `chr1 11391 . T A,<*> 0 RefCall . GT:GQ:DP:AD:VAF:PL 0

[2020-09-02 17:43] sgoe1 commented on #340
Hi @jaydevshelat, this [doc](https://github.com/google/deepvariant/blob/r0.10/docs/deepvariant-build-test.md) shows you how to build from source. Note that it mentions support for  Ubuntu 14 and 16, so you may need to make some changes in order for it to work on your OS. Feel free to followup if you hit any issues.

[2020-09-02 17:43] #340 closed

[2020-09-02 22:03] sgoe1 commented on #341
Hi @GuillaumeHolley, thanks for raising the issue. Could you try to run this with 1.0.0 image and let me know whether the issue persists? We haven't officially released 1.0.0 just yet, but we can use it to test this.

[2020-09-02 22:09] GuillaumeHolley commented on #341
Hi @sgoe1,

Thanks for getting back to me on this so quickly. I will give a shot at the 1.0.0 image first thing tomorrow morning and will let you know how it went.

Guillaume

[2020-09-03 02:22] jaydevshelat opened #342 "Version 0.8 run_examples giving error inside Docker"
**Describe the issue:**

- I setup version 0.8.  ( I have to stick to TF1.x  )
- Modified the run-prereq.sh :  to install some dependencies before installing tensor2tensor
- Modified the setings.sh :  "DV_TENSORFLOW_STANDARD_CPU_WHL_VERSION=1.14"  (the 1.13.1 was giving errors)
- Followed [instruction ](https://github.com/google/deepvariant/blob/r0.8/docs/deepvariant-quick-start.md) to setup the I

[2020-09-03 10:26] GuillaumeHolley commented on #341
Hi @sgoe1,

Using the 1.0.0 image, the variant calling fails on nearly all of my input samples with the following error:
[code]

[2020-09-03 18:01] sgoe1 commented on #341
When you run postprocess_variants can you try setting the `group_variants` flag to False?

[2020-09-04 13:26] GuillaumeHolley commented on #341
Success :)

Note that to make it work, I used `bcftools norm -m-any` on the VCF file of proposed variants (generated by GLnexus) to split multiallelic sites into multiple lines. Otherwise, it failed as previously reported.

Thank you for the help!

[2020-09-04 13:26] #341 closed

[2020-09-07 03:02] karthick1087 opened #343 "Microbial NGS data"
Can we use deepvariant for microbial NGS data??

[2020-09-07 06:21] AndrewCarroll commented on #343
Hi @karthick1087

DeepVariant will be able to run on a BAM file for one microbial species relative to its reference genome and should be able to produce a VCF file with variants.

However, DeepVariant is designed with diploid variant calling in mind, so it will call HET variants, and it also not trained with subclonal variant fractions in mind. In addition, the training data for DeepVariant is dip

[2020-09-07 09:35] karthick1087 commented on #343
Hi @AndrewCarroll
Thank you very much for your suggestion.

[2020-09-07 09:35] #343 closed

[2020-09-08 16:56] JakeHagen opened #344 "deepvariant as a python package"
Hi,
I am trying to borrow some of the code from deepvariants, specifically importing realigner. What is the best way to do this?
Thank you

[2020-09-09 08:51] sh940202123 opened #345 "Can't run the test data and get `subprocess.CalledProcessError` with status 252"
Hi~
I tried to run Deepvariant v1.0.0 by docker image.
But it returned error message when I run test dataset.

Here is the code:

[code]

And here is the error message from docker

[code]

Here is the supported CPU instructions of host:

[code]

I also tried create a env & install on host by `conda install -c bioconda deepvariant`, but it pop-up the same error.
And Deepvariant v0.10.0 also have th

[2020-09-09 16:37] pichuan commented on #342
Hi @jaydevshelat
Can you clarify - did you rebuild your docker image, or did you pull our 0.8 image?
You mentioned

Did you mean docker build?

If you're rebuilding your own, can you first confirm whether directly running our 0.8 image worked for you or not?

[2020-09-09 17:07] pichuan commented on #344
Hi @JakeHagen
Currently there isn't a very clean way to do this. You can modify the code and build DeepVariant from source: https://github.com/google/deepvariant/blob/r1.0/docs/deepvariant-build-test.md

I'm personally interested in learning more about what you're trying to do - what is the expected input and output. If there's general enough use cases, maybe in the future we can make things easie

[2020-09-10 00:14] pichuan commented on #345
Hi @sh940202123 ,
Sorry that our error messages are still quite cryptic at this time.

The last traceback is actually not quite as useful. You're seeing it because we uses Python's subprocess.check_call to call each of the commands:
https://github.com/google/deepvariant/blob/7ed651ed54d8563530d58ba80187121337fd10f2/scripts/run_deepvariant.py#L362

Usually, I hope that whatever appeared right befor

[2020-09-10 02:18] sh940202123 commented on #345
Hi @pichuan ~

Thank you for this quickly reply~

I tried to add `--user root` into docker command like the solved issue #325
But it still didn't show any additional error message like the issue
I also check the disk and it is still have about 9 Gb free space.

Here is the code and message output.

[code]

I wonder is there any way to let me get the hidden parallel error message?

Best,
Jerry

[2020-09-10 03:02] pichuan commented on #345
Can you try running:

[code]
directly?

[2020-09-10 03:40] sh940202123 commented on #345
Hi @pichuan ~

I tried the code you provided but it print nothing error.
There is also nothing output file in the output folder.

Here is the code:

[code]

Best,
Jerry

[2020-09-10 03:53] pichuan commented on #345
What OS system are you using?
Can you run `uname -a` and let me know what you see?

[2020-09-10 08:38] sh940202123 commented on #345
Hi @pichuan ~

Here is my OS and the kernel info~

[code]

[2020-09-10 15:37] JakeHagen commented on #344
I am doing some work that needs read modification based on variants. These variants come from deepvariant so I was hoping to use the realigner to modify the reads as deepvariant sees them. I often struggle with python imports so I thought I was just missing something. I will look into extracting that code and building.
Thank you

[2020-09-10 15:37] #344 closed

[2020-09-11 00:45] pichuan commented on #345
Hi @sh940202123 , it's not obvious to me why this might be the case. It's strange that no error message comes out at all.

Can you try something even simpler, like:
[code]
And see if the information comes out correctly?

I'll also check with my team member tomorrow to see if anyone has other suggestions.

[2020-09-11 01:35] tedyun commented on #345
Hi @sh940202123 it seems the CPU on the host `Intel(R) Core(TM) i7 CPU  870  @ 2.93GHz` doesn't support AVX instruction ( https://en.wikipedia.org/wiki/List_of_Intel_Core_i7_microprocessors#%22Lynnfield%22_(45_nm) ), which is required for the TensorFlow release version we use in the docker image. Please see this previous comment https://github.com/google/deepvariant/issues/217#issuecomment-5305808

[2020-09-11 02:53] sh940202123 commented on #345
Hi @pichuan and @tedyun ~

I run the command which @pichuan provided but it still print nothing on terminal.
And the docker version of this machine is `Docker version 19.03.3, build a872fc2`.

So I switch to another machine which supported AVX instruction and run the test again by @tedyun 's advice.
Then it run normally and output the files as same as the tutorial.

Here is the environment & the c

[2020-09-11 02:55] #345 closed

[2020-09-14 07:32] edg1983 opened #346 "Output for variants with zero coverage is hom ref instead of missing"
Hello,

I'm trying to apply deepvariant v1.0.0 to a small cohort to generate multi-sample VCF. I've followed the steps described in your tutorial on multi-sample calling, so:
1. generate single sample g.vcf with deepvariant
2. merge g.vcf using GLnexus

However, I'm confused by the output in the multi-sample VCF. Looking at the variants I've found several positions where one or more of the samples

[2020-09-14 19:41] tedyun commented on #346
Hi Edoardo,

Thank you for filing this issue. This is an expected behavior in the current implementation of DeepVariant. As it is impractical & inefficient to represent each base position with hom. ref. calls in gVCF files, we consolidate multiple hom. ref. positions with similar GQ values into one gVCF block. A gVCF block with `MIN_DP=0` (but with positive GQ/PL values) will be created when the n

[2020-09-15 18:04] jdmontenegro opened #347 "CLR PacBio data"
Hi team,

I am very interested in using DeepVariant on my dataset to identify novel SNV and Indels from a diploid plant. However, I will probably need the ability to identify non-reference heterozygous SNVs (1/2 variants). is DeepVariant able to discover these variants, or does it need one of the variants to be the same as the ref?
Second, I read in the main page that you support Illumina, HiFi Pa

[2020-09-15 23:37] AndrewCarroll commented on #347
Hi @jdmontenegro

For the question about multi-allelic heterozygous calls - yes, DeepVariant is able to all 1/2 events, and will represent these in one line as a GT 1/2 call in the VCF.

For CLR calling in DeepVariant. It is theoretically possible for us to make a model for DeepVariant that can call CLR data. However, this requires us to write a special candidate generation logic to deal with the

[2020-09-15 23:48] jdmontenegro commented on #347
Dear Andrew,

Thank you for your quick reply. I agree with you that most sequencing and
resequencing projects will move towards HiFi reads rather than CLR reads.
However, there is a lot of CLR sequencing data that has been generated in
the past couple of years and continues to be produced currently and could
still be useful for groups without the means to resequence using the novel
HiFi reads. So,

[2020-09-16 18:38] anands-repo commented on #123
@qili93 I am trying your method above. I understand it's from a long time ago, but do you remember having issues with glibc and bazel? I am running into some issues because on CentOS7 (and RHEL7 I guess?) the default system gcc is very old, while Advance Toolchain has a much newer gcc version.

Thanks!

[2020-09-17 17:45] edg1983 commented on #346
Hi Ted,
Thanks for your feedback. Just to be sure I've got this right. You confirm that variants with 0/0 genotype and zero DP in the merged VCF are actually positions with no reads in that sample and so can be set to missing?

[2020-09-18 23:04] tedyun commented on #346
Hi Edoardo, in the current implementation, `DP=0` (which is used in variant records) will imply that there is no read covering that position, while `MIN_DP=0` (used in hom. ref. band in gVCF) does not necessarily imply that there is no read covering the reference band, due to consolidation of multiple hom.ref. records into one record for the reason stated in my previous response (as the name sugge

[2020-09-18 23:27] pichuan commented on #346
Hi @edg1983 , I'll help with the runtime increase question. There are a few reasons I can think of that might have increased overall runtime between v0.9.0 and v1.0.0, but the magnitude of increase you're observing is not quite what I'd expected.

First, let's take a quick comparison on our GitHub documentation:
- https://github.com/google/deepvariant/blob/r0.9/docs/deepvariant-case-study.md :  82

[2020-09-18 23:30] pichuan commented on #342
Hi @jaydevshelat  if you want to follow up on this question, feel free to open it again. For now, I'll close this issue due to inactivity.

[2020-09-18 23:30] #342 closed

[2020-09-19 05:10] pichuan commented on #333
Hi @marchoeppner
To give you an update, this file now doesn't have MT https://github.com/google/deepvariant/blob/r1.0/deepvariant/exclude_contigs.py, which means you should be able to call MT now with version 1.0.0.

It's removed in this commit: https://github.com/google/deepvariant/commit/7f4f2885059f7efebf83a098f187e32f87b0836a.

[2020-09-19 17:36] ahgillmo opened #351 "Is there potential for somatic variant calling?"
With the release of version 1.0.0, it is stated that DeepVariant will not support somatic variant calling because the only genotypes supported are hom-alt, het, and hom-ref.

Is there the potential for a deep variant somatic variant caller in the future?
or
Could individuals produce somatic variants using a matched-normal approach? ie by calling variants on the germline and tumor(s) and extracting

[2020-09-19 17:55] anands-repo commented on #123
The above issue was due to a problem with numpy compilation. Newer versions of numpy need to be compiled from source for POWER platforms.

[2020-09-20 05:11] ndesar opened #352 "Deep variant for tumor derived CCS data"
Deepvariant 1.0 is still not considering polyploid polyclonal tumor data analysis in consideration. Anything in the pipeline or any plug in?

**Setup**
  - Operating system:
  - DeepVariant version:
  - Installation method (Docker, built from source, etc.):
  - Type of data: (sequencing instrument, reference genome, anything special that is unlike the case studies?)

**Steps to reproduce:**
  - Co

[2020-09-20 14:05] DiDeoxy opened #353 "Outdated Singularity Containers"
Hi,

The singularity containers are on version 0.9.0, can these be updated to 1.0.0?

Cheers,

Max H.

[2020-09-21 03:48] leorippel commented on #290
Hi, I'm running the deepvariant_1.0.0.sif and I cannot visualize the output of the file. Has to be open from the same file folder?

[2020-09-21 06:55] Redmar-van-den-Berg opened #354 "Crash due to incorrect sample name ("default") in empty VCF file"
**Describe the issue:**
`/opt/deepvariant/bin/run_deepvariant` crashes when there are no variants, because a VCF file gets written with 'default' as the sample name'. This happens because I use targetted sequencing, and when the capture fails, I get hardly any reads. This can be simulated by downsampling the quickstart data to 0.1%, see below.

**Setup**
  - HPC
  - google/deepvariant:0.10.0
  - D

[2020-09-21 07:12] Redmar-van-den-Berg commented on #354
The same error happens with `google/deepvariant:1.0.0`

[2020-09-21 16:23] Mipsology commented on #342
Apologies for no/late response.  And Thank You for following-up.

My issue was :  the failure to do "docker build" after git clone of the repo.

However, I am successful in getting the 0.8 docker image --> install the SW pre-reqs to recompile binaries inside docker --> export to new image for future use.

This issue should be closed.

[2020-09-21 16:35] pichuan commented on #342
@Mipsology Thanks for the update. I'll keep this issue closed.

[2020-09-21 17:00] gunjanbaid commented on #354
Hi @Redmar-van-den-Berg, thanks for reporting this! We will look into the issue and plan to release a fix in the next version of DeepVariant.

[2020-09-21 17:49] gunjanbaid commented on #353
Hi @DiDeoxy, here are [our instructions](https://github.com/google/deepvariant/blob/r1.0/docs/deepvariant-quick-start.md#notes-on-singularity) for running DeepVariant 1.0.0 with Singularity. Specifically, the below commands should get you the 1.0.0 image.

[code]

Where are you seeing the singularity containers at 0.9.0? If you could share a link or paste the commands used, I'll look into that. Th

[2020-09-21 17:51] DiDeoxy commented on #353
Hey,

Thanks, I did that yesterday and got it working.

I was finding the 0.9.0 singularity imagers at: https://console.cloud.google.com/storage/browser/deepvariant/singularity_images?pageState=(%22StorageObjectListTable%22:(%22f%22:%22%255B%255D%22))&prefix=&forceOnObjectsSortingFiltering=false

Cheers,

Max H.

[2020-09-21 19:35] gunjanbaid commented on #353
@DiDeoxy glad to hear you were able to get it working, and thanks for the pointer! We will plan remove the `gs://deepvariant/singularity_images` folder to make things less confusing. The recommended approach is the set of commands mentioned earlier:

[code]

I'll close this issue now, but feel free to reopen if you have any other questions.

[2020-09-21 19:35] #353 closed

[2020-09-21 19:37] pichuan commented on #243
FYI:
I plan to remove the gs://deepvariant/singularity_images directory , and suggest our users to directly pull from our Docker image instead. Example:
[code]

[2020-09-21 19:37] pichuan commented on #265
FYI:
I plan to remove the gs://deepvariant/singularity_images directory , and suggest our users to directly pull from our Docker image instead. Example:
[code]

[2020-09-21 19:41] pichuan commented on #353
Thanks for reporting this.
I removed the gs://deepvariant/singularity_images directory to avoid future confusion.

[2020-09-22 05:09] AndrewCarroll commented on #351
Hi @ahgillmo

We do have a prototype implementation for somatic calling, which can take a tumor and normal BAM and call subclonal variants. However, we don't yet have enough confidence in the available truth sets, and that they come from a diverse enough sampling of cancers with mutational profiles, for us be certain in releasing something of high quality.

We're watching developments in the area

[2020-09-22 05:14] AndrewCarroll commented on #352
Hi @ndesar

We do have a prototype implementation for somatic calling, which can take a tumor and normal BAM and call subclonal variants. However, we don't yet have enough confidence in the available truth sets, and that they come from a diverse enough sampling of cancers with mutational profiles, for us be certain in releasing something of high quality.

From the title of your issue, is it correc

[2020-09-22 05:15] AndrewCarroll commented on #347
Hi @jdmontenegro

I am going to close this issue for now. I will make a note to send you a message if/when we can revisit the CLR model. Thank you for your perspective on what data the community has and what will be valuable to them.

[2020-09-22 05:15] #347 closed

[2020-09-22 16:10] pichuan commented on #290
Hi @leorippel , can you provide more information on your run?
For example, can you try commands similar to https://github.com/google/deepvariant/blob/r1.0/docs/deepvariant-quick-start.md , and let us know what commands you ran, and what files you expected that are not there?
I understand that you're running with Singularity. It'll help us look into your issue if you provide more details.
Thanks!

[2020-09-22 16:45] anands-repo opened #355 "Build from source: issue with java"
Hi, I am trying to build DeepVariant from source, and I encounter the following issue in build_and_test. I have bazel 0.26.1 compiled from source as well.

[code]
I tried passing the argument "--host_javabase=@local_jdk//:jdk" to bazel to no avail.

Java:
[code]

[2020-09-22 16:52] gunjanbaid commented on #355
Hi @anands-repo, can you share more details on the following?

- Operating system
- DeepVariant version - I'm assuming you are building 1.0.0 from source, but please let me know if it's a different version
- Command used to build
- Error trace after passing `--host_javabase=@local_jdk//:jdk`

[2020-09-23 01:48] leorippel commented on #290
Yes, sorry about the blunt message.

 I ran deepvariant with a subset of my data to test. All right with the outputs, but I cannot visualize the visual_report.html. I have the file, but when I open with chrome or firefox nothing is show.

I changed the permissions of the files, didn't help.

I even tried to generate  again usin the just the VCF stats report alone using as  input the vcf file gener

[2020-09-23 02:31] anands-repo commented on #355
Hi @gunjanbaid I do not see the same issue now. I switched to openjdk-11. However, I still need to pass the --host_javabase option, which is not present by default in the build scripts.

I do see another issue. The trace is as follows
[code]

This is for the following command from build_and_test.sh:
[code]

Why is bazel running ```exec env -``` here? This is invalidating library paths (LD_LIBRARY_

[2020-09-23 15:24] anands-repo commented on #355
Installing everything to standard path or updating ldconf solves the issue. I still do not have the whole build working, because bazel is looking for standard python libraries (which is not what I am using) to be used. Overall it seems the installation expects everything to be in standard paths which I believe is a little too stringent, and it may be possible to fix that without too much trouble m

[2020-09-23 15:24] #355 closed

[2020-09-23 15:52] anands-repo opened #356 "Build from source: Cannot use custom compiled python"
I am trying to build DeepVariant from source, and **trying to use a custom python installation rather than the standard one.** However, ```bazel test ``` fails because it tries to use the standard library python. The requisite python is accessible as "python" because it is in the PATH variable, but bazel seems to ignore that and looks for python in the standard location. I am not an expert in baze

[2020-09-23 16:13] anands-repo commented on #356
Upon further examination I find that the file ```bazel-out/host/bin/external/org_tensorflow/tensorflow/tools/git/gen_git_source``` has the following hard-coded into it:

```PYTHON_BINARY = '/usr/bin/python3.6'```

I am not sure where this is generated from.

[2020-09-23 16:40] anands-repo commented on #356
Solved using: https://github.com/bazelbuild/bazel/issues/4815#issuecomment-465194800

However, I will keep this issue open for a little while for any further comments.

[2020-09-23 20:02] #356 closed

[2020-09-24 02:36] leorippel opened #357 "Working with non human data"
Hi,

I have a big load of data to genotype and I did some tests using subsets of my data. My question is if will work use DV default parameter to a Plant genome.

I have no gold set for training model. There is any suggestions?

Cheers.

[2020-09-24 04:11] leorippel opened #358 "CUDNN_STATUS_INTERNAL_ERROR"
**Describe the issue:**
/opt/deepvariant/bin/run_deepvariant crashes when start the GPU stage of call variants.

**Setup**
google/deepvariant:0.10.0
Docker
subset of illumina resequencing data
$nvcc --version
  nvcc: NVIDIA (R) Cuda compiler driver
  Copyright (c) 2005-2017 NVIDIA Corporation
  Built on Fri_Nov__3_21:07:56_CDT_2017
  Cuda compilation tools, release 9.1, V9.1.85
$ nvidia-smi
  NVID

[2020-09-24 17:01] gunjanbaid commented on #354
@Redmar-van-den-Berg this issue has been fixed internally, and the fix will be out with the next release. When gVCF records are present, we will try to extract the sample name from those, instead of using 'default'. I'll close this issue for now, but feel free to reopen if you have any other questions. Thanks!

[2020-09-24 17:01] #354 closed

[2020-09-24 17:36] gunjanbaid commented on #357
Hi @leorippel, DeepVariant has previously been applied to plant species. In the case of rice, there was good evidence of high accuracy. You can see [some results in this blog post](https://cloud.google.com/blog/products/data-analytics/analyzing-3024-rice-genomes-characterized-by-deepvariant). However, these rice genomes were diploid and with a similar variant density of humans.

DeepVariant is cur

[2020-09-24 18:46] gunjanbaid commented on #358
Hi @leorippel, you can pass the desired argument to `run_deepvariant.py` using the below command:

[code]

Specifically, I added: `  --call_variants_extra_args="config_string='gpu_options: {allow_growth: True}'"`

Does adding this fix the memory issue?

[2020-09-24 19:42] gunjanbaid commented on #356
Hi @anands-repo, glad you were able to get it working! I don't have any other comments on the fix and will defer to the relevant bazel issue.

In general, I would recommend running DeepVariant using Docker for the simplest setup. If want to experiment with changes to the codebase, you can clone the DeepVariant repo, modify the source code, and build a Docker image with your changes using [the prov

[2020-09-24 21:38] leorippel commented on #358
Hi @gunjanbaid,

I'm running one individual on CPU mode, as sson this run finishes,  I will try.

Thanks for the help.

[2020-09-24 21:52] leorippel commented on #357
Hi!

I read both of blog posts, and I could see that even the  primary goal is working with human data, DV is very robust. My specie is diploid, so Iguess it helps, and the variant density should no be too  different from humam or rice.

I Actually have two datasets; one is the megagametophyte (1n) of the same individuals (2n). Unfortunatelly, at this point, I don't have a gold dataset to train th

[2020-09-24 23:32] pichuan commented on #290
From the output.visual_report.zip file you attached, I got the HTML file, and can view it:
![image](https://user-images.githubusercontent.com/471813/94210366-5943ae00-fe83-11ea-8931-528607cc5bc8.png)

Do you mean it looks just completely empty to you? Can you try a different computer, or tell us which browser version you're using?
+ @MariaNattestad FYI.

[2020-09-25 00:09] leorippel commented on #290
Wow.

Yes, it looks completely empty for me.

I tried in both chrome and firefox.
google-chrome --version
Google Chrome 85.0.4183.83

firefox --version
Mozilla Firefox 80.0.1

Changed computer and tried on explorer. Completely blank.
Internet Explorer 11
version 11.1726.17134.0

[2020-09-25 01:30] leorippel commented on #290
I got it.

Looking at the source code:

  <script type="text/javascript" src="https://storage.googleapis.com/deepvariant/lib/vega/vega@5"></script>
  <script type="text/javascript" src="https://storage.googleapis.com/deepvariant/lib/vega/vega-lite@3.4.0"></script>
  <script type="text/javascript" src="https://storage.googleapis.com/deepvariant/lib/vega/vega-embed@4"></script>

unfortunately the "h

[2020-09-25 06:03] gunjanbaid commented on #357
@leorippel since your data is diploid and of similar variant density to human data, you could try applying the released DeepVariant models. That said, we can't be sure how well the models will perform on this data. I'll close this issue for now, but feel free to reopen if you have any other questions. Thanks!

[2020-09-25 06:03] #357 closed

[2020-09-25 08:04] edg1983 commented on #346
Hi. After your comment I've repeated the test using the same input BAM (18X WGS sequenced with 150bp paired reads), running deepvar 0.9.0 and 1.0.0 with singularity v.3.5.2-1.1.el7 and exactly the same command (`--num_shards=10`). The running time is now almost the same, much longer than my old test with deepvar 0.9.0 on a 30X WGS.

Below I've reported running time in min for make_example+call_var

[2020-09-25 15:50] anands-repo commented on #356
Hi @gunjanbaid

Unfortunately I am not compiling for x86, but for IBM power, so most of the installation scripts need to be discarded, and packages need to be manually compiled from source using IBM's Advance Toolchain gcc compilers. I have finally gotten all bazel tests to complete as well as the build to complete.

I was wondering whether you could explain one piece of the build files though - t

[2020-09-28 17:44] #351 closed

[2020-09-28 17:58] pichuan commented on #346
Thanks @edg1983
Looking at your numbers.

Comparing **v0.9.0** (slower)  and **v0.9.0 OLD TEST ON 30X WGS**
1. make_examples runtime: 290/198 = about 1.5 times
2. #entries in VCF: 10784757/9096927 = about 1.2 times entries
3. #entries in gVCF: 531371190/213244705 = about 2.5 times
4. call_variants runtime: 1494/456 = about 3.3 times
5. postprocess_variants runtime: 281/82 = about 3.4 times

My obs

[2020-09-28 18:10] gunjanbaid commented on #346
@edg1983 one other possibility: was the run corresponding to `deepvar_0.9.0_oldrun.log` on different hardware than the other two runs? If you are running the other two runs on older hardware that does not support AVX2 or AVX512 instructions, runtime will be noticeably slower because the code will not be able to take advantage of TensorFlow MKL optimizations.

[2020-09-28 18:10] pichuan commented on #346
And an follow up on gVCF file size, (thanks to @tedyun for reminding me of the flag):

There is a flag in `gvcf_gq_binsize` in make_examples that you can set to reduce the size of gVCF file, the tradeoff being the gVCF file size & runtime vs. more accurate representation of GQ in each hom. ref. site.

[2020-09-29 21:28] #352 closed

[2020-09-30 11:54] yonatansc97 opened #359 "Unsolved References/Imports Using The Provided Docker"
**Issue**
I am using the docker you provided, while working on a remote machine.
Using Pycharm Professional's Services tab, I configured my interpreter to run the code I have on my local clone of the entire git.
I am trying to run the "make_examples.py" file line-by-line, to understand it better. The entire clone is on my remote machine, and it runs with the docker container's interpreter. When I

[2020-09-30 21:47] MariaNattestad commented on #359
Hi @yonatansc97

Those imports you listed have something in common: they are in C++ (or protos) and therefore need to be compiled first.
Inside the docker container, we have these already compiled into the binaries like `/opt/deepvariant/bin/make_examples`, while `make_examples.py` is the source, but it won't work without compiling its C++ dependencies.

I don't know how to make this work with you

[2020-10-01 15:26] yonatansc97 commented on #359
Thank you for the answer @MariaNattestad !

[2020-10-01 17:25] yonatansc97 commented on #359
Hi again :)
I tried running the build-prereq / run-prereq. Right now they fail on my machine. However, I feel like building it from scratch on kind of makes the docker useless (which I would like to make use of).
Is it possible that in order to have the entire code files (without the python packages to run it), I can perhaps run only certain lines in the build-prereq?

[2020-10-02 22:10] MariaNattestad commented on #359
Docker is very useful for running DeepVariant, but usually people who want to experiment with making changes in DeepVariant will build from source, and then they can always package that up into a Docker image afterwards.

We don't really have much ability to support you in running DeepVariant line-by-line, since that's not how it's meant to be used. But you are of course welcome to experiment with

[2020-10-03 06:58] yonatansc97 commented on #359
Ok, Thanks!

[2020-10-03 06:58] #359 closed

[2020-10-05 01:05] leorippel commented on #358
Hi @gunjanbaid,

I came across anothe memmory problem, not to GPU, but the CPU. The postprocess_variants.py   is consuming a ridiculous amount of memory:

This is how I'm runing:

`sudo docker run --memory="100g"  --memory-swap="101g" --oom-kill-disable -v "${DATA_DIR}":"/input" -v "${OUTPUT_DIR}:/output" google/deepvariant:"${BIN_VERSION}"  /opt/deepvariant/bin/postprocess_variants --ref "/input/

[2020-10-06 08:09] edg1983 commented on #346
I want to give you an update on the situation. Following your suggestions, I've discussed with the system administrators and I found out that some older nodes on the cluster do not have AVX2 or AVX512 instructions. I've now completed a test running on nodes supporting those and the running time on the same BAM file is ~14h (290+326+134). So I've discussed with them and found a way to allocate all

[2020-10-06 16:53] gunjanbaid commented on #358
@leorippel here is some information that might be relevant from [the docs](https://github.com/google/deepvariant/blob/r1.0/docs/deepvariant-details.md):

[code]

It seems like you don't have much memory left on your machine, so that could be the issue. If you are able to free up some memory, you can run a sanity check by trying one of our [case studies](https://github.com/google/deepvariant/blob/r

[2020-10-06 20:46] leorippel commented on #358
@gunjanbaid I forgot to mention, this is the` free -h` meanwhile is running the postprocess_variants. Before running the job is with the whole 126gb free and none of the 36 cores are in use. By that I want to say the whole machine is dedicated just to the postprocess.

This is what I'm finding odd. 125 gb of ram plus 100gb of swap should be more than enough for the task. With a very small subset o

[2020-10-08 16:24] gunjanbaid commented on #358
@leorippel got it, thanks for the clarification! I'm not sure what the issue is in this case, but if you are able to use a machine with more memory, that would be the easiest option. Another option is to shard your data by chromosome and run DeepVariant separately for each chromosome (or groups of chromosomes).

[2020-10-11 04:52] anands-repo opened #360 "Shuffle script for training runs out of memory"
**Describe the issue:**
Shuffle script for tfrecords (https://github.com/google/deepvariant/blob/r1.0/docs/deepvariant-training-case-study.md) runs out of memory when using a training set from multiple BAM files.

This is what I followed:
- Run make_examples for each BAM file to obtain tfrecords
- Run shuffle script (https://raw.githubusercontent.com/google/deepvariant/r1.0/tools/shuffle_tfrecords

[2020-10-11 20:47] tedyun commented on #346
Hi Edoardo,

I'm glad to hear that you got the runtime issue sorted out! I'll keep this ticket open for your original issue about hom. ref. calls in zero coverage regions. Please let us know if you have any other issues/questions.

Thanks,
Ted

[2020-10-13 00:40] pichuan commented on #360
Hi @anands-repo , when you say it runs out of memory, are you using `DataflowRunner` like in our documentation?

[2020-10-13 00:40] #346 closed

[2020-10-13 00:41] pichuan commented on #358
Hi @leorippel , I'm going to close this issue now. Feel free to let us know if you have more questions.

[2020-10-13 00:41] #358 closed

[2020-10-13 01:08] anands-repo commented on #360
Hi @pichuan

I am not running on Google Cloud, but on a local machine. So I went with the default runner.

When I use DataflowRunner the shuffle scripts requests arguments relevant to GCS. For example I get errors such as:

```Invalid GCS path (<PATH>), given for the option: temp_location```

<PATH> here is actually a valid path in my machine.

Kindly advise. Thanks!

[2020-10-13 01:12] anands-repo commented on #360
Command that works, but runs out of memory is this:

[code]

Command that doesn't run and gives error:
[code]

Obtained error: ```Invalid GCS path (<PATH>), given for the option: temp_location```

[2020-10-13 02:10] pichuan commented on #360
Hi @anands-repo

The point of using Dataflow is to run things in a distributed fashion, which means it shouldn't be running on your local machine.
I assume that Spark runner should allow you to run with distributed workers as well if you set it up correctly, but I have never used it myself.
Our team doesn't support different distributed setup for Beam. Please refer to https://beam.apache.org/docum

[2020-10-13 02:10] #360 closed

[2020-10-13 02:24] anands-repo commented on #360
Hi @pichuan Thanks for the advise. Will look into these possibilities.

The coarse-grained shuffling would be easiest, however it is mentioned that shuffling is an important step in the document you mentioned as well as the training page. Technically stochastic/batch gradient descent does depend on random batches.

I will look into spark, as well as other options like dask or torque (which would n

[2020-10-13 14:55] aderzelle opened #361 "Is there still no way to limit the cpu usage?"
Hello,

whatever the number of shards, DeepVariant invariably ends up taking the whole 48 threads on our machine. Is there a fix or a planned fix for that?

[2020-10-13 20:47] leorippel commented on #358
Yes, it fixed the issue. Thanks!

[2020-10-13 20:52] leorippel commented on #358
I took the intermediate results and ran into a bigger machine. It worked. The memory consumption rised to 435G !! by far the hungry step. Thanks.

[2020-10-15 13:33] loipf opened #362 "error running help command"
I downloaded your docker ( `docker pull google/deepvariant:1.0.0` ) and it runs perfectly and I am really happy with it.

However, I wanted to check out some options, so I run your readme command:
`docker run google/deepvariant:1.0.0 --help`
which lead to following error:
[code]
should I change the command or is it an error with the image ?

do not worry it is not urgent, but I would be really kee

[2020-10-15 15:37] pichuan commented on #361
Hi @aderzelle ,
I was planning to look into this today and reply. I think it is possible that there are some options in tensorflow.
I noticed that you just closed this issue. If you already found an answer, can you reply here for future reference? Thank you!

[2020-10-15 16:22] aderzelle commented on #361
Hi @pichuan

oh no I haven't found a way ... I closed because rereading my phrasing I was afraid it sounded like a non-constructive complain.
Difficult for me to express it in English ... basically I was afraid opening this issue the way I did was not polite.

(but yes, it would be a cool option)

[2020-10-15 16:34] pichuan commented on #361
No problem :) let me take a look today and get back to you.

[2020-10-15 20:07] pichuan commented on #361
Hi @aderzelle ,
I think you can use the TensorFlow config string to constraint the CPU use of the call_variants step.

For example, this discussion talked about how to run TF on one core:
https://medium.com/@liyin2015/tensorflow-cpus-and-gpus-configuration-9c223436d4ef

If you're running call_variants directly, you can add a flag like `--config_string "device_count {key: 'cpu' value: 1} intra_op_p

[2020-10-15 20:16] pichuan commented on #361
@aderzelle Now I'll actually close this issue.
If you try it out, let me know whether it worked or not. Thanks!

[2020-10-15 20:16] #361 closed

[2020-10-16 03:46] pichuan commented on #362
Hi @loipf ,
You can use `--help` with the different binaries, for example:

[code]

To see the various binaries, you can use:
[code]
to list all the binaries.

Then, for example, you can run:

[code]

or any other binaries.

I understand your point though. It might be easier if we have a more clear help page without knowing the structure. I'll think about this and see if we can improve in the futu

[2020-10-16 03:46] #362 closed

[2020-10-20 21:08] anands-repo opened #364 "(TRAINING) Expected number of output files from shuffle script"
Hi,

I am running the shuffle script (https://raw.githubusercontent.com/google/deepvariant/r1.0/tools/shuffle_tfrecords_beam.py) on some training data. I am wondering how many output files are expected from running the script.

When I use DirectRunner, I get a single output file. When I use the SparkRunner I get as many output files as there are input files fitting the pattern (I have noticed this

[2020-10-20 21:24] anands-repo commented on #364
I will close this issue, and repeat this question where I previously had a thread on the same topic.

[2020-10-20 21:24] #364 closed

[2020-10-20 21:26] anands-repo commented on #360
@pichuan

As you know, I am running the shuffle script using Spark. I am wondering how many output files are expected from running the script.

When I use DirectRunner, I get a single output file. When I use the SparkRunner I get as many output files as there are input files fitting the pattern (I have noticed this mismatch between spark/direct runner in another situation as well: https://stackove

[2020-10-21 00:42] pichuan commented on #361
Hi @aderzelle ,
Another approach is to use `docker run --cpus=$THREADS` to constrain the number of CPUs.
Hopefully this approach should work even if the previous one didn't.

[2020-10-23 01:37] hongssy opened #366 "SNP that looks real through IGV is not called"
**Describe the issue:**
hi
I used deepvariant version 1.0.0 to analyze the ccs data of mitochondria, but a snp was not called. The details are as follows：

![image](https://user-images.githubusercontent.com/25741799/96946498-20930500-1513-11eb-988c-d308fe52db80.png)
![image](https://user-images.githubusercontent.com/25741799/96946551-44eee180-1513-11eb-8d3a-c57b532cef58.png)

[2020-10-23 11:08] sjin09 opened #367 "Using deepvariant with non-reference genomes"
**Describe the issue:**
(A clear and concise description of what the issue is.)

**Setup**
  - Operating system: Ubuntu
  - DeepVariant version: 0.9.0
  - Installation method (Docker, built from source, etc.): Docker
  - Type of data:  sample: CHM13, instrument: PacBio Sequel CCS sequencing, reference genome: CHM13 draft genome from T2T project

**Steps to reproduce:**
  - Command:

[code]

  - Er

[2020-10-24 13:55] xuxif opened #368 "Where is deepvariant_pb2"
When I go through the make_example.py I can not find where is the deepvariant_pb2 ?

[2020-10-24 15:55] anands-repo opened #369 "Question on Haplotag sorting for PacBio and Hybrid data"
My understanding is that DeepVariant requires two steps to call variants for PacBio data. First step is to call variants directly on the BAM files and haplotag the BAM file with this first order call set, and the second step is to call variants on the haplotagged BAM files. Based on this, I have a few questions on how data is prepared for training.

1. For PacBio v1.0 training data, are haplotagge

[2020-10-25 19:15] akolesnikov commented on #366
Hi,

Couple of points:
* DeepVariant model is created specifically for a human genome. It may not perform optimally on a non-human data.
* It looks like candidate was not created at all so this is not a model issue. I cannot say exactly why candidate was not created but having the exact command line may help.
* By default DeepVariant performs a local realignment when creating candidates. With this

[2020-10-25 19:22] akolesnikov commented on #367
* Please make sure that contig names are consistent in both BAM file and reference. May be you could paste couple of lines (10 lines) from BAM and from your reference?
* Having "Failed to retrieve block: unexpected end of file" error message may mean that BAM index does not match the BAM file. Could you try to reindex your BAM?

[2020-10-25 19:23] akolesnikov commented on #368
deepvariant_pb2 is a generated file. You need to build make_examples in order for this file to be generated.

[2020-10-25 19:31] akolesnikov commented on #369
Hi,

Below are the answer for the first 3 questions. The rest will be answered later.
1. Yes.
2. I'm not sure I fully understand the question. But, DeepVariant is trained on a mix of sorted and unsorted data. You may run DeepVariant make_examples with either hap-sorted or unsorted BAMs. There are 2 flags that need to be set in order for DeepVariant to take advantage of hap-sorted data.
3. Yes. If

[2020-10-26 02:32] pichuan commented on #368
Hi @xuxif ,
Adding on to @akolesnikov 's answer, you can find the original proto definition here:
https://github.com/google/deepvariant/blob/r1.0/deepvariant/protos/deepvariant.proto

[2020-10-26 02:49] hongssy commented on #366
thanks for your responses

command line：
docker run  \
  -v /sfs-grand-med-research/:/sfs-grand-med-research/ \
  swr.cn-north-1.myhuaweicloud.com/grand-med-clinical/deepvariant:"1.0.0" \
  /opt/deepvariant/bin/run_deepvariant \
  --model_type=PACBIO \
  --ref=human_g1k_v37.main_chrom.fasta \
  --reads=202022.hg19.pbmm2.sort.MT.bam \
  --output_vcf=202022.MT.vcf.gz \
  --num_shards=16 \
  --interm

[2020-10-26 06:43] anands-repo commented on #369
Hi @akolesnikov , thanks for the responses. A follow-up - if a model is not intended to be used for generating the haplotagging VCF, but only intended for the final variant call, then is it acceptable to train using only haplotagged images?

[2020-10-26 10:05] nikostr opened #370 "Writing realigned reads causes storage issues"
I'm attempting to write a bam file of the realigned reads, as I'm seeing ADs in the vcf that do not line up with what is present in the input bam file. I'm mainly concerned with two specific locations in the genome. The full genome is approx 11 Gbp, the input bam file is about 190 GB, and the drive I'm attempting to output to has more than 4 TB available.  When using `-emit_realigned_reads` and us

[2020-10-26 14:54] maricatovictor opened #371 "Is there a way to get the last layer of the model as output?"
My goal is to use DeepVariant in a transfer learning application.

Is it possible to get the last layer as an embedding output?

If yes:
  Is it possible to use it as a Python module to get these embeddings?

Also, is it possible to run DeepVariant in with a VCF input?

Thank you.

[2020-10-26 16:46] akolesnikov commented on #370
HI,

Seven million realigned BAMs seems to be a right number. For your purposes you may use --regions parameter that would restrict make_examples to a specific region. For example --regions chr20:1000-1500 would generate BAM files for 500 bases. In addition, if you use --regions flag you may want to remove a shardining from output examples files name: make_examples.tfrecord.gz instead of make_exam

[2020-10-26 18:14] AndrewCarroll commented on #371
Hi @maricatovictor

1. Accessing the pre-logit layer (and other layers) is demonstrated in the code here: https://github.com/google/deepvariant/blob/r1.0/deepvariant/modeling.py#L1161

This is probably the best place to start experimenting if you would like to take information from within the layers for other purposes.

2. There is a new (and somewhat experimental) method to force-call on position

[2020-10-27 05:46] gunjanbaid commented on #369
@anands-repo if you wish to only train with HP sorted images, that is a reasonable design decision. In our case, we could have trained two models, one model only with HP sorted images, the other model without sorting by HP. Based on empirical evidence, we find that mixing the training data and training one model was reasonable. That also allowed us to distribute one model, rather than two separate

[2020-10-27 06:43] AndrewCarroll commented on #366
Hi @hongssy

I think I may know why this variant isn't being called. To call variants, Deepvariant constructs a pileup image of a 221 bp region of the genome (110 bp to the left and right of the candidate position). If the start or end of the contig falls within this window, DeepVariant will fail, and as a result we do not generate candidates when this is the case.

Normally, the ends of a contig

[2020-10-27 12:18] maricatovictor commented on #371
@AndrewCarroll 2 was exactly what I meant, thank you!

About accessing pre-logit layer, I understand that is how you do under the hood, yet, is there any user interface through CLI or Python Module that I could use.

As far as I know, in order to use this `endpoint['PreLogits']` approach, I would need to fork the DeepVariant and change the output, am I missing something?

[2020-10-27 14:41] MorganHow opened #372 "ValueError: The middle base of reference sequence in the window (A at base 110) doesn't match first character of variant.reference_bases (T)."
I've never encountered this error previously and I cannot figure out what is causing the issue. Looks like something to do with the reference file?

user@node1784:~/MyData$ /opt/deepvariant/bin/run_deepvariant --model_type=WGS --ref=./hg19.fa --reads=./NA12878_S1.bam --output_vcf=./NA12878_DeepVariant_output.vcf.gz --num_shards=1
I1027 14:35:49.384760 139774463268608 run_deepvariant.py:273] Re-usi

[2020-10-27 16:25] anands-repo commented on #369
Thanks for the explanations @gunjanbaid . It makes sense to have a single model for PacBio for both haplotagging and variant calling. I will close the issue for now.

[2020-10-27 16:25] #369 closed

[2020-10-27 18:06] gunjanbaid commented on #368
Marking this as resolved, but feel free to reopen if you have other questions @xuxif.

[2020-10-27 18:06] #368 closed

[2020-10-27 22:36] AndrewCarroll commented on #371
Hi @maricatovictor

At this time, we have not put effort into abstracting these components into a module. We'll take your request into account for future development. It is definitely something that we would like to do, but we likely have a few more pressing issues to address.

Yes, right now you would need to fork the code to be able to work with the pre-logits.

Thank you,
Andrew

[2020-10-28 01:51] gunjanbaid commented on #372
@MorganHow does your reference match the BAM file you are using? From looking at this error message, my first thought is that your BAM file is mapped to a different reference.

[2020-10-28 06:08] YanJiunLiu opened #374 "Make_Example fail because of bed.file content"
**Describe the issue:**
Make_Example fail because of bed.file

**Setup**
  - Operating system:ubuntu18.04
  - DeepVariant version:v1.0.0
  - Installation method (Docker, built from source, etc.):Docker
  - Type of data: same as case study

**Steps to reproduce:**
  - Command:
      /usr/local/seqslab/deepvariant/bazel-bin/deepvariant/make_examples \
     --mode calling \
     --ref /opt/command/te

[2020-10-28 12:22] maricatovictor commented on #371
Ok! No problem, thank you for your assistance! :smile:

[2020-10-28 17:02] MorganHow commented on #372
I believe that was the issue due to some poor naming on my end. Thanks again

[2020-10-28 17:02] #372 closed

[2020-10-28 17:40] #371 closed

[2020-10-28 18:57] gunjanbaid commented on #374
@YanJiunLiu you may want to check that the BED file is correctly formatted with the extra column. For example, does `bcftools view part_0.bed` work without issues when you have 5 columns? I'll post an update if I think of any other reasons this error could be happening.

[2020-10-28 19:01] gunjanbaid commented on #374
@YanJiunLiu could you attach a small snippet of the BED file that is not working for you? Perhaps there is some formatting issue.

[2020-10-29 03:14] YanJiunLiu commented on #374
This is the bed file that execute make example fail
![Uploading 截圖 2020-10-29 上午11.12.18.png…]()

[2020-10-29 03:23] YanJiunLiu commented on #374
This is the bed file that execute make example fail
<img width="672" alt="截圖 2020-10-29 上午11 12 18" src="https://user-images.githubusercontent.com/63279862/97521250-23409f00-19d8-11eb-8489-f0d0968d872d.png">

[2020-10-29 03:25] YanJiunLiu commented on #374
Ｗhen I delete the “5000” , it works
<img width="672" alt="截圖 2020-10-29 上午11 24 34" src="https://user-images.githubusercontent.com/63279862/97521833-5afc1680-19d9-11eb-8427-0c2b1abb7316.png">

[2020-10-30 22:19] gunjanbaid commented on #366
I'll close this issue now, but feel free to reopen if you have any other questions @hongssy.

[2020-10-30 22:19] #366 closed

[2020-10-30 22:20] gunjanbaid commented on #370
@nikostr I'll close this issue, but feel free to reopen if you have any other questions.

[2020-10-30 22:20] #370 closed

[2020-11-01 01:26] anands-repo opened #376 "Is the TPU training case-study deprecated?"
In v0.9 there is a TPU training case-study. Are the tpu-based options/setup given there not valid from v0.10 onwards?

[2020-11-01 02:11] pichuan commented on #376
Hi @anands-repo
Our codebase still supports TPU like before!
We decided to change our training tutorial to use GPU and CPU because it's a more general setting. Even though our code still supports TPU, we think it's better to simplify our tutorial.
If you encounter any issues when using DeepVariant with TPU, and if you suspect the issue might be in our codebase, please let us know.
(Btw, out of cur

[2020-11-02 03:27] anands-repo commented on #376
@pichuan Thanks for confirming!

I tried GPU-based training, but since the codebase currently doesn't support multi-GPU runs, it may not be efficient for me to use GPU-based training. Hence I am looking into using TPUs for the same. I will gladly provide feedback once I am able to do it.

[2020-11-02 05:45] pichuan commented on #376
Sounds good. You might also want to refer to the latest TPU documentation to see if anything changed, but overall it should still work. If you have any questions, feel free to open another issue.

[2020-11-02 05:45] #376 closed

[2020-11-02 17:44] pichuan commented on #374
I'll plan to take a look but might be later this week. Thanks.

[2020-11-02 21:59] sjin09 commented on #367
deepvariant has been successful!

[2020-11-02 22:00] #367 closed

[2020-11-02 22:10] sjin09 opened #377 "HG002-HG003-HG004 trio deepvariant and de novo mutation calling"
**_Describe the issue:_**
I was wondering if the authors have recommended method for generating a set of high-confidence de novo germline mutations from trio-deepvariant vcf files.

I have used DeepVariant 0.9.0 version for calling the germline mutations and I have merged HG002, HG003 and HG004 .g.vcf.gz files using GLnexus. If there isn't a recommendation calling de novo germline mutations from t

[2020-11-03 05:12] AndrewCarroll commented on #377
Hi @sjin09

Thank you for your question. We are actively working on a solution for this area (trio calling) and expect to have something in the timeframe of a few months from now. For now, the most accurate way to identify de novos with DeepVariant is to run DeepVariant v1.0, use GLnexus to merge the inputs, and identify de novo variants from the joint call file.

Thank you,
Andrew

[2020-11-03 19:00] sjin09 commented on #377
Hello @AndrewCarroll

We look forward to the development. We will create a custom de novo mutation caller for now.

Many thanks,
Sangjin

[2020-11-03 19:48] #377 closed

[2020-11-04 00:46] anands-repo opened #378 "Training: How to reevaluate all checkpoints?"
I launched a training run, but the evaluation run wasn't launched concurrently. When I launch it, it simply evaluates the final checkpoint, not all the checkpoints in between. Is there an option force evaluation of all checkpoints in model_eval?

[2020-11-04 00:52] pichuan commented on #378
There isn't an option right now but it should be possible to make changes to the code to do this. Unfortunately this is not a highly prioritized feature (even internally), so we won't plan to implement it anytime soon. If you end up implementing it, let us know! Thank you.

[2020-11-04 00:52] #378 closed

[2020-11-04 03:04] anands-repo commented on #378
Hi @pichuan

Here is a helper shell script for that: https://raw.githubusercontent.com/anands-repo/deepvariant/r1.0/tools/post_eval.sh

Steps to use:
1. Create a target empty working directory: $WORKDIR
2. Launch model_eval with checkpoint directory = $WORKDIR, and direct output logs to $WORKDIR/eval.log
3. Launch post_eval.sh as: post_eval.sh $TRAINING_DIRECTORY $WORKDIR

The post_eval script cop

[2020-11-07 07:17] yonatansc97 commented on #306
Hi,
I too am trying to deepen my understanding of DeepVariant (pun unintended).
If I understand the discussion above correctly, whenever there is an insertion, the insertion itself will not be present in the pileup image, and the preceding pixel will be zero'd out.

So if we have a cigar 6M3I1M such as:
ref: ACGCCT      T
alt: ACGCCTCCCT
this will actually be represented in the pileup as:
ref: ACG

[2020-11-07 07:20] yonatansc97 opened #379 "Understanding insertions in DeepVariant"
Hi,
I am trying to deepen my understanding of DeepVariant (pun unintended), similar to what is written here (https://github.com/google/deepvariant/issues/306).
If I understand the discussion above correctly, whenever there is an insertion, the insertion itself will not be present in the pileup image, and the preceding pixel will be zero'd out.

So if we have a cigar 6M3I1M such as:
ref: ACGCCT T
a

[2020-11-09 02:35] jumpyknight commented on #379
Hi, glad to see my issue is helping you.
Since DeepVariant performs local-realignment on indel sites, it is possible that DeepVarianat sees a variant site differently with CIGAR in BAM file.As shown in channel 6 of this site, there's another site very close, sometimes DeepVariant treats an insertion-deletion haplotype as an snp-snp one.
It would be helpful if you can provide the variant informatio

[2020-11-09 04:51] pichuan commented on #374
My current investigation shows that this went down the path here:
https://github.com/samtools/htslib/blob/1.10.2/hts.c#L460-L463

which ended up identify this file as an FAI format.

And then this format gets into this switch:
https://github.com/samtools/htslib/blob/1.10.2/hts.c#L1069-L1105
But FAI format doesn't get read here, so it got into the last branch of the switch:
[code]

One potential so

[2020-11-09 04:51] #374 closed

[2020-11-09 04:55] pichuan commented on #374
One thing I will propose to do is at least to update the Nucleus message to say something more than just "Not found", so that even it fails, the error message will be more uderstandable.

[2020-11-09 07:04] yonatansc97 commented on #379
Thanks for the comment, @jumpyknight

What you suggest is interesting, but do you think it is plausible even if the insertion is of length 5? If that was the case, I would have expected to have more pixels 'lit up' as snps, or more pixeld 'darkened' as insertions, right after the position at which the insertion took place. However, no such behaviour takes place (referring again to the 6th channel)

[2020-11-10 18:21] AndrewCarroll commented on #379
Hi @yonatansc97

In the default WGS and exome models, DeepVariant does not expand the content of insertion sequences. Instead, it represents them with a character marker that indicates that an insertion is present at the position. To a human, this visually looks like a SNP in the pileup, but the machine learning model can easily distinguish this from a SNP event.

This representation is necessary

[2020-11-11 15:41] yonatansc97 commented on #379
Thanks @AndrewCarroll
I think I understand the encoding better now.

[2020-11-11 15:41] #379 closed

[2020-11-12 04:47] narendrachaudhary51 opened #380 "Cannot build on Centos 7 due to CLIF dependency"
**Describe the issue:**

I am trying to build deepvariant on my machine that has Centos 7 and it seems there are no instructions to do that. All the instructions are based on Ubuntu operation system. I install all the dependencies but it seems there is no version of CLIF for Centos 7. So I tried building CLIF on my machine using clang/llvm 11.0.0. I get the following error during installation of t

[2020-11-12 23:04] umahsn opened #381 "Information about pre-trained PacBio models in v1.0.0"
Hi, is it possible to get some information regarding training of default PacBio models in v1.0.0? Specifically,

1. What genomes were used in training?
2. What was the source of BAM or FASTQ files of genomes used for training, and are they publicly available?
3. What ground truth variant call set was used for training? If GIAB benchmark variants were used, then which version was used?

I see this

[2020-11-13 05:21] AndrewCarroll commented on #381
Hi @umahsn

1. Training data comes from: the Human Pangenome Reference Consortium, [linked in this GitHub repo](https://github.com/human-pangenomics/HG002_Data_Freeze_v1.0). This includes HiFi sequencing for HG003 and HG004 which we contributed. It also includes data available on the [Genome in a Bottle FTP](ftp://ftp-trace.ncbi.nlm.nih.gov/giab/ftp/data/) in the CCS folders for individuals.

2. M

[2020-11-13 17:12] sgoe1 commented on #380
Hi @narendrachaudhary51, thanks for the question.

The recommended way to run DeepVariant is with our Docker image (see [quickstart](https://github.com/google/deepvariant/blob/r1.0/docs/deepvariant-quick-start.md)).

We don't explicitly support building from source on CentOS 7, although it should be possible with some modifications. I can refer you to issues #95 and #29, which you may find useful.

[2020-11-13 17:12] #380 closed

[2020-11-14 19:17] anands-repo opened #383 "(TRAINING) model-ckpt-0 shows low accuracy even when loaded from a previous checkpoint"
I ran training for a number of epochs and obtained a model checkpoint (lets call it `checkpoint-first`) with accuracy > 0.99 (F1/All). Then I launched training again with `--start_from_checkpoint=checkpoint-first`

I expected `model-ckpt-0` for the second training run to show the same high accuracy as `checkpoint-first`. But it shows very low accuracy instead (F1/All is 0.85 or so). However the ne

[2020-11-15 00:17] umahsn commented on #381
Thank you. I want to use a PacBio model trained on v3.3.2 benchmark variants. I assumed that the following model:  deepvariant/models/DeepVariant/0.9.0/DeepVariant-inception_v3-0.9.0+data-pacbio_standard from DeepVariant bucket released in 2019 is trained on v3.3.2. However, when I run this model in call_variants using examples created by make_examples from DeepVariant v1.0.0, I get the following

[2020-11-15 19:57] gevro opened #384 "PCR duplicates"
Hi, Does Deepvariant filter out (i.e. exclude) read duplicates, assuming they are flagged in the BAM/CRAM file? This is not mentioned in the documentation.

[2020-11-15 22:17] gevro opened #385 "Singularity version error: ModuleNotFoundError"
Hi,
I'm using the docker Deepvariant 1.0.0 via singularity, and getting this error:

Traceback (most recent call last):
  File "/tmp/Bazel.runfiles_nug2d3l9/runfiles/com_google_deepvariant/deepvariant/make_examples.py", line 47, in <module>
    import tensorflow as tf
  File "/gpfs/home/evrong01/.local/lib/python3.6/site-packages/tensorflow/__init__.py", line 101, in <module>
    from tensorflow_c

[2020-11-15 22:39] gevro commented on #385
I believe the issue is that singularity is using my local python, instead of python inside the image.... How do I fix this?

[2020-11-16 05:24] AndrewCarroll commented on #381
DeepVariant v1.0 includes two additional channels which align reads to the ALT sequences (with the channels being different when more than one ALT allele is present).

Even if the model shapes between versions are compatible, it is not a good idea to apply the model from one version with the machinery of another. This is because the training process for each model uses the machinery of that same v

[2020-11-16 05:26] AndrewCarroll commented on #384
Hi @gevro

Yes, DeepVariant excludes reads that are marked with the duplicate flag in the BAM file. Empirically, we have found that marking duplicates makes very little difference in the samples we have looked at for 30x+ coverage. But it does have a slight effect on 15x-25x coverage range.

[2020-11-16 05:34] AndrewCarroll commented on #383
Hi @anands-repo

This is something that we observe in training as well, and has also been reported by other users - [see this GitHub issue](https://github.com/google/deepvariant/issues/185) for deeper discussion

In short, this occurs because not all variables are loaded when warmstarting a model. Retraining does quickly re-learn, but this is the reason for the initial drop. You should still be ab

[2020-11-16 18:14] gevro opened #386 "REFCALL and GLnexus merging"
Hi,  Two questions:
1) What does REFCALL mean? I saw another issue explaining it, but I'm still not understanding. If Deepvariant thinks a site is reference, why is it being reported at all? gVCF is supposed to report reference calls, but per VCF specifications, Deepvariant should not report reference calls. Furthermore, if it is a reference call, why is there an ALT allele?

2) Does your GLNexus

[2020-11-16 18:20] pichuan commented on #385
@gevro Given the error information, can you try installing setuptools?
For example, https://stackoverflow.com/questions/14426491/python-3-importerror-no-module-named-setuptools

[2020-11-16 18:26] gevro commented on #385
I tried, but then I get this error:
Traceback (most recent call last):
  File "/tmp/Bazel.runfiles_39ce4fku/runfiles/com_google_deepvariant/deepvariant/make_examples.py", line 47, in <module>
    import tensorflow as tf
  File "/gpfs/home/evrong01/.local/lib/python3.6/site-packages/tensorflow/__init__.py", line 101, in <module>
    from tensorflow_core import *
  File "/gpfs/home/evrong01/.local/l

[2020-11-16 18:27] gevro commented on #385
For some reason singularity is accessing my local python libs, instead of the singularity image's libraries.

[2020-11-16 18:38] AndrewCarroll commented on #386
Hi @gevro

DeepVariant has two steps in calling variants. In the first (**make_examples**) a fairly simple, human-written heuristic identifies positions that are potentially variant and creates pileup examples of them. In the second stage (**call_variants**), a neural network classifies whether those positions are real variants or not and genotypes them.

A RefCall entry occurs when a candidate va

[2020-11-16 20:17] gevro commented on #386
Thank you! I'm still curious-- if RefCall entries are rejected by 'call_variants', why are they still reported in the final VCF? Do they enable some sort of helpful QC checks? If so, which? Since any downstream application would filter these out, I'm a bit unclear why an internal variant nomination process is included in the final output.

[2020-11-16 20:49] AndrewCarroll commented on #386
Hi @gevro

The inclusion of RefCall allows us to have a full record of every variant that DeepVariant was asked to classify. This is useful for QC (helping to distinguish between not enough coverage to nominate a candidate versus some other issue making the position difficult. Since the confidence values of DeepVariant are well-calibrated, It allows users to select for different filtering criteria

[2020-11-16 22:35] gevro commented on #386
Thank you very much for explaining.

[2020-11-16 22:35] #386 closed

[2020-11-17 02:01] anands-repo commented on #383
Thanks for the explanation!

[2020-11-17 02:01] #383 closed

[2020-11-17 02:28] umahsn commented on #381
Thank you, I agree with you about v4.2 being more comprehensive and correct. However, the reason why I am interested in a model trained on v3.3.2 is because I wanted to test DeepVariant's performance on v4.2 benchmark variants, for which it would be better to use a model that was not already trained on v4.2 benchmark variants. Just to get final clarification, PacBio model in the current v.1.0.0 re

[2020-11-17 04:47] AndrewCarroll commented on #381
In the current release, training occurs on chr1-19 using the v3.3.2 benchmark set for HG001, HG005-HG006 using BAM files mapped to GRCh37 (it's important to use GRCh37 when benchmarking with v3.3.2 as there are liftover artifacts on GRCh38 since v3.3.2 was not constructed on this truth set.

v4.2 regions are used in training with HG002-HG004 in the current version with GRCh38. With the next versio

[2020-11-17 05:29] umahsn commented on #381
Great, thank you!

[2020-11-17 05:29] #381 closed

[2020-11-20 00:25] danielecook commented on #385
@gevro can you send the command you are using to run singularity?

[2020-11-20 01:34] gevro commented on #385
singularity run -B /usr/lib/locale/:/usr/lib/locale/ ~/bin/deepvariant/deepvariant_1.0.0.sif /opt/deepvariant/bin/run_deepvariant --model_type=WGS --ref=reference.fasta --reads=input.bam --regions=regions.bed --output_vcf=output.vcf.gz --output_gvcf=output.g.vcf.gz --num_shards=16

I also tried with the -e flag, and removing -B. Same error.

[2020-11-20 15:55] danielecook commented on #385
@gevro this may be related:

[Stackoverflow #62693948](https://stackoverflow.com/questions/62693948/why-does-mounting-the-home-directory-in-singularity-container-break-a-python-imp)

What directory are you running singularity from? I have run into issues in the past running singularity from my home directory.

Try the following:

(1) Move all data files to a dedicated folder if they are not alread

[2020-11-21 01:02] gevro commented on #385
Yup that fixed it! Singularity is a fairly problematic system given the complexity of how it treats the native environment and folders/permissions outside the container. I wish it was made more seamless like docker, because it's a real hassle to use.

[2020-11-23 17:56] #385 closed

[2020-11-24 08:04] #384 closed

[2020-11-24 21:33] gevro opened #388 "Missed variant - Illumina WGS"
Hi, The attached variant was missed. It was detected in 39 / 39 reads (100%) at the locus, and all reads have high MAPQ. Very strange, but warrants an explanation. It was not even a RefCall variant. Appreciate any advice.
<img width="943" alt="Screen Shot 2020-11-24 at 4 31 05 PM" src="https://user-images.githubusercontent.com/47928628/100153865-bd2e2700-2e72-11eb-9af1-c182b3fd57ee.png">

[2020-11-25 22:03] gevro commented on #388
Here it is: https://www.dropbox.com/s/0jw1dmmtxxikgxv/sample.bam?dl=0
Aligned to CHM13: https://github.com/nanopore-wgs-consortium/CHM13
https://s3.amazonaws.com/nanopore-human-wgs/chm13/assemblies/chm13.draft_v1.0.fasta.gz

[2020-11-26 08:03] AndrewCarroll commented on #388
Thank you, we're taking a look at the example and expect to have feedback relatively soon (with some delay for holidays in the US).

[2020-11-27 09:13] baiyida opened #389 "call variant with fp16"
hi
i want to cast model in /opt/models/wgs/model.ckpt to fp16 to satisfy my poor machine，
but can not reload the model from model.ckpt.meta.
I try to get graph from source code ,so that i can restore and save a new model,but the model i saved did not math the model tensorname in the source code.
 how can i  convert trained model to fp16? or where i can download a fp16 model

[2020-11-28 23:00] akolesnikov commented on #388
We tried to reproduce the problem with the sample.bam. From the original post it was not obvious what variant was missing. I assume it is the one at position chr3:76,275,581.
Here is what we get when running with all default parameters:
[code]

The variant at position chr3:76,275,581 is an insertion which doesn't match the original alignment in sample.bam. That happened  as a result of a local rea

[2020-11-28 23:56] gevro commented on #388
Thanks so much! I think I understand the issue now, but Deepvariant is still giving a wrong answer.
You can see that this particular location in the genome has a tandem repeat of 6 copies of a 47 bp sequence:
https://genome.ucsc.edu/cgi-bin/hgc?hgsid=960400993_qiSzxsvvUkaPrDYeYJ2KhGLAK2ay&c=chr3&l=76220845&r=76221817&o=76221234&t=76221509&g=simpleRepeat&i=trf

But I actually have long PacBio reads

[2020-11-29 00:10] akolesnikov commented on #388
Local realignment first builds a DeBruijn graph by aligning all read k-mers. There is a graph output from make_examples (I didn't check it) which can show how the final graph looks like. In this particular case most likely graph was build with multiple haplotypes: with insertion and with a SNP. Then, when reads are realigned, they are realigned to haplotypes first. Most likely reads were better al

[2020-11-29 05:30] gevro commented on #388
Ok thank you for explaining.

[2020-11-29 05:30] #388 closed

[2020-11-30 01:58] #389 closed

[2020-12-02 15:23] marcovth opened #390 ""no such file or directory: --ref=/input/Hg19ChrY.fa""
Hello ...

On Mac, OSX ... When I run deepvariant with ls -l /input ... the input directory is recognized ...

[code]

However, when I attempt deepvariant run,  I am getting "no such file or directory: --ref=/input/Hg19ChrY.fa"

[code]
[code]
Thanks for any suggestions.

[2020-12-02 19:00] gunjanbaid commented on #390
When I copy pasted your command, it was split up into two commands, with the `--ref` onwards showing up as a separate command. Could you try the following? This should show up as one command and you should no longer see the error.

[code]

[2020-12-02 22:46] marcovth commented on #390
Thanks ... that brought me one step further, just for another problem to show up.
 Is this a MacPro / OSX specific problem?

Thanks again.
[code]

[2020-12-03 04:10] pichuan commented on #362
Hi @loipf
I've made changes in internal code. It'll come out in the next release.
After the next release, feel free to let us know if have more feedback.

[2020-12-04 04:06] masen0407 opened #391 "conda installed deepvariant libm.so.6: version `GLIBC_2.23' not found"
Hello,
first of all ,i do not have the permission to run docker on my machine or sudo update or install. And as i work on cluster service,so i hardly can try to tell the Administrator to update some tools because there are other users and any update to key tools may cause them some troublesome.AS i know,many people work on bioinformation use cluster service and do not have permission to do sudo up

[2020-12-04 21:49] wharvey31 commented on #391
Your version of CentOS does not contain a recent enough GLIBC. It is not listed in your strings output. To my knowledge there is no way to change this without updating your OS.

I have had success using singularity without sudo to run the Docker image as described here: https://github.com/google/deepvariant/blob/r1.0/docs/deepvariant-quick-start.md#notes-on-singularity

[2020-12-04 21:51] wharvey31 opened #392 "Incorrect model in GS bucket"
Hello, when running Deepvariant with the following command:

[code]

the following error occurs:

[code]

Running with the checkpoint for 0.9.0 works with this command. Is the model on the GS bucket correct?

[2020-12-04 21:59] gunjanbaid commented on #390
@marcovth I'm assuming this is resolved, so I'll close this issue. Feel free to reopen if you have any other questions.

[2020-12-04 21:59] #390 closed

[2020-12-04 22:06] gunjanbaid commented on #392
@wharvey31 when running `make_examples`, you'll need to add `--alt_aligned_pileup=diff_channels` for the PacBio model provided in v1.0.0. This will result in tf.Examples with two additional channels, so the shapes should match after that. If you did add this flag but are still seeing errors, please let me know, and I can help troubleshoot further.

I would recommend using the `run_deepvariant` scr

[2020-12-04 22:10] wharvey31 commented on #392
Got it! Thank you!

[2020-12-04 22:10] #392 closed

[2020-12-08 02:18] masen0407 commented on #391
hello @wharvey31
i try https://github.com/google/deepvariant/blob/r1.0/docs/deepvariant-quick-start.md#notes-on-singularity
but when i run singularity shell  deepvariant_1.0.0.sif, i get this :

INFO:    Converting SIF file to temporary sandbox...
FATAL:   while extracting deepvariant_1.0.0.sif: root filesystem extraction failed: could not extract squashfs data, unsquashfs not found

singularity v

[2020-12-08 05:38] masen0407 commented on #391
Thanks for you reply
i try to use singularity,but i get some bug and i know it not cause by deepvariant .so i  try to ask on singularity hub.
i hope singularity can work wo my problem.
Thanks again

[2020-12-08 08:15] #391 closed

[2020-12-09 14:10] Stikus opened #394 "Numpy installation problem"
Hello DeepVariant team, thanks for great tool.

After we tried to upgrade our deepvariant installation to the latest release we encountered a problem with `numpy` installation, which I described [here](https://github.com/pypa/wheel/issues/389). The problem is caused by `wheel` - not by `numpy` itself, but this error raised several questions for me:

- For now looks like installing deepvariant with

[2020-12-09 22:47] pichuan commented on #394
@Stikus Thanks for reporting the issue.
Let me confirm I understand the issue correctly-
You try to build on *Ubuntu 18.04*, but were having issue on numpy. Is that correct?

Currently, our setup was only tested on 16.04. When build-prereq.sh and run-prereq.sh was written, we did test it on 14 and 18. But over time, those settings were not regularly tested and maintained. We also didn't remove the

[2020-12-10 07:46] Stikus commented on #394
We're using 18.04 to build your releases from r0.7 - everything works fine. This problem appears first time and is not related to Ubuntu version. I suppose that `pip3 install "${PIP_ARGS[@]}" --no-binary=:all: "numpy==${DV_TF_NUMPY_VERSION}"` won't work on Ubuntu 16.04 too if you try.

But you are correct: we're trying to build on Ubuntu 18.04, but were having issue on numpy.

For now, I've fixed

[2020-12-10 07:46] #394 closed

[2020-12-10 18:14] pichuan commented on #394
Thanks for the update, @Stikus

In the code I'm working, I currently changed that block to:
[code]

But I'm also wondering if I should just remove if/else statement for different Ubuntu versions if we're not internally testing it to make sure everything still runs. So I might end up simplifying this further in the next release. Glad to hear that the fix you mentioned above worked for you.

[2020-12-11 03:54] bitezhu opened #395 "conda install dv without model PACBIO"
Dear Authors,
I just install deepvariant using conda and prepare to test the software with HiFi data. I noticed in the recently published DipAsm [package](https://github.com/shilpagarg/DipAsm) the parameters 'model_type' was set as 'PACBIO' in 'dv.sh' file, but there are only two options supplied in conda-deepvariant(wgs & wes). Since the alleged HiFidata base accuracy is very close to Illumina da

[2020-12-11 11:09] Stikus commented on #394
@pichuan As you can see in my related issue in `wheel` - `--no-binary=numpy` will work even in current situation due to not installing `wheel` from source (what causing the problem) and if understand correctly "Because of an issue with pypi's numpy on Ubuntu 14.04, we need to compile from source." - it will fix this issue too.

So, if you're planning to leave support for different Ubuntu versions

[2020-12-11 17:35] husamia opened #396 "Exit status 250 Could not read base quality scores"
I am running on BAM generated with BWA. The fastq that was used had one reads file with less sequences.

Docker latest image.

/opt/deepvariant/bin/run_deepvariant --model_type WGS --num_shards 5 --output_vcf 19CT030668_deepvariant.vcf --reads 19CT030668.bam --ref ../human_g1k_v37.fasta --sample_name 19CT030668

The processe starts but when it gets to end of the BAM it exits.

2020-12-11 15:45:32.

[2020-12-11 19:33] MariaNattestad commented on #395
Hi @bitezhu

No, we don't recommend using the WGS model for PacBio data.

The conda-deepvariant package is a community contribution by @chapmanb and is not maintained directly by the DeepVariant team -- we are not experts on Conda, unfortunately.

William Rowell of PacBio contributed a case study that uses Conda, so you may find this helpful: https://github.com/google/deepvariant/blob/r1.1/docs/de

[2020-12-11 19:37] MariaNattestad commented on #396
This error might be caused by missing base quality scores in the BAM file, were you expecting this?
DeepVariant does require valid base quality scores. You could technically use filler values, but DeepVariant was only trained with real base qualities, so the results will be much more reliable and accurate if you can get a BAM file with real base quality scores.

[2020-12-11 19:44] husamia commented on #396
I am expecting missing quality scores. I would like to ignore it. Would that be possible?

[2020-12-11 21:00] MariaNattestad commented on #396
No that's not possible in DeepVariant, see details in my answer above.

[2020-12-12 01:28] bitezhu commented on #395
Hi, Maria, thanks for your quick reply, it's very helpful!

[2020-12-12 20:27] #395 closed

[2020-12-15 12:41] aderzelle opened #398 "Simple suggestion"
Hello!

not an issue, a simple suggestion: several persons I know are put off by DeepVariant because they can't get a gVCF with a line per base, basically they would like to deactivate the formation of blocks. Personally, blocks have never worried me and I guess computationally it has its advantages.

But just to tlet you know as a "user experience"

Cheers and stay safe. DeepVariant is a very awe

[2020-12-17 01:12] AndrewCarroll commented on #398
Hi @aderzelle

If I correctly understand the question, this would be effectively equivalent to the setting EMIT_ALL_SITES options in GATK. Across an entire genome, emitting the data at all sites takes quite a bit longer and generates a gVCF file which is much larger.

It is likely more compact and faster to get coverage information from a method like mosdepth.

The option to emit all sites could m

[2020-12-17 08:43] aderzelle commented on #398
Hello;

you perfectly understood my question and the answer makes sense. I do not close yet because there might be an additional reason the emit all sites option would have some interest (I am transferring the thread to a colleague).

Thanks for your answer.

[2020-12-17 20:16] ArielPaulson opened #399 "Discrepancies with Deepvariant instructions for Google Cloud"
Hi,

I don't know if this is the place to report issues with running the docker pipeline on the google cloud, I have been following instructions at [https://cloud.google.com/life-sciences/docs/tutorials/deepvariant#console_1](https://cloud.google.com/life-sciences/docs/tutorials/deepvariant#console_1) and it mostly works, but the second command within the big docker call dies with some python erro

[2020-12-21 13:49] husamia opened #400 "Cannot append to buffer file in /tmp. Is the disk full? Exit Status 255"
I am running the Docker google/deepvariant:latest-deeptrio

**Setup**
  - Operating system: Docker Desktop 3.0 (Windows 10)
  - DeepVariant version: DeepTrio version 1.1.0

 Trio WGS data HG37 (bams aligned with BWA MEM)

Command:
/opt/deepvariant/bin/deeptrio/run_deeptrio --model_type=WGS --ref=human_g1k_v37.fasta --reads_child=DS187706-DS187706_39743_S1_261735.bam --reads_parent1=19CT021737-19CT

[2020-12-21 18:45] akolesnikov commented on #399
Hi Ariel,

Thank you for submitting the issue. This is the right place so please submit the output and other info you may have.

[2020-12-21 23:26] AndrewCarroll commented on #400
Hi @husamia

It looks like the error message is indicating that the disk is full, which can occur even when there is memory. Can you check how much hard disk space is present on the machine.

If you are running low on space unexpectedly, you may want to check that you aren't accumulating space from Docker runs that weren't cleaned up by the system. It could be worth looking at [this page](https://

[2020-12-22 03:10] ArielPaulson commented on #399
I followed the directions on that page, and for the most part everything seemed to work, but the docker install commands failed:

sudo apt-get -qq -y update
E: The repository 'https://download.docker.com/linux/ubuntu buster Release' does not have a Release file.

sudo apt-get -qq -y install docker-ce
E: Package 'docker-ce' has no installation candidate

So instead I ran an alternate docker install

[2020-12-22 03:15] pichuan commented on #400
Hi @husamia
Another thing to note is that DeepVariant doesn't currently support Windows. We recommend getting a Linux machine. Let us know if that works for you.

[2020-12-22 04:11] akolesnikov commented on #399
1. Docker installation is not DeepVariant specific. You may follow steps from the official docker website https://docs.docker.com/engine/install/ubuntu/#install-using-the-repository
2. From the output it looks like you run it on a machine with 2 cores. In Google tutorial n1-standard-64 instance is used which has 64 cores.
3. From the output of the last command it is not clear what the error is. Co

[2020-12-22 04:14] akolesnikov commented on #399
There are multiple tutorials covering different scenarios of running DeepVariant on [DeepVariant GitHib page](https://github.com/google/deepvariant/blob/r1.1/docs/README.md).

[2020-12-22 13:51] husamia commented on #400
the disk has more than 100X times the size. So it's not a disk space. I will rerun after pruning to see if it solves the problem.

Docker Desktop linux containers run natively on Windows 10.

[2020-12-23 13:51] husamia commented on #400
after cleaning up Docker space with prune and making sure there is space on disk and rerunning. I am getting the same exact error. I feel that the docker image itself is the issue but not the software. i.e. maybe the docker image needs to be modified which I am not familiar with. I pulled it from docker pull google/deepvariant:latest-deeptrio

[2020-12-24 02:44] xuxif opened #401 "About 6 channels"
Incept V3 only accept no more than 3 channel. How deepvariant process 6 input channels

[2020-12-24 02:56] pichuan commented on #400
Hi @husamia ,
I see that you're running DeepTrio.
For both DeepVariant or DeepTrio, it will generate intermediate files for each step (make_examples, call_variants).

For DeepTrio, the size of these intermediate files might even be bigger, which might fill up your disk in the process.

I guess it is possible that Docker setting has some limit. I'm not familiar enough Docker to help with that.

A f

[2020-12-24 02:56] #400 closed

[2020-12-24 02:59] pichuan commented on #398
Hmm, I closed this but then noticed that @aderzelle said you're not closing on purpose.

@aderzelle Is there anything else we can help here? You mentioned that you'll get a colleague to give more suggestions. Just to make it easy to triage for the next teammate on rotation, I'm going to close this for now. But please feel free to open again as needed.

[2020-12-24 02:59] #398 closed

[2020-12-24 02:59] #396 closed

[2020-12-24 03:00] pichuan commented on #401
Hi @xuxif
When you said "Incept V3 only accept no more than 3 channel", what do you mean?
Do you mean for the sake of warmstarting from a model with 3 channels?

[2020-12-24 03:15] xuxif commented on #401
Pileup images have 6 channels (base, quality,strand...) .  But I found inception V3 only accept 3 channels inpput. I mean if deepvariant  modify the inception v3 input channels?

[2020-12-24 03:41] pichuan commented on #401
Hi @xuxif ,
I'm not sure which inception v3 implementation you're looking at.
If it helps:
The InceptioV3 implementation that the DeepVariant codebase uses is the one in tf-slim, which supports different number of channels:
https://github.com/google-research/tf-slim/blob/master/tf_slim/nets/inception_v3.py

[2020-12-25 01:25] ArielPaulson commented on #399
The instructions at https://github.com/google/deepvariant/blob/r1.1/docs/deepvariant-quick-start.md run ok.

I have no idea how I ended up with only 2 cores in that VM, especially after having to email support to even get the 64 requested cores allocated, since they quotaed me at 32.  Also, I realized that the docker install command involving "buster" referred to a Debian release, which would neve

[2020-12-25 01:25] #399 closed

[2020-12-28 16:43] husamia commented on #400
1. my files are larger than the examples

60G Dec  6  2019 19CT021737-19CT021737-20190619_64683_S7_346963.bam
60G Dec  6  2019 19CT021740-19CT021740-20190619_64686_S8_346962.bam
61G Dec  6  2019 DS187706-DS187706_39743_S1_261735.bam

2. I am going to try it with --regions 20

**3. I am only interested in the PASS variants, so is it possible to filter output to only those variants? this will reduce

[2020-12-28 17:09] pichuan commented on #400
@husamia

1. All the intermediate stages (make_examples, call_variants) output some files. For example, when we run our [DeepTrio WGS case study](https://github.com/google/deepvariant/blob/r1.1/docs/deeptrio-wgs-case-study.md), the `intermediate_results_dir` directory contains about 260G of data:
[code]

2. Let me know if just chromosome 20 works or not. With that, the intermediate files should be

[2020-12-29 17:50] husamia commented on #400
I was able to solve the problem by using `--intermediate_results_dir tmp/` option

the files are being written to the tmp folder on local drive instead of inside the Docker container thus not running out of disk space.

[2021-01-05 23:23] #401 closed

[2021-01-07 16:51] spencerking opened #402 "DeepVariant not finding reference genome"
**Describe the issue:**
When I try to run DeepVariant using the examples in the quickstart document I receive the following output:

[code]

I am able to open the FASTA file at that path, so I know that it exists.

The full script I am using is:

[code]

**Setup**
  - Operating system: Linux, cluster
  - DeepVariant version: 1.0.0
  - Installation method (Docker, built from source, etc.): Docker,

[2021-01-07 17:13] spencerking commented on #402
This seems to run fine when using the following script:
[code]

[2021-01-08 21:43] gunjanbaid commented on #402
@spencerking it seems like the quotes around ${INPUT_DIR} in `--ref="${INPUT_DIR}"/ucsc.hg19.chr20.unittest.fasta` were causing an issue. Is the issue now resolved for you?

[2021-01-08 21:50] gunjanbaid commented on #402
As another sanity check, what's the output of `ls -l ${INPUT_DIR}`?

[2021-01-12 15:48] GuillaumeHolley opened #403 "DeepVariant on corrected ONT in difficult to map regions"
Hi,

So I am trying a little bit of a peculiar setup in which I am using ONT corrected reads (with [Ratatosk](https://github.com/DecodeGenetics/Ratatosk)) to call variants with DeepVariant 1.1 in difficult to map regions. For that, I am using the default PACBIO model which works pretty well in the non-difficult to map regions from what I've seen so far.
Now in the difficult to map regions, it is a

[2021-01-13 03:52] AndrewCarroll commented on #403
Hi @GuillaumeHolley

This is a complicated issue, and though I've looked into it, I'm not 100% sure the following is correct, but I am reasonably confident:

DeepVariant is consists of some human-written heuristics which are used to identify positions that are candidate to be variant. Identified candidates are given to the neural network for classification. After this classification, another set o

[2021-01-14 08:29] loipf commented on #362
very nice! makes it a lot easier for new people and well documented

[2021-01-14 14:12] GuillaumeHolley commented on #403
Hi @AndrewCarroll,

Thank you very much for this detailed explanation, it is clear to me what is happening now. Unfortunately, this is rather problematic for my use case because I am processing a cohort (DeepVariant + GLnexus) and I impute the variants afterwards. The imputation is based on the PL values: If there are sites where some samples have an actual variant but most of the other samples ha

[2021-01-14 21:54] tedyun commented on #403
Hi Guillaume,

Thank you for filing the issue and for the detailed explanation of your use case. I'd like to ask you some more questions to better understand the situation and to find a potential solution.

1. If we call the cohort you're processing with DeepVariant+GLnexus "cohort **X**", are you (a) using cohort **X** as a reference panel to impute another cohort **Y**, (b) using another cohort

[2021-01-14 21:55] pichuan commented on #362
Thanks @loipf for your helpful suggestion :)

[2021-01-15 09:21] GuillaumeHolley commented on #403
Hi @tedyun,

1. Use case here is (b): I am using another (much larger) cohort **Y** as a reference panel to impute my cohort **X**.
2. I was actually thinking about simply deleting the GQ=0 sites from my GVCFs which seem to be the simpler solution. As you said, they don't provide any useful information. I just wanted to point out here that having those records in output might confuse downstream ap

[2021-01-15 11:56] ASLeonard opened #404 "Using openvino needs to write, causes issues with read-only container"
Hi,
I've been encountering an issue when using the `openvino` extra arg for calling variants. When I do not use this flag, things progress as expected. When using the extra flag, both via `--call_variants_extra_args "use_openvino=true"` to *run_deepvariant* as well as the `--use_openvino` to *call_variants*, there is the following error about being unable to save the new model due to read-only sys

[2021-01-15 20:42] tedyun commented on #403
Thank you for clarification Guillaume - I think deleting `GQ = 0` sites is a reasonable solution if that works for your use case.

I agree with you that the current `GT`, `GQ`, `PL` values we emit in this particular case can be confusing. Please let us know if you have any suggestion on improving it for your downstream application (i.e. emitting different `PL` values) - I'll be sure to discuss it

[2021-01-16 01:32] pichuan commented on #404
Hi @ASLeonard , thanks for the report.
Now I think about it, I might not have tested the combination of Singularity and our use of OpenVINO together.
I'll run this through the [PacBio example](https://github.com/google/deepvariant/blob/r1.1/docs/deepvariant-pacbio-model-case-study.md) and confirm that I can reproduce this issue.

There are a few fixes I can think of, which you also suggested:
1. W

[2021-01-16 03:30] pichuan commented on #404
Follow up: I looked my older work log -- I actually did test the Singularity+OpenVINO combination. I didn't see any issues at the time.

I repeated my steps, and still found that **I wasn't able to reproduce your issue, if I'm running in a directory where I have write access.** But, I'm able to see the same issue, if I start my command in a directory where I can't write to.

I have two questions f

[2021-01-16 13:01] dkurt commented on #404
@pichuan, Thanks for investigation! Sorry, I just not familiar with Singularity, but am I right that it writes all the files directly to host filesystem?

Maybe, as you mentioned, it make sense to write intermediate .pb and .xml & .bin files to output directory? Basedir of output_vcf or output_gvcf.

[2021-01-16 18:07] ASLeonard commented on #404
I'll look into these options some more start of next week. My initial thought was the path to the model is inside the container (`/opt/models/pacbio/model.ckpt`), and I cannot write to a singularity container without sudo access. I'll try some different binds to see if I can get that to write to the current directory, as I definitely have write access there.

[2021-01-16 18:16] pichuan commented on #404
Thanks @ASLeonard . Can you tell me:
1. Which Singularity version do you have. (and OS version too)
2. What command did you run?

I'd still like to reproduce the issue if possible on my side. If I can get a setting as close as yours, I might be able to reproduce the issue.

And @dkurt thanks for taking a look.
I also think it'll be better to write to the intermediate output dir rather than the cur

[2021-01-16 21:13] spencerking commented on #402
Here's the output of those two commands:
[code]

The output of `ls -l ${INPUT_DIR}` is:
[code]

Which is what I would expect.

[2021-01-17 20:32] aardes opened #405 "DeepVariant+GLnexus"
Dear,

I tried the combination of the DeepVariant and GLnexus and they are working perfectly fine.

I would like to know is there a way to incrementally add to the output of the pipeline? of course, if all the previous gvcfs are available in case of new variants.

I mean something like the genomicsDB which is now being used by GATK.

This will be a great help in case of a large cohort because it c

[2021-01-18 02:20] AndrewCarroll commented on #405
Hi @aardes

Yes, this is exactly what GLnexus was designed for, to allow for efficient merging of the N+1 sample in a manner analogous to genomicsDB (the [GLnexus paper](https://www.biorxiv.org/content/10.1101/343970v1) is informative for understanding this.

The generation of a gVCF from DeepVariant is independent of its subsequent analysis by GLnexus, so you can incrementally add more sample, an

[2021-01-18 11:16] ASLeonard commented on #404
Versions
- singularity version 3.6.4-1.el7
- CentOS Linux release 7.9.2009
- Kernel: Linux 3.10.0-1160.6.1.el7.x86_64

The command I was running has some differences in the singularity setup, as I had to explicitly bind the scratch directory etc on the compute nodes. When running the command that **did** work for you, I get the following error immediately `OSError: [Errno 30] Read-only file system

[2021-01-18 21:08] aardes commented on #405
Dear @AndrewCarroll ,

Thank you very much for the description, and for sharing the paper.

I think I need to contact the GLnexux team because I am not able to find the necessary GLnexus documents/scripts regarding the pVCF and the database.

thank you very much.
Amin

[2021-01-19 01:25] xuxif opened #406 "Deepvariant tensor shape"
Hi, I notice deepvariant created image with 100 * 299 * 6 for a record.  I want to know if deepvariant  reshape the image to meet the shape requirement of inception v3 ?

[2021-01-20 00:27] pichuan commented on #404
Thanks @ASLeonard . I tried one more with (still with my own versions this time) and added the `-B`:

[code]
[code]

I tried this with a newer Singularity version, and still can't reproduce your error yet.

Here's the machine I'm on:
[code]

I'll try again later with CentOS as well to see if I can reproduce your issue. If you find out anything else, please let me know.

[2021-01-20 10:05] ASLeonard commented on #404
I got the following to work (I haven't tested to the end, but successfully reached calling variants). I'm going to keep iterating and seeing how much of these commands I can remove.

Opening singularity through a shell
`singularity shell --no-home --cleanenv --containall -B tmp:/tmp,input:/input,output:/output deepvariant_1.1.0.sif`

Changing directory to something I've bound (e.g. ouptut), and th

[2021-01-20 12:28] ASLeonard commented on #404
I found an ungainly solution so I can still batch submit jobs. Using `/bin/bash -c "<stuff>"`, I can pass two commands to singularity exec. So I can do changing directory and running deepvariant in "one" command.

The full command that worked was
[code]

[2021-01-20 17:48] pichuan commented on #404
Thank you @ASLeonard for sharing your current solution.

On my end I'll continue to try to reproduce the issue. If I'm unable to, I might need to ask you to help test out my updated code after I have it. I might reach out again later on this thread. For now, I'll close this issue. Please feel free to update with more information, or submit another issue if you have other questions.

[2021-01-20 17:48] #404 closed

[2021-01-20 22:13] sgoe1 commented on #406
Hi @xuxif, InceptionV3 works on images with different input sizes, so we don't need to do any special resizing/processing of our pileup images. [This file](https://github.com/google/deepvariant/blob/r1.1/deepvariant/modeling.py) contains the modeling code if you're interested.

[2021-01-20 22:13] #406 closed

[2021-01-21 00:20] gunjanbaid commented on #402
@spencerking I'm not able to spot the issue with your initial command. But it seems like you are still able to run DeepVariant with the command in https://github.com/google/deepvariant/issues/402#issuecomment-756252754. Please let me know if you have any other questions or if this issue is still unresolved.

[2021-01-22 13:58] husamia opened #408 "performance re:openvino"
I would like to clarify about the performance improvements re:--call_variants_extra_args "use_openvino=true"

I am running the Docker Desktop container of the DeepVariant with the openvino feature on Windows 10. I am not sure what version deepvariant is at moment. Below is the output and how can I know if the performance boost is actually working. It seems to be taking just as long. the data is fr

[2021-01-22 16:56] ASLeonard opened #410 "Clarifying docs on running hybrid model with phased bam files"
In the hybrid model case study, the example bam files to download [here](https://github.com/google/deepvariant/blob/r1.1/docs/deepvariant-hybrid-case-study.md#download-hg003-chr20-bam) are labeled `HG003_hybrid_35x_ilmn_35x_pacb.grch38.phased.chr20.bam`. Have these bam files been phased in the same way as in the pacbio case study? If so, is the merged bam file able to be phased via `whatshap`, or

[2021-01-22 20:10] RWilton opened #411 "The middle base of reference sequence in the window doesn't match first character of variant.reference_bases"
**Describe the issue:**
In ```make_examples```:  The middle base of reference sequence in the window doesn't match first character of variant.reference_bases

**Setup**
  - Operating system: CentOS Linux v7
  - DeepVariant version: 1.1.0
  - Installation method: Docker
  - Type of data: WGS (Illumina 150nt pairs from GIAB HG002)

**Steps to reproduce:**
  - Command:
  - Error trace: (if applicable

[2021-01-23 01:00] RWilton commented on #411
The solution in this case was to use the original GRCh38 reference genome, not GRCh38 patch 12.

[2021-01-23 01:00] #411 closed

[2021-01-24 08:13] AndrewCarroll commented on #410
Hi @ASLeonard

For the hybrid model, we do not use haplotagged BAMs in the training process. In our initial benchmarks of the hybrid model, we observed a similar accuracy when training with haplotag as compared to training without it. Since haplotagging is an additional step, we decided not to include haplotag in the hybrid model.

If you provide a haplotagged BAM to the hybrid model, it will stil

[2021-01-24 08:15] AndrewCarroll commented on #408
Hi @husamia

The openVINO acceleration occurs at the call_variants stage, not during make_examples. If you are running from the Docker image, each stage should report its runtime in standard error. I would use that reported time for the call_variants stage to assess whether there is any improvement.

[2021-01-24 13:40] husamia commented on #408
Is performance at the make_examples stage is dependent on the disk read/write?

[2021-01-25 08:50] ASLeonard commented on #410
Great, thanks for the clarification!

[2021-01-25 08:50] #410 closed

[2021-01-25 13:15] #408 closed

[2021-01-25 13:21] husamia opened #412 "RNA Seq failed exit status 247"
I thought I should be able to call variants from short reads aligned to the human genome (hg19) with hisat2. So I gave it a try.

Windows 10 Docker desktop.

`/opt/deepvariant/bin/run_deepvariant --model_type=WGS --output_vcf=CDAR-016_run0124_deepvariant.vcf --reads=CDAR-016_human37_align.bam --ref=./CFM032/human_g1k_v37.fasta --novcf_stats_report --num_shards=5 --call_variants_extra_args "use_ope

[2021-01-25 13:39] simoncchu commented on #296
I am having the same issue with singularity.
Here is my commands:
[code]
As suggested, I set the `--intermediate_results_dir `. Any comments or suggestions? @pichuan  Thank you!

[2021-01-25 17:39] pichuan commented on #296
@simoncchu can you provide more details: your singularity version and operating system version, the actual error message you're seeing, etc.
Anything that will help us reproduce or understand your issue will be helpful.

[2021-01-26 00:50] simoncchu commented on #296
singularity version 3.7.0-1.el8

[2021-01-26 01:18] pichuan commented on #296
@simoncchu If you ran with:
[code]
and
[code]
I think the intermediate output should be in  `/DATA/transfer/deepvariant_tmp` ?
If this run succeeded, can you check what you have under /DATA/transfer and /DATA/transfer/deepvariant_tmp ?

[2021-01-26 01:31] simoncchu commented on #296
Yes @pichuan, the intermediate output will be under `/DATA/transfer/deepvariant_tmp`. But the same `no space left` error will pop up. And if I set `tmp/`, then no this error.

[2021-01-26 01:31] simoncchu commented on #296
Yes @pichuan, the intermediate output will be under `/DATA/transfer/deepvariant_tmp`. But the same `no space left` error will pop up. And if I set `tmp/`, then no this error.

[2021-01-26 01:33] pichuan commented on #296
@simoncchu
Is there a "tmp" directory under your current working directory then?

[2021-01-26 01:35] simoncchu commented on #296
@pichuan
no such a "tmp" folder.

[2021-01-26 04:51] pichuan commented on #296
Hi @simoncchu ,
I tried to run a small Quick Start using the same Singularity and OS version as you.
With the small tests, I'm not able to see the issue that you observed.

And, when I ran with `--intermediate_results_dir tmp/`, I actually do see a "tmp" directory created at my current working directory.

Given that I'm not able to reproduce your issue, I'm not sure what's the best next step for m

[2021-01-26 05:21] pichuan commented on #412
@husamia Can you see if any earlier logs have more information? See if you can find another Traceback with more informative error messages?

[2021-01-26 05:54] pgrosu commented on #412
@husamia Basically what you are seeing is that you're running out of memory.  Try it on a machine with more memory.

[2021-01-26 14:58] husamia commented on #412
I closed the container.

that's a good point. is there an option to specify the temp folder outside the container? this would solve my problem.

[2021-01-26 20:59] leorippel opened #413 "Error on Post processing from 2 different gvcf sources"
**Describe the issue:**
I'm doing a series of test of how can I run DV faster with my resources. I'm trying splitting the bam file - run make examples on separate - run Call Variants of both at the same time and call variants. Everything goes fine until the postprocess The 2 different gvcf are name as followed:

SPLIT2.gvcf.tfrecord-00000-of-00030.gz
SPLIT.gvcf.tfrecord-00000-of-00030.gz

Both in

[2021-01-26 21:02] pichuan commented on #412
@husamia I don't think setting temp folder will help with OOM problem. Can you try running with a machine with more RAM, or maybe trying running on a smaller region first (which will not solve the OOM problem but can at least confirm that it's possible to finish a smaller run).

[2021-01-26 21:46] husamia commented on #412
I am running it on machine with 64GB of ram of which 80% is used by the Docker. I dont usually have problems with this setup with WGS data.

[2021-01-26 23:04] pgrosu commented on #412
@husamia Unfortunately usually is not a reliable description that can be applied to Docker, as it performs many layers of abstraction that can cause a spike when you are not even aware of it.  80% is definitely not enough, especially with the layers of abstractions that DeepVariant also adds.  On top of that you would have the Windows abstraction either running a virtual machine or "leaner" Window

[2021-01-27 01:52] pichuan commented on #413
Hi @leorippel

In your log, the error says:
[code]
Can you confirm that you actually have this file? From what you described earlier, you're trying to rename files into this format, but I'm not sure what you actually rename them to.

[2021-01-27 11:47] GuillaumeHolley commented on #403
Sorry for the delay, I appreciate your feedback in the matter. Closing the issue now.

[2021-01-27 11:47] #403 closed

[2021-01-27 17:55] brentp opened #414 "ENH: add samtools to docker image"
Since deepvariant allows sending cram directly, it's no longer strictly necessary to convert bam to cram.
But, I find it's still faster to do the bam->cram conversion for exome data (especially when no regions file is specified). For that, it would be nice to have samtools binary in the official image.

I understand if you want to keep the docker image to a minimal size and it's easy to derive fro

[2021-01-27 21:16] AndrewCarroll commented on #414
Hi @brentp

This is a reasonable request, and CRAM->BAM conversion is faster via a samtools command. I don't think it will add much to the size of the container to include this, so we'll look at doing this, and will probably plan to do so, likely in the next release.

[2021-01-27 21:49] pichuan commented on #414
@brentp Thanks for the suggestion! As @AndrewCarroll mentioned, we'll look into adding it.
Adding it to our Docker image should be quite straightforward.

I have one more question:
Can you provide a specific example usage you have in mind?
You mentioned bam -> cram. I wonder if you're expecting being able to call samtools manually from our docker image, or do you actually expect something integrat

[2021-01-27 21:56] brentp commented on #414
Hi, I use it like this:
[code]
so just having it in PATH for manual calling would be sufficient for my use-case. Though if a flag like --conv-cram-to-bam existed, I'd be happy to use that instead.

thanks for the responses.

[2021-01-29 03:43] #405 closed

[2021-01-29 03:43] #402 closed

[2021-02-01 11:17] YSchaefer opened #415 "Using the human-trained PacBio model for zebrafish data"
Dear developers,

we have generated reads from zebrafish (danio rerio) via PacBio HiFi sequencing and are now wondering whether or not we should attempt to re-train the human-trained PacBio model using existent zebrafish data or whether the human-trained PacBio model is precise enough to further process and analyse our data. We are aware that the human-trained models work well in other mammals but

[2021-02-01 18:46] danielecook commented on #415
We have previously highlighted two examples where DeepVariant has been applied in non-human organisms:

* [Rice](https://cloud.google.com/blog/products/data-analytics/analyzing-3024-rice-genomes-characterized-by-deepvariant) - are diploid and have similar variant density to humans with short-read data. The existing model worked well.
* [Mosquitos](https://google.github.io/deepvariant/posts/2018-12

[2021-02-01 18:48] pichuan commented on #414
I've filed an internal issue to track. The update should come out in the next release. I'll close this comment for now, but will post an update once it's out.
Thanks for the feedback!

[2021-02-01 18:48] #414 closed

[2021-02-01 18:49] pichuan commented on #412
Thanks @pgrosu for the help!
@husamia Feel free to open another issue if you have further questions. I'll close this now.

[2021-02-01 18:49] #412 closed

[2021-02-01 18:50] pichuan commented on #413
@leorippel Please let us know if you still need help with this issue.
I'll keep this open for a few more days.

[2021-02-01 20:51] leorippel commented on #413
Yes, Sorry for the late reply.

when I type the input command " --nonvariant_site_tfrecord_path "/input/gvcf.tfrecord@30.gz"   "  I understand that the script will look for this pattern, no? Because I tried *gvcf.tfrecord@30.gz also didn't work and as I mentioned before my entry files are "SPLIT2.gvcf.tfrecord-00000-of-00030.gz and SPLIT.gvcf.tfrecord-00000-of-00030.gz ". The "*" before the patter

[2021-02-02 09:01] YSchaefer commented on #415
Thank you for your elaborate answer!

[2021-02-02 09:01] #415 closed

[2021-02-02 09:11] ASLeonard opened #416 "Deeptrio pileup height being incorrectly set and missing openvino"
Hi,
This is all done using the singularity containers of the 1.1.0 version, on a linux system.

I encountered one error and one potential error when experimenting with DeepTrio. The first potential error is mismatched pileup heights, giving the following error when running the single command deeptrio under the PACBIO model
` call_variants.py:355] The height of the input image is not 100 (standard

[2021-02-02 15:54] ASLeonard commented on #416
I was just double checking the openvino issue in case I missed something obvious, but there are explicitly `openvino_estimator` references present in the deepvariant BUILD file, but not in the deeptrio BUILD file.

[2021-02-02 17:28] danielecook commented on #413
@leorippel

This specification:

Will not match the gvcf splits you created. When paths contain an `@` symbol, they are referencing sharded files - so the path above gets expanded to a collection of files to input:

[code]

But your paths contain different prefixes (`SPLIT1` and `SPLIT2`).

Regarding your original question:

Although I think this is technically possible I would advise against rena

[2021-02-03 02:59] danielecook commented on #416
@ASLeonard

The observed warning is not correct and is an issue we are working on fixing. Currently, DeepTrio will report that warning for all models except for WES. However, it does not impact DeepTrio inference.

We are also planning on adding OpenVINO support to the next release of DeepTrio.

[2021-02-03 13:45] ASLeonard commented on #416
Great, so it seems there is no need to manually specify `--pileup_image_height_*=100`. Thanks for the details.

[2021-02-04 17:21] brentp commented on #414
and note to anyone who finds this. there is a `--write-index` flag to samtools view which writes the index while viewing so the second pass by `samtools index` is not needed.

[2021-02-05 01:37] B10inform opened #418 "Running DeepVariant without the reference genome"
**DeepVariant without Reference:**
I am trying to phase a diploid genome. But i don't have a reference genome. How would deepvariant work without the reference genome. (How to get the bam file?).

Any help would be great.

Thanks

[2021-02-05 01:41] husamia commented on #418
You could assemble your reads first. Then align them to the consensus to get the bam. Then call variants with the consensus as your reference.

Sent from my iPhone

[2021-02-05 04:39] danielecook commented on #418
@B10inform I'm not sure phasing is necessary for a haploid genome - because there is only one set of chromosomes the expectation is that identified variants are all already in phase.

Additionally, DeepVariant is designed to perform germline variant calling in diploid organisms, and requires a reference genome.

If the species you are working with does not have a reference genome than as @husamia

[2021-02-05 04:40] danielecook commented on #413
@leorippel I am closing this for now as I believe your issue has been addressed, but if you have any further questions feel free to reopen.

[2021-02-05 04:40] #413 closed

[2021-02-05 18:52] williamrowell opened #419 "make_examples exit status 252"
**Describe the issue:**
Running DeepVariant v1.1.0 on viral amplicon PacBio HiFi data, aligned with pbmm2, using the run_deepvariant script.  Core dump during the make_examples step with exit status 252.

**Setup**
  - Operating system: CentOS Linux release 7.4.1708 (Core), singularity version 3.5.3-1.el7
  - DeepVariant version: 1.1.0
  - Installation method (Docker, built from source, etc.): sin

[2021-02-05 18:58] B10inform commented on #418
@husamia @danielecook I meant a diploid genome (I have corrected the question). My plan is to obtain heterozygous SNP sites using deepvariant and than to phase the genome.

[2021-02-05 19:54] williamrowell commented on #419
With DeepVariant 1.0.0, similar result:

[code]

[2021-02-05 20:28] MariaNattestad commented on #419
Do you see any other error messages higher up in the logs? The CalledProcessError is just the wrapper, so it doesn't tell us what went wrong inside make_examples.

[2021-02-05 20:40] williamrowell commented on #419
That's everything from the first indication of an error in the output.

When I run make_examples directly, it core dumps with no stdout or stderr:
[code]

[2021-02-05 20:47] danielecook commented on #418
Okay. You will still need a reference to use DeepVariant. I am closing this for now but if you have any further questions please feel free to reopen.

[2021-02-05 20:47] #418 closed

[2021-02-05 20:51] danielecook commented on #419
@williamrowell try removing the `--task` flag does that change anything?

[2021-02-05 20:52] williamrowell commented on #419
Still yields a core dump with no error message.  Going to test this on docker.

[2021-02-05 21:06] williamrowell commented on #419
This works with docker:

[code]

Output:
[code]

[2021-02-07 08:31] pichuan commented on #419
Here I'll try to run Singularity on CentOS7 to see if I can reproduce the issue.

# Get a CentOS 7 machine
[code]

# Install Singularity 3.5
Following steps here https://sylabs.io/guides/3.5/admin-guide/installation.html#installation-on-linux. Then I have:
[code]

# Run Quick Start with Singularity

I downloaded the data from [Quick Start](https://github.com/google/deepvariant/blob/r1.1/docs/deepv

[2021-02-07 08:35] pichuan commented on #419
Hmm, after reading the whole thread again, the AVX explanation didn't quite make sense either because @williamrowell mentioned that running with docker worked..

I don't have a next suggestion yet :-/

[2021-02-07 15:31] pgrosu commented on #419
I think the error is simpler than that.  If you grep for these specific flags (i.e. `noparse_sam_aux_fields`, `norealign_reads`, and `nosort_by_haplotypes`) they do not exist in `make_examples` -- though it uses them in the command-line -- and thus it does not know how to process them, which is probably why you are seeing the 252 exit status:

[code]
Hope it helps,
~p

[2021-02-07 15:50] williamrowell commented on #419
I had to run docker on a different node, so this is very possible. Will look into this on Monday, as I didn't save which mode I was using and might need helping looking up that information.

[2021-02-07 18:48] danielecook commented on #419
@pgrosu the `no` prefix is used to set a flag to FALSE with the flag library we are using. These types of flags are allowed.

---

@williamrowell can you launch a singularity shell and try executing these commands manually?

[code]

Then once you are in the shell, try running one of the commands that failed directly:

[code]

And let us know what the output looks like.

[2021-02-07 19:31] belarus1941 opened #420 "Can`t open .bam file"
I am running Docker image of your software. Pls help to solve the problem.  Here are the codes for running it:

BIN_VERSION="1.1.0"
export OUTPUT_DIR=/home/manager/deepvariant-run/input
sudo docker run -v "${OUTPUT_DIR}":/opt/deepvariant/output dajunluo/deepvariant python run_deepvariant.py \
--model_type=WGS \
--ref=Reference.fasta \
--reads=newtest.bam \
--output_vcf=../output/test_output.vcf.gz

[2021-02-07 19:55] danielecook commented on #420
Hello - you can run docker interactively to verify that your files are being mounted correctly.

Try running the following command:

[code]

From the looks of it you can probably rectify the issue by specifying the full path to `newtest.bam`:

`output/newtest.bam`

[2021-02-07 22:48] williamrowell commented on #419
This is the likely cause.  No AVX support on this node.  Seems odd that there's a core dump with no error message.

[code]

[2021-02-09 01:20] wharvey31 opened #422 "No such file or directory"
Hello, when running DeepVariant on a machine with a GPU, we get
[the attached error](https://github.com/google/deepvariant/files/5947987/DeepVariantError.txt)
which seems to indicate that DeepVariant cannot find the samples in the working directory which is a solid state drive contained within the node. Oddly enough, when we rerun without removing the files in the /tmp directory, DeepVariant compl

[2021-02-09 02:43] akolesnikov commented on #422
Hello,
The way you run it looks correct. I don't understand how running it for the second time succeeded. Could you try to run it with the intermediate_results_dir set to the location inside /wd directory?
We will try to reproduce it and then update the thread.

[2021-02-11 17:19] brendanreardon opened #423 ""How DeepVariant works" figure on Github dark mode"
**Describe the issue:**
You may want to consider adding a white background to your diagram of stages in DeepVariant under "How DeepVariant works" in your README. Since Github added dark mode, SVG diagrams without set backgrounds are difficult to view for users with this setting. There is an [active feature request open for Github](https://github.community/t/support-theme-context-for-images-in-ligh

[2021-02-11 19:25] MariaNattestad commented on #423
Thanks for bringing this up Brendan! I have added the white background to the diagram internally, so it will be fixed on GitHub in the next release.

If this is annoying to more people, I could cherry-pick it to fix it sooner. Leave the pair-of-eyes emoji here to vote for us to prioritize this.

[2021-02-11 19:25] #423 closed

[2021-02-18 00:18] gunjanbaid commented on #420
@belarus1941 I'm going to close this thread due to inactivity, but feel free to reopen of you have any other questions. Thanks!

[2021-02-18 00:18] #420 closed

[2021-02-18 00:21] gunjanbaid commented on #422
@wharvey31 I'll close out this issue, but feel free to reopen if you have any remaining questions. Thanks!

[2021-02-18 00:21] #422 closed

[2021-02-18 00:21] gunjanbaid commented on #419
@williamrowell I'll close out this issue, but feel free to reopen if you have any other questions. Thanks!

[2021-02-18 00:21] #419 closed

[2021-02-19 18:20] zwangwustl opened #425 "Coverage depth over 100X"
This might not be an issue, but a question.

For dataset with sequencing depth >100X,  will the pre-trained model still be fully functional if we modify the tensor size following https://github.com/google/deepvariant/blob/r0.5/deepvariant/make_examples.py#L177? or the model has to be retrained after the modification?

Thank you,

Hugh

[2021-02-19 19:28] pichuan opened #426 "test"
This is a test.

[2021-02-19 19:40] pichuan commented on #426
test 2

[2021-02-19 20:39] pgrosu commented on #426
LGTM ;-)

[2021-02-19 20:40] pichuan commented on #426
:D I'll close this but might continue to comment on it. I'm trying to figure out email notifications...

[2021-02-19 20:40] #426 closed

[2021-02-19 23:11] pichuan commented on #426
Test

[2021-02-19 23:21] gunjanbaid commented on #425
If the actual depth in a particular region is greater than the pileup image height, DeepVariant randomly downsamples reads until the image has been filled up. For the default DeepVariant models (height 100), an image can accommodate at most 95 reads in a given region (5 rows are reserved for the reference sequence).

You may be able to successfully run our pretrained models with a different pileup

[2021-02-20 00:06] pichuan commented on #426
test2

[2021-02-20 00:18] danielecook commented on #426
test3

[2021-02-20 00:18] MariaNattestad commented on #426
another test by not-Pi-Chuan

[2021-02-24 21:11] samkleeman1 commented on #377
Any updates regarding this?

[2021-02-24 23:10] MariaNattestad commented on #377
Yes! DeepTrio was launched as part of DeepVariant 1.1: https://github.com/google/deepvariant/blob/r1.1/docs/deeptrio-details.md

[2021-02-24 23:11] #425 closed

[2021-02-24 23:11] MariaNattestad commented on #425
Closing now, but feel free to reopen if you have any more questions about this @zwangwustl

[2021-03-01 21:06] kostasgalexiou opened #427 "Deepvariant does not pass to call variants stage"
I have run a couple of times deepvariant on Google cloud, following the steps described at the corresponding webpage, and obtained the expected results. However, for a specific sample only make_examples and gvcf.tfrecord files are generated. The VM instance is running for 10 hours at 100% CPU and suddenly drops to almost 0% without the generation of any new results.

Any help will be appreciated!

[2021-03-01 21:38] pichuan commented on #427
Hi @kostasgalexiou , can you provide more information like:
- What type of machines are you working on (how many cores, how much RAM)
- Any error messages that you can share?

[2021-03-02 07:39] kalexiou commented on #427
Hi @pichuan,

VM instance: n1-standard-16 (16 vCPUs, 60 GB memory)

I don't get any error messages. The instance is still on and not giving any errors....or at least I haven't found any logs myself...

Below is the structure of the contents in the VM instance:

├── [drwxrwxr-x 4.0K]  input
│   └── [drwxrwxr-x 4.0K]  data
│       ├── [-rw-rw-r-- 2.9G]  Annuum.v1.6.Total.fa
│       ├── [-rw-rw-r-- 1

[2021-03-02 16:46] pichuan commented on #427
Hi @kostasgalexiou , from the log, does it look like all 16 make_examples have finished? (At the end it should have something like:
[code]
If that's hard to see, can you check how many of the make_examples are still running?

Thanks.

[2021-03-02 17:46] kalexiou commented on #427
Hi @pichuan . Unfortunately, I do not have the log file. None of the make_examples is running. The last update occurred on March,1 at 18:44.

Can we say whether the make_example / gvcf process has finished? If yes, can I launch deevariant again and go directly to call_variants?

-rw-r--r-- 1 root        root          354156544 Mar  1 18:44 gvcf.tfrecord-00000-of-00016.gz
-rw-r--r-- 1 root        r

[2021-03-02 18:25] pichuan commented on #427
Hi @kostasgalexiou ,
Looking at the file size, they look reasonable, but I can't tell exactly whether they're complete or not.
You can certainly try directly to run call_variants. If some of the records are not complete or corrupted, call_variants or postprocess_variants might give you an error later on.

I'm still curious on why it didn't finish though. If you have more new observations or logs t

[2021-03-02 18:33] kalexiou commented on #427
Yes, the bam file is not public, but I could send you the files through a private link. Thanks for your help!

[2021-03-02 18:35] pichuan commented on #427
Hi @kalexiou ,
if the file is not public, unfortunately I cannot download it or test it. Thanks for offering though.

If you can share a bit more about what type of file this is (sequencing instrument, coverage, PCR-free or PCR-plus, etc) that might make this file unique, maybe I can try to see if I can reproduce the issue on another public file. Thanks!

[2021-03-03 07:19] kalexiou commented on #427
Hi @pichuan ,

I think that the file is not especial in any way, since this sample has been sequenced with other samples that did not give me any problems.

How can I launch directly the call_variants function?

Thanks again
Kostas

[2021-03-04 07:08] pichuan commented on #427
@kalexiou

`call_variants` is a binary in our Docker image too. So you can run:
[code]
to look at all relevant flags.

Your command should be probably something like:
[code]

The checkpoint should be either wgs, wes, or pacbio depending on which type you were using.

[2021-03-04 14:19] zhoudreames opened #428 "no human model use"
in my project ,my species is pig——diploid,haploid genome size 2.5Gb,how to use deepvariant in my pig data ?

[2021-03-04 15:44] kalexiou commented on #427
Great! Thanks @pichuan

[2021-03-05 00:59] zhoudreames commented on #428
@cdibona @dberlin @pichuan @AndrewCarroll  could you help me ? thanks ~

[2021-03-05 01:09] pichuan commented on #428
Hi @zhoudreames ,
You can apply DeepVariant in this case. DeepVariant is trained on human data, but we've seen it generalized to other cases before.
In addition to the BAM file you have, you'll need to provide a Pig reference file.
For the command here:
https://github.com/google/deepvariant#how-to-run-deepvariant

The two main inputs that have to come from your are these:
[code]

Curious to hear h

[2021-03-05 02:23] #428 closed

[2021-03-06 03:18] #427 closed

[2021-03-09 05:59] pichuan commented on #427
Hi @kalexiou ,
I think what might have happened is that the make_examples stage ran out of memory.
I recently had a run on a different BAM, which had similar behavior as you described.

A few suggestions:
(1) If you're using the same type of machine, try running with fewer number of num_shards which should allow each make_examples to have more RAM.
(2) If you can try a different machine type, try

[2021-03-09 07:42] kostasgalexiou commented on #427
Hi @pichuan,

Thanks for the update! I will try your suggestions next time I come up with a "heavy" bam file.

Kostas

[2021-03-09 23:11] jkalleberg opened #429 "DeepTrio postprocess_variants failure"
**Describe the issue:**
Are the `--output_gvcf` flags with DeepTrio required arguments?

In the `--helpfull` page of DeepTrio, they are not indicated as required; however, when omitting just these flags, DeepTrio fails to generate the expected VCF outputs.
[code]

**Setup**
  - Operating system: Linux
  - DeepTrio version: 1.1.0
  - Installation method (Docker, built from source, etc.): Singularit

[2021-03-10 13:26] znikasz opened #430 "nVidia GPU Cuda 11 support in docker"
Is there a plan to support nVidia GPU Cuda 11 version in dockers available in the dockerhub?

Current version of `google/deepvariant:latest-gpu` uses Cuda 10, which does not work on newest nVidia GPUs.

[2021-03-11 14:00] husamia opened #431 "run_deeptrio missing child vcfs"
I ran deeptrio on a trio WGS data. I got the gvcf and vcf for parent 1 and 2 but I didn't get output from child. There were no error messages that I could find as to why. The output seems complete.

**Setup**
  - Operating system: Windows 10
  - DeepVariant version: DeepTrio version 1.1.0
  - Installation method: Docker
  - Type of data: Illumina, GRCh38, trio WGS

**Steps to reproduce:**
  - Comm

[2021-03-11 16:06] sgoe1 commented on #430
Hi @znikasz thanks for bringing this up. CUDA 11 support was added in the latest version of TensorFlow (2.4.0), so when we upgrade our version of TF, this support will be included. However, I don't have a specific timeframe for when this will happen.

[2021-03-11 16:06] #430 closed

[2021-03-11 17:12] husamia commented on #430
does this mean we can potentially run future versions of deepvariant-GPU on Windows using Docker Desktop?

[2021-03-11 18:09] sgoe1 commented on #429
Hi @jkalleberg thanks raising this issue. You're right that this actually should be optional, this seems to be bug - I've noted it in internally and we'll have a fix in the next release. For now, I would suggest just specifying some path for the output_gvcf flags, even if you don't actually need them.

Also, would you be able to share why you don't want to use the gVCF file? Normally people will w

[2021-03-11 18:16] akolesnikov commented on #431
* Could you please check the intermediate directory ```../home/tmp``` to see if examples are generated for all 3 samples?
* Also, could you please check that child BAM is mapped to the right reference and does contain reads overlapping parent1 and parent2 samples?

[2021-03-11 21:24] jkalleberg commented on #429
Thanks for the update, @sgoe1. Just wanted to make sure I wasn't interpreting the help page incorrectly. I went ahead and did as you recommended.

As for why it's mostly for convenience. I'm wanting to contrast the per-sample output differences across GATK, DeepVariant, and DeepTrio. The fewer method-specific flags required, the cleaner my pipeline for running either (or both) across trios.

[2021-03-11 21:42] husamia commented on #431
`../home/tmp` contains 315 files. 105 for each sample.

I am not sure what you mean here.

[2021-03-12 17:09] sgoe1 commented on #429
I see, thanks for letting us know.

[2021-03-12 17:09] #429 closed

[2021-03-12 19:43] sgoe1 commented on #430
@husamia technically yes, I believe you should be able to run via Docker on Windows, even with current version (but not with CUDA 11, as mentioned).

However, this is not something we explicitly support/test against, so if you have issues running it feel free to let us know, but we may not be able to provide much support.

[2021-03-22 21:56] akolesnikov commented on #431
It looks like examples were created for all the samples but call_variants did not run for the child.
Could you please check the sizes of all files with extension ```tfrecord``` for all samples? To make sure that parents' files are not empty.
Is there a chance you could share your BAM files or may be just a chr20? It would be easier to investigate the issue if we could reproduce it locally.
Also, c

[2021-03-23 18:32] husamia commented on #431
the files are non-empty
422M Mar 10 05:32 call_variants_output_child.tfrecord.gz
430M Mar 10 17:02 call_variants_output_parent1.tfrecord.gz
253M Mar 10 23:58 call_variants_output_parent2.tfrecord.gz
 39M Mar  9 17:54 gvcf_child.tfrecord-00000-of-00052.gz
 38M Mar  9 17:54 gvcf_child.tfrecord-00001-of-00052.gz
 39M Mar  9 17:54 gvcf_child.tfrecord-00002-of-00052.gz
 39M Mar  9 17:53 gvcf_child.tfre

[2021-03-24 16:18] ajsa-nukovic opened #432 "name 'optimize_for_inference_lib' is not defined when running call_variants"
I tried to build deepvariant through my own docker image. I installed deepvariant and openvino toolkit. But, when I run _call_variants.zip_ script, I get the error **_name 'optimize_for_inference_lib' is not defined_**. I was retracing steps and came to conclusion that  `from openvino.inference_engine import StatusCode` part of the code is failing. StatusCode cannot be imported. Have you ever enco

[2021-03-25 03:44] pichuan commented on #432
Hi @ajsa-nukovic , thanks for reporting the issue.

First, I tried to reproduce your issue. I haven't been able to reproduce it yet. I wrote down my commands below:

Get a Ubuntu18.04 machine
[code]

After ssh into the machine, I ran:

[code]

And then followed the steps here:

https://github.com/google/deepvariant/blob/r1.1/docs/deepvariant-quick-start.md

For the main DeepVariant command, I ran:

[2021-03-25 16:17] maryawood opened #433 "unspecified_caller vs. very_sensitive_caller vs. vcf_candidate_importer"
Hello, I was hoping you could explain the differences between each of the options you can use for the `--variant_caller` option. How do each of these differ in terms of the type of model produced and interpretation of results? I'm having trouble finding documentation for this. Thank you!

[2021-03-25 16:26] pichuan commented on #433
Hi @maryawood , thanks for the question.
As you probably noticed in the code, `very_sensitive_caller` is the default that we use for candidate generation. In all our released models, this is the default so there is no need to change it.

`vcf_candidate_importer` is a more advanced / experimental implementation , where we allow the users to provide a list of candidates that they want DeepVariant to

[2021-03-25 16:26] #433 closed

[2021-03-25 17:04] akolesnikov commented on #431
From the list of files you posted it looks like variants were created for child (file call_variants_output_child.tfrecord.gz). The last stage of DeepTrio pipeline is postprocess_variants where data is converted from tfrecord to VCF. I suggest to try running postprocess_variants manually.

To generate a VCF:
[code]

To generate a g.VCF:
[code]

These commands are generated by run_deeptrio.py file.

[2021-03-25 17:10] maryawood commented on #433
Hi @pichuan, thanks for the explanation! I've been working on using DeepVariant to train my own sequencing-type specific model, and I'm getting to the point of wanting to mess with some of the different options available to improve performance. It sounds like `vcf_candidate_importer` would be less relevant for this purpose, but what about `unspecified_caller`? How does that option differ from `ver

[2021-03-25 17:56] pichuan commented on #433
`unspecified_caller` is an invalid option. I've never actually specified it, but I think the behavior should be that it should crash earlier (hopefully with a meaningful error message).

To train your own sequencing-type specific model, generally if the sequencer's base error rate is not too high, the default `very_sensitive_caller` should just work. But, if it's tricker cases like ONT reads, havi

[2021-03-26 15:01] husamia commented on #431
This suggestion works for me. Thank you

[2021-03-26 15:01] #431 closed

[2021-03-26 19:21] elcortegano opened #434 "Could not read base quality scores"
**Describe the issue:**
The prints that read base quality scores cannot be read, as result, no variants are reported. However, I can visualize these values in the reads in IGV. How is that these values cannot be read? This is the line with the error, which repeats one after.

    2021-03-26 19:12:43.550815: W third_party/nucleus/io/sam_reader.cc:534] Could not read base quality scores m64036_21011

[2021-03-28 00:25] AndrewCarroll commented on #434
Hi @elcortegano

There are a few potential causes for this. First, you may want to extract this particular read and compare the number of bases in it against the number of base quality values (these will need to match).

samtools view ${BAM} | grep m64036_210113_122249\/147655225\/ccs

should retrieve this particular read.

One other thing which can cause this error is if the BAM file is truncated

[2021-03-29 16:39] elcortegano commented on #434
The file does not look truncated (according to `md5sum` values).

The reads seem to have as many bases as quality values. Once of the reads reported in my data is "m64036_210113_122249/1898/ccs", the result of samtools view + grep on this read is the attached (
[read.txt](https://github.com/google/deepvariant/files/6223181/read.txt)).

Reads come from PacBio HiFi, and were aligned to the reference

[2021-03-29 18:25] nilesh-iiita opened #435 "Unable to run on local machine"
[code]

[code]
Please explain what I am doing wrong.

Thanks

[2021-03-30 06:36] gunjanbaid commented on #435
@nilesh-iiita I can't immediately spot anything wrong with your command. I'd recommend looking at the `make_examples.log` file in the output directory to make sure that step completed successfully. You can also set `--intermediate_results_dir=/output` to see if the `make_examples.tfrecord@8.gz` are being generated.

[2021-03-30 16:31] maryawood commented on #433
Hi @pichuan, sorry for the slow response! I've only tried `very_sensitive_caller`, and while it seems to be working alright, I'm getting lower-than-desired precision and quite low recall, even when adding additional training data or adjusting the evaluation metrics. This may be fixable by tuning parameters more, so I'm just trying to get a handle on all the different options available to customize

[2021-03-30 16:58] gunjanbaid commented on #435
@nilesh-iiita to address this issue, you should not need to realign the reads. Instead, you can pass the `--sample_name=<NAME>` to the `run_deepvariant` command. `<NAME>` can be set to any desired value. It seems like your BAM file is missing a sample name, and when this happens, `make_examples` fails. Adding this flag will ensure that there is a sample name available for `make_examples` to use.

[2021-03-30 21:47] pichuan commented on #432
Closing this issue. @ajsa-nukovic , feel free to follow up.

[2021-03-30 21:47] #432 closed

[2021-03-31 03:18] AndrewCarroll commented on #434
Hi @elcortegano

Thank you for that analysis. Are you able to share the local snippet for this BAM file by running samtools view -bh for the coordinate in question and share it here? I would like to reproduce the issue to see what is going on.

Thank you,
Andrew

[2021-03-31 09:17] ajsa-nukovic commented on #432
Thanks a lot @pichuan, I am working on this - apparently my OpenVino installation wasn't good. Your answer was very helpful.

[2021-04-05 17:34] elcortegano commented on #434
Hi Andrew,

I am not sure how to provide the BAM file you request, if I run:

    samtools view -bh <file.bam> <read>  >  file_read.bam

An error appears indicating that the read specifies an invalid region or unknown reference. Could you please provide a more detailed command?

Thank you
Eugenio

[2021-04-06 04:57] AndrewCarroll commented on #434
Hi @elcortegano

I was suggesting to query the region of the BAM where that read is present. You can extract the read itself with:

samtools view ${BAM} | grep m64036_210113_122249\/147655225\/ccs

In the string that comes out from that, the 3rd tab-separated field is the chromosome which the read is mapped to. The 4th tab-separated field is the position of the genome that the read maps at. I was

[2021-04-06 08:05] nikostr opened #436 "Binaries for v1.1 necessary to update bioconda package"
Hi! The current bioconda recipe requires precompiled binaries to be available at `https://github.com/google/deepvariant/releases/download/v{{ version }}/deepvariant.zip`. I've updated the bioconda recipe to work with v1.0.0, but for a smooth update to v1.1.0, it would be excellent if you could provide zipped binaries with the release.

The bioconda recipe: https://github.com/bioconda/bioconda-reci

[2021-04-06 10:25] elcortegano commented on #434
Got it, thank you Andrew,

A zip file with the read info and the subset BAMs is around 300 MB in size. Is there any other way I can send you these files?

Thank you,
Eugenio

[2021-04-06 23:54] pichuan commented on #436
Thanks @nikostr for reporting this.
The zip file for 1.1.0 should be avaiable at https://github.com/google/deepvariant/releases/download/v1.1.0/deepvariant.zip now.

[2021-04-06 23:54] #436 closed

[2021-04-07 01:11] AndrewCarroll commented on #434
Hi @elcortegano

Interesting, that is a lot larger than I expected. But I ran a test and got a similar result with a PacBio BAM.

Can you attach just that single read here as a BAM file (using the grep command). I can likely run a test from that. If that fails, the best way might be to upload to a Google Drive object and share permissions with me for the 300MB file.

Thank you for your patience,
A

[2021-04-07 05:56] pichuan commented on #433
Hi @maryawood , given that you're doing training, the issue might not be which candidate generation approach you use.

For your training data, it would be useful to know how many total examples you're training with.
And actually, it'll be helpful if also know the breakdown of class0, class1, class2.
(You can use [this version of shuffle_tfrecords_beam.py](https://gist.githubusercontent.com/pichuan

[2021-04-07 17:04] elcortegano commented on #434
Attached a file for a different read named `m64036_210113_122249/1898/ccs`. The plant text file contains the  result of:

    samtools view file.bam | grep m64036_210113_122249/1898/ccs > read.txt

If I am understanding this right, there are 4 genomic regions containing that read aligned. One of these is located at chromosome_08:4578858. The BAM file attached corresponds to that coordinate (it res

[2021-04-08 03:37] AndrewCarroll commented on #434
Hi @elcortegano

Thank you for the file, it's very informative, and I have a few observations that might help.

First, all of the reads in this file which have sequence bases do have the correct number of quality values. The reads are not malformatted.

However, there are reads with the SAM flag 256, secondary alignment. This occurs when the mapper finds a place which is almost or as good to map t

[2021-04-08 12:44] elcortegano commented on #434
Hi Andrew, thank you very much for the feedback. This is something new I have learnt about the BAM files.

Using the filtered BAM file, the error message disappears. The number of variants called has also increased considerably (~x20 for variants with PASS tag).

Our reads are in fact HiFi. We have been doing the alignment with `minimap2 -ax map-pb` because to our understanding `deepvariant` is de

[2021-04-08 16:37] williamrowell commented on #434
Hello Eugenio,

- I agree that it looks like the secondary alignments are causing problems, since neither the actual read sequence nor the base qualities are stored in the BAM records for secondary alignments.  When the parser hits these rows, it seems to be having trouble parsing the `*` base quality string as individual values.
- The `minimap2` parameters `-x map-pb` and `-x asm` refer to alignm

[2021-04-08 16:53] AndrewCarroll commented on #434
Hi @elcortegano

Billy has provided some excellent, detailed answers. I'll just add a little bit of context to your question

"Our understanding ```deepvariant``` is designed for read alignments (and not assembly-to-reference alignments as achieved with ```minimap2 -ax asm```"

This is correct, DeepVariant is for read alignments assembly-to-reference alignment. Because minimap2 has original writte

[2021-04-08 19:40] elcortegano commented on #434
I see! I am very grateful for the support. Not only the problem is solved, it is everything much more clear now, and I have learned a lot from your feedback. Thank you.

[2021-04-09 07:52] AndrewCarroll commented on #434
Hi @elcortegano

I'm glad you were able to resolve the issue and had a positive experience. Thank you for your patience in the process, and for providing the data needed to debug it. I'll close the issue for now, but please feel free to ask about anything else if the need arises.

[2021-04-09 07:52] #434 closed

[2021-04-09 10:14] ajsa-nukovic opened #437 "[no]realign_reads parameter for make_examples.py script"
Hi,
I have a question regarding the use of the _**realign_reads**_ parameter for make_examples.py script. I am interested in running DeepVariant for PACBIO long reads data, and I don't want to realign reads before variant calling.

It is stated in the official description: _--[no]realign_reads: If True, locally realign reads before calling variants. Reads longer than 500 bp are never realigned.(de

[2021-04-09 16:06] MariaNattestad commented on #437
The parameter (see the flags at the top of make_examples.py) is "realign_reads", and the way to set it to false is to pass `--norealign_reads`.

As stated in the usage you quoted above, reads longer than 500 bp are never realigned (this was added in v1.0). We still add `--norealign_reads` to PacBio runs, but if you forget to add it, there's likely not a big difference since very few pacbio reads w

[2021-04-12 08:27] ajsa-nukovic commented on #437
Thanks a lot @MariaNattestad, I just thought that this one needed clarification.

[2021-04-12 15:59] #437 closed

[2021-04-13 04:38] gyuhee0928 opened #438 "Can I make a pileup image for the locus I want? ( using "make_examples")"
Can I make a pileup image for the locus I want? ( using "make_examples")

I am trying to create pileup images using the command "make_examples".
By the way, "make_example" creates an image by selecting a location to create a pileup image from inside.

But I want to create pileup images of specific locations I want, is there any way?

I look forward to your reply.

[2021-04-13 22:41] pichuan commented on #438
Hi @gyuhee0928 ,

By default, `make_examples` only creates pileup images for candidates that are created by our default candidate generation logic. After the examples are created, you can then visualize these examples by using `show_examples`: https://github.com/google/deepvariant/blob/r1.1/docs/show-examples.md

We do have a more advanced optional flag you can specify to use `vcf_candidate_import

[2021-04-14 17:51] #438 closed

[2021-04-14 18:19] shadrinams opened #440 "Question about QUAL in DeepTrio output"
![DeepTrio_QUAL](https://user-images.githubusercontent.com/22089494/114759224-e5d49180-9d2b-11eb-9c5e-cb33c9979d2d.png)
Hello,

I am running DeepTrio for a dataset with known true-positive SNPs and indels. I followed guidelines for DeepTrio but had to change --config DeepVariantWGS to DeepVariant_unfiltered at the glnexus_cli step as a default QUAL threshold of 10 removed a lot of my TP calls.
I h

[2021-04-15 06:38] AndrewCarroll commented on #440
Hi @shadrinams

From your description, it looks like you are running the DeepTrio merge component in the way that I would recommend.

Can I ask a few questions:

1. Are you taking the values from the QUAL field of the multisample glnexus VCF
2. How have you determined the TP sites? Are these Genome in a Bottle, or do they come from some other source.

Your QUAL values for all calls match expectati

[2021-04-15 16:29] shadrinams commented on #440
Hello Andrew,

Thank you for your quick reply!

Yes, exactly!

These are PCGC data, TPs were determined by combination of methods and manually curated. We expect an accuracy of the
 found TPs to be > 95% (based on PCR for a similar dataset), although we might still miss some TP calls.

I am sorry, I did not mention it. Yes, we are looking for denovos in trios. We are comparing efficiency of a few

[2021-04-15 17:25] AndrewCarroll commented on #440
Hi @shadriniams

Thank you for this additional information, it's very helpful.

Yes, for de novo variants, we do expect DeepTrio to be less confident in the variant position, so your observation makes sense.

The best field to filter on further is the genotype quality (likely of the proband). We haven't had large orthogonal datasets of de novo variants yet to give you a good recommendation for the

[2021-04-15 19:42] shadrinams commented on #440
Please see the attached plot. It seems to tend to the same behavior. Looking at my plots I would think to filter denovo calls by the low part of QUAL or proband GQ scales ( QUAL/GQ < 30-40 ). Counterintuitive but seems pretty solid based on the plots.

I am looking for the former but we have plans to try Mendelian violations too. I would appreciate for your input for it!

Thank you!

Best regards,

[2021-04-15 21:56] yanyang1989 opened #441 "Bazel build error"
Hi, I was working on update the deepvariant source code from ubuntu 16.04 to 18.04 and python 3.6 to python 3.8. Now I met a problem in build_release_binaries.shell scripts.

bazel build -c opt \
  --output_filter=DONT_MATCH_ANYTHING \
  --noshow_loading_progress \
  --show_result=0 \
  ${DV_COPT_FLAGS} \
  --build_python_zip \
  :binaries

The error is below:
[1,442 / 1,802] Compiling third_party

[2021-04-15 22:29] pichuan commented on #441
Hi @yanyang1989 ,
internally we've updated to Ubuntu18.04 and made a bunch of updates accordingly too. It will come out in the next release.

We're still using Python 3.6 though. Can you tell us why you're considering using 3.8?

[2021-04-16 08:12] ASLeonard commented on #441
Python 3.6 is meant to be "unsupported" by the end of this year ([pep 494](https://www.python.org/dev/peps/pep-0494/)), so would be decent future-proofing or ensuring security.

[2021-04-16 08:41] AndrewCarroll commented on #440
Hi @shadrinams

Thank you for the plot. This is expected the the found de novo calls are lower in confidence (because DeepTrio has learned that de novo events are rare). Given that a call is a de novo (0/1-0/0-0/0), the higher GQ values will still indicate higher confidence, so more confident de novo calls should be more likely to be true.

For calls which are 1/1-0/0-1/1 (or permutations of this)

[2021-04-16 15:17] yanyang1989 commented on #441
Hi @pichuan , I am planning to integrate deepvariant into a whole germline variant calling pipeline which is using python3.8 and built everything into a Docker. So I need to build every prereq relating deepvariant inside it.

[2021-04-16 16:59] aliceseaborn commented on #441
I have been experiencing the same error when trying to build DeepVariant from the Dockerfile they provided but I managed to pull working images from Docker by following the steps below:
[code]

Pulling the image from remote is not ideal for us as I would prefer to use the Dockerfile to increase transparency in how the image is created. However, having a working DeepVariant is better than nothing.

[2021-04-16 17:00] mkazanov opened #443 "Build from source Ubuntu 1.18.04 problem"
Hello,

I am trying to install DeepVariant from source on Ubuntu 1.18.04. The build-prereq.sh script finished well,
but  build_and_test.sh has stopped unexpectedly do not displaying any error:

[code]

[2021-04-16 19:43] pichuan commented on #443
Hi @mkazanov
Internally we've updated to Ubuntu18.04 and made a bunch of updates accordingly too. It will come out in the next release.

Given that there's another similar question in https://github.com/google/deepvariant/issues/441 , I can try to see if it's easy for me to share some of the updated files (I'll need to test it with the v1.1 repo first).
Otherwise, I can try to push a bit more on t

[2021-04-16 19:49] pichuan commented on #441
Thanks @ASLeonard for the pointer on the timeline for Python 3.6 and 3.8. I'll take a look to update the Python version.
@yanyang1989 thanks for sharing your use case! We'll look into updating to Python 3.8 this but it will take a while. If you can try pulling our image directly like @aliceseaborn , that might work for you now?

@aliceseaborn My experience is that `google/deepvariant:1.1.0` and `g

[2021-04-16 20:43] yanyang1989 commented on #441
is it possible to make this available https://storage.googleapis.com/deepvariant/packages/oss_clif_py3/oss_clif.ubuntu-20.latest.tgz

Since I have another problem about "Install CLIF binary" using ubuntu 20.04. Quote from build-prereq.sh script:

# Figure out which linux installation we are on to fetch an appropriate
# version of the pre-built CLIF binary. Note that we only support now Ubuntu
# 14

[2021-04-16 20:51] pichuan commented on #441
@yanyang1989 in our next release (which we have internally updated already), we'll be building clif from scratch. However, in our next release we will only support Ubuntu18.

For any other versions, please directly refer to https://github.com/google/clif to build clif binaries.

[2021-04-17 00:09] woodoo46 opened #444 "An error"
Hi there,

We ran deepvariant on test data, and we had the following error:

I0416 16:33:15.202579 46954465520640 run_deepvariant.py:416] None
Traceback (most recent call last):
  File "/opt/deepvariant/bin/run_deepvariant.py", line 421, in <module>
    app.run(main)
  File "/usr/local/lib/python3.6/dist-packages/absl/app.py", line 299, in run
    _run_main(main, args)
  File "/usr/local/lib/pytho

[2021-04-17 02:50] pichuan commented on #444
Hi @woodoo46
Can you give me more information like:
Which OS you're using, what singularity version, etc.

And, are there more logs before the first line?
[code]

It'll help if I can try reproducing the error first.

[2021-04-17 03:00] pichuan commented on #443
Hi @mkazanov ,

Update:
First, I want to remind you that:
  * Our next release (r1.2) will be on Ubuntu 18.04.
  * And, even right now (with r1.1), you should be able to run our `google/deepvariant:1.1.0` on Ubuntu18.04.

Just in case you really need to build your own on a Ubuntu18.04 now, I put together some changes that we already made internally to update to Ubuntu 18.04 here:
https://github.co

[2021-04-17 03:00] #443 closed

[2021-04-17 03:02] pichuan commented on #441
Please see https://github.com/google/deepvariant/issues/443#issuecomment-821755400 for how to update to Ubuntu 18.04.
I haven't tried updating to Python 3.8 yet. But I'll create an internal issue to track it.
Closing this issue now, but feel free to add more questions/comments if related to this one, or feel free to open another issue for any other questions.

[2021-04-17 03:02] #441 closed

[2021-04-18 11:49] woodoo46 commented on #444
I think it is a misconfiguration on our side, sorry about that.

[2021-04-18 11:49] #444 closed

[2021-04-19 08:28] brentp opened #445 "ENH: support python3.7+"
Hi, it's getting harder to build deepvariant, even using bioconda as everything it moving to python3.7 or higher.
Would it be possible to get the build and Dockerfile updated to 3.7? And/or could you provide some guidance on what is needed?

Using the docker container works perfectly. But I want to add bcftools and samtools (for example) to the container and also have it work on singularity.
thank

[2021-04-19 15:43] danielecook commented on #445
Hi Brent I will check in on this and get back to you. Just to be clear, are using `FROM google/deepvariant` and then installing bioconda and using that to install bcftools / samtools or are you using bioconda to install deepvariant, samtools, and bcftools?

[2021-04-19 16:51] danielecook commented on #445
@brentp what version of singularity are you using? I have had issues with older versions of Singularity in the past and was able to get things to work by using 3+.

I can experiment with this for a bit and try to put together a Dockerfile that install Samtools and Bcftools.

[2021-04-19 17:08] brentp commented on #445
[code]
thanks for looking into it! I will also try newer singularity.

[2021-04-19 17:16] brentp commented on #445
Yes, it works simply updating singularity. Thanks for figuring this out!

[2021-04-19 17:16] #445 closed

[2021-04-20 03:33] shadrinams commented on #440
Hello Andrew,

I have tried to verify the idea and plotted normalized histograms for all DeepTrio calls, filtered DeNovo-like (0/1-0/0-0/0) calls and true DeNovo calls (verified in IGV). Please see an attached picture. True DeNovo calls are still in the middle-low part of proband GQ range for DeNovo-like calls. I have tried to look at several DeNovo-like variants with a higher proband GQ, which we

[2021-04-21 07:57] AndrewCarroll commented on #440
Hi @shadrinams

Your observations about some apparent de novos originating from undercalling of a parent is interesting. I think that we'll look into whether some harmonization or filtering after calls could make the resulting calls more uniform.

With respect to your examples. It is often difficult to be definitive about why DeepVariant does not make certain calls. I cannot give you a reason, but

[2021-04-21 16:37] shadrinams commented on #440
Hello Andrew,

Thank you for your reply.

I have prepared snippets of the BAM files for the trio with variant chr7:54624683. It would be interesting to see what you find!

It is an interesting thought! But even if there is an explanation for missing HET T, the AATATAT insertion allele is also missed in the father genotype. And for some reason it is shown as ./.

Best regards,
Maria.

[chr7_5462468

[2021-04-25 15:36] ruolin opened #446 "PACBIO model error"
**Have you checked the FAQ? https://github.com/google/deepvariant/blob/r1.1/docs/FAQ.md**:

**Describe the issue:**
[code]

**Setup**
  - Operating system:
  `google cloud through [Terra](https://terra.bio/)`
  - DeepVariant version:
  `1.1.0`
  - Installation method (Docker, built from source, etc.):
  `google/deepvariant:1.1.0`
  - Type of data: (sequencing instrument, reference genome, anything

[2021-04-25 15:57] danielecook commented on #446
@ruolin I can take a look at the Terra workflow. Send an email to my username `@google.com`.

If I had to guess, this is likely an issue with memory usage or storage resources.

[2021-04-25 16:47] elcortegano opened #447 "Option to include invariant sites in output"
For some uses, having a vcf file generated with information for all variant and invariant sites is useful. This was possible in other variant callers such as GATK.

Would it be possible to include such an option in deepvariant?

Thank you,
Eugenio

[2021-04-25 17:30] AndrewCarroll commented on #447
Hi @elcortegano

For this question, do you mean the ability to include statistics about reference confidence blocks in a GVCF format, or do you mean the ability to write a line in a VCF for every genome position (equivalent to the EMIT_ALL_SITES option of GATK).

If you mean a GVCF, this can be done in DeepVariant by adding the flag ```--output_gvcf=${GVCF_FILE} ``` to the executed command. We gen

[2021-04-25 17:39] ruolin commented on #446
@danielecook Thanks. Just shared with you. The submission id is `ac89cde6-db3a-4af6-85e5-334f0c74efae`. Let me know if it does not work.

[2021-04-26 02:11] danielecook commented on #446
@ruolin I don't see any issues with the inputs. Are you able to run this with more memory?

[2021-04-26 03:05] ruolin commented on #446
@danielecook Thanks for looking into this! I have 320GB (20 cores x 16G per core) memory now. How large do you think is needed?

[2021-04-26 05:40] pichuan commented on #446
Hi @ruolin ,
thanks for reporting this issue. I'll try running on your BAM and reference and see if we can reproduce the issue.
We have in the past seen cases where the jobs run out of memory, and our error messages in that situation isn't very clear. So @danielecook 's guess of OOM makes sense. But the memory you're reporting sounds like it should be enough. So let me see if I can reproduce this

[2021-04-26 15:53] pgrosu commented on #446
Hi Pichuan,

Maybe this might help.  Try to launching the `free` command in the background on some interval like 60 sec, before all the deepvariant ones:

  `free -s 60 > dv_mem_usage.txt`

Then when deepvariant completes have the command be auto-terminated so it doesn't run indefinitely.

Then you'll know for sure if memory is the culprit based on the memory profile.

Hope it helps,
~p

[2021-04-26 17:36] ruolin commented on #446
@pichuan @danielecook Thank you guys for such a quick response. It is something I feared. The Cromwell dispatcher is a black box to me. I will try your configurations and some others too to see if it solves the problems.

[2021-04-26 20:34] yanyang1989 opened #448 "build from source"
Run a interactive mode of docker container (different than deepvariant container) and plan to build the deepvariant from source:

run the build-prereq.sh and run build_and_test.sh. Then how to test deepvariant function?

[2021-04-26 20:40] yanyang1989 commented on #448
then I found the call_variants.py is listed in /root/.cache/bazel/_bazel_root/617054f44dc1f1e9b3fe3174f8eb2580/execroot/com_google_deepvariant/bazel-out/k8-opt/bin/deepvariant/call_variants_test.runfiles/com_google_deepvariant/deepvariant/call_variants.py

[2021-04-26 20:45] yanyang1989 commented on #448
when I build_and_test.sh, there showing error:
bazel-out/k8-opt/bin/external/com_google_protobuf/src: warning: directory does not exist.

where is this directory?

[2021-04-26 21:44] pichuan commented on #446
Thanks @ruolin . If you have suggestions on how to reproduce this issue so we can take a look, please feel free to re-open this issue.

[2021-04-26 21:44] #446 closed

[2021-04-28 17:58] akolesnikov commented on #448
I'm not sure I understand what you are trying to do. If you'd like to build your own docker image that includes DeepVariant you may follow commands in DeepVariant docker config - deepvariant/Dockerfile

[2021-04-28 18:03] mvilsker opened #449 "Searching for the 6 channel code :)"
Hi,

I am searching for the code that converts the input files (BAM) to the 6 channels that you used in CNN. Can you help me out please?

[2021-04-28 19:15] danielecook commented on #449
@mvilsker The pileup_image python and C++ code here contains most of the logic for constructing the channels

https://github.com/google/deepvariant/blob/r1.1/deepvariant/pileup_image.py
https://github.com/google/deepvariant/blob/r1.1/deepvariant/pileup_image_native.h
https://github.com/google/deepvariant/blob/r1.1/deepvariant/pileup_image_native.cc

This script does the work of generating tensors

[2021-04-29 08:25] mvilsker commented on #449
Thanks!

[2021-04-29 12:12] husamia opened #450 "DeepTrio and type 2 error question"
Well, this is not really a problem. It's rather a question. Someone asked about the de novo germline calling last year [#377](https://github.com/google/deepvariant/issues/377). Deeptrio is now available and I want to ask general question in regards with denovo variants in the child.

Background: the biggest issue with calling de novo variants (i.e. variants that are found in proband, generally as

[2021-04-29 12:55] #449 closed

[2021-04-29 21:21] husamia commented on #450
Yes, it's a fine balance indeed. Looking at it from different perspective. Higher than normal (in matched trios) of presumed "de novo germline variants in the child" , generally indicates sample QC problem. Another perspective, 99.9% of the de novo germline candidates in the child are false positives due to the type II error that I described. It's pretty significant!

In the context of the calling

[2021-04-30 15:59] ASLeonard opened #451 "Using deepvariant/deeptrio on triobinned assemblies"
Hi,
I've had great success with DV/DT so far, but ran into some difficult use cases when dealing with trio-binned individuals. Specifically, there is no straightforward way to bin the child short reads into haplotypes as there is for long reads. I would anticipate running DT using the full set of F1 hybrid short reads aligned to only one haplotype would introduce a bunch of "false" variants coming

[2021-04-30 17:49] elcortegano commented on #447
Hi Andrew, sorry for the delay,

I was aiming to get per nucleotide values of read depth, base and mapping qualities. I just come to check that this information can in fact be obtained from `samtools depth` and `samtools mpileup`, so I guess that will work for us.

Thank you for the feedback!
Eugenio

[2021-04-30 19:49] AndrewCarroll commented on #450
Hi @husamia

I am curious, are you working with human sequence data, or do these come from non-human species?

I will take a look at the ratio of these events in our sample. If we could provide a simple filtering script to postprocess a callset, would this be something that you might use?

Thank you,
Andrew

[2021-04-30 22:58] yanyang1989 commented on #441
@pichuan Hi! When I downloaded all the pre-built binaries and run the run-prereq.sh scripts. How I suppose to run the make_example parallel?
I use the following command:
seq 0 47 | parallel -q --halt 2 --line-buffer python3 make_examples.zip --mode calling --ref /data/input/human_g1k_v37.fasta --reads /data/input/c6c4c1db-4328-4aa9-b038-074c9a453117.dedup.bam --examples make_examples.tfrecord@12.g

[2021-05-01 02:25] husamia commented on #450
@AndrewCarroll I am working with human data. Called for clinical diagnosis. There is great interest in the clinical community to call de novo variants in the child from trio data. There is data about the rates of those events. In 1% of the human genome there is only one real de novo. If it's more than two there is sample QC problem.

[2021-05-03 07:08] AndrewCarroll commented on #450
Hi @husamia

Thank you for the extra information. If there is any feedback that you can provide, I would be very grateful for examples. If you would like to follow up by email, you can reach me at awcarroll@google.com

Thank you,
Andrew

[2021-05-03 12:39] ASLeonard commented on #451
Thanks Andrew,

This work was specifically motivated by recent approaches like those in the VGP of using SNP/indels to polish large assemblies, and deepvariant being a top performing tool for this. Unfortunately, they don't use triobinning, and triobinning papers generally only polish with the binnable long reads, so perhaps this problem is currently unsolvable.

I'll keep trying out some differen

[2021-05-03 12:39] #451 closed

[2021-05-03 19:59] pichuan commented on #441
Hi @yanyang1989
If you're specifying a flag like : `--examples make_examples.tfrecord@12.gz`  , you'll need to run make_examples for each of the 12 shards (0 to 11) by specifying `--task {}` in your parallel command.

Usually we recommend people to directly use the `run_deepvariant` one-step command (see : https://github.com/google/deepvariant/blob/r1.1/docs/deepvariant-quick-start.md#run-deepvari

[2021-05-04 19:42] yanyang1989 commented on #441
Hi @pichuan , if not using pipe in the command to run make_example.zip. How to run this script: I am using

seq 0 47 | parallel --halt 2 \
python3 make_examples.zip \
--mode calling \
--ref /data/input/human_g1k_v37.fasta \
--reads /data/input/dedup.bam \
--examples make_examples.tfrecord@48.gz \
--gvcf gvcf.tfrecord@48.gz \
--task {}

I don't want to use pipe. How to edit the code?

[2021-05-04 19:54] #447 closed

[2021-05-04 19:55] gunjanbaid commented on #448
@yanyang1989 closing this out, but feel free to reopen if you are still running into trouble. Thanks!

[2021-05-04 19:55] #448 closed

[2021-05-04 20:25] pichuan commented on #441
Hi @yanyang1989 , you mean you don't want to use "|"?
You could use a for loop in bash that iterate from 0 to 47, instead of `seq` and `|`.

Basically, you want to run
[code]
where $IDX ranges from 0 to 47 to cover all 48 shards.

[2021-05-06 17:14] aardes opened #452 "GPU mode error"
Hi,

I got the following error:

I'm using Docker version 1.1.0
gpu NVIDIA GeForce RTX 3090

Any suggestion or advice?

Thanks in advance.
Amin

`2021-05-06 16:56:50.765879: I tensorflow/stream_executor/platform/default/dso_loader.cc:48] Successfully opened dynamic library libcudart.so.10.1
I0506 16:56:52.008759 140393620989696 call_variants.py:338] Shape of input examples: [100, 221, 6]
2021-05-0

[2021-05-06 18:53] gunjanbaid commented on #452
Hi @aardes, thanks for reaching out! Are you having problems running TensorFlow on your machine separately from DeepVariant? This seems like an issue with the TensorFlow setup, so I would recommend taking a look at the issues in the TF repo. Here are some that may be relevant: https://github.com/tensorflow/tensorflow/issues/41990, https://github.com/tensorflow/tensorflow/issues/43588

[2021-05-06 19:21] gunjanbaid commented on #452
The TF/Cuda/cuDNN versions being used may be incompatible with your GPU. A few questions for you:

* Does the quickstart without GPU run without errors? Please test with https://github.com/google/deepvariant/blob/r0.10/docs/deepvariant-quick-start.md.
* What OS are you running on?
* Command to reproduce your issue?
* Are you able to run TF + GPU separately from DeepVariant?
* Do older versions of

[2021-05-07 11:15] marchoeppner opened #453 "Clarification on variant call(s)"
**Have you checked the FAQ? https://github.com/google/deepvariant/blob/r1.1/docs/FAQ.md**:

**Describe the issue:**

We found a back-to-back call of two SNPs that we cannot explain as the BAM file suggests a deletion. IGV screenshot: https://www.dropbox.com/s/c0wfelxc1cca14b/igv_snapshot.png?dl=0

Happy to provide a BAM file etc. But maybe this is easy enough to explain; I just cannot figure out w

[2021-05-07 13:03] marchoeppner commented on #453
I stand corrected, this is an error with GLNexus, The per-sample vcf produced by DeepVariant shows the locus as expected.

[2021-05-07 13:03] #453 closed

[2021-05-07 13:48] husamia commented on #450
Hi @AndrewCarroll

Is it possible to de novo variant call in the trio starting with the make examples step? Not a filtering script.

Here is the reason:
When you call variants in the context of the child, parent 1 and parent 2 you can capture more information about the variants that you can not from individually calling the variants in each individual.

[2021-05-07 21:25] maryawood opened #454 "No class labeling output in variant calls by model trained with customized_classes_labeler"
Hello,

I've been attempting to use the customized_classes_labeler to train a DeepVariant model. Specifically, I've been trying use the "callsets" field from the INFO field of a Genome In A Bottle VCF file. I've been working with NA12878, VCF/BED files available here: ftp://ftp-trace.ncbi.nlm.nih.gov/giab/ftp/release/NA12878_HG001/latest/GRCh38/

At first, I could not make training examples using

[2021-05-07 21:57] pichuan commented on #454
Hi @maryawood ,
`customized_classes_labeler` is an internal, experimental feature that we didn't provide documentation because we don't plan to provide support on it at this moment?

Can you provide a bit more detail on your problem definition - E..g, what are you trying to predict?
You mentioned `callsets` in INFO -- does that mean you're trying to build a variant classifier that could predict th

[2021-05-08 01:37] aardes commented on #452
Dear @gunjanbaid

thanks for your reply,

I am using the docker version, and the quick start with gpu does not work.
I have Ubuntu 20.04.
I used the exact same command as quickstart

the issue is the TF and CUDA version which is not matched with the deep variant current ubuntu version. I am using RTX 3090 and this card needs a higher version of TF.

I tried to make a Docker-based on the versions t

[2021-05-08 08:25] zjminglead opened #455 "Run demo inside Best practices for multi-sample variant calling with DeepVariant and it report bam file crash."
**Describe the issue:**
run demo inside Best practices for multi-sample variant calling with DeepVariant failed

**Setup**
  - Operating system: centos 7,
  - DeepVariant version:1.1.0
  - Installation method (Docker, built from source, etc.): Docker
  - Type of data: (sequencing instrument, reference genome, anything special that is unlike the case studies?)

**Steps to reproduce:**
  - Command:

[2021-05-09 16:50] maryawood commented on #454
Hi @pichuan, thanks for your response! Yes, ideally I'd like to build a variant classifier that could predict those callset values that I could then use as a proxy for the "confidence level" of a variant, i.e. a variant identified in multiple callsets might be more likely to be a "real" variant than one predicted in just one or two.

Based on your description of the 3-class system in the codebase,

[2021-05-10 06:25] AndrewCarroll commented on #450
Hi @husamia

This is a reasonable idea, I have some idea of how to accomplish it. I am going to close this issue for now and follow up with you by email around some of the possible examples.

[2021-05-10 06:25] #450 closed

[2021-05-10 07:14] AndrewCarroll commented on #440
Hi @shadrinams

My apologies for the delay in reply. It took me awhile to get to this issue. I have some thoughts about how to improve consistency in the trio calling that may help some of these cases. But it may take a bit of time to explore those.

For the chr7_54624683 case, I suspect there is some interaction with the variant call and the normalization done by GLnexus. When I look at the VCF f

[2021-05-10 15:07] YoavEtzioni opened #456 "Accessing tensorflow model defintion"
Would like to train from basic tensorflow, without dockers and other API's. Is the TensorFlow code for training available?

[2021-05-10 15:12] #456 closed

[2021-05-10 22:30] aardes commented on #452
any update?

[2021-05-11 12:47] annabeldekker opened #457 "parse_sam_aux_fields conflict ValueError"
Dear developers! I am very curious to use DeepVariant on our in house data. In trying to do so, I stumbled upon an error I cannot seem to circumvent.

**Problem:**
I am trying to run my bamfile that originated from a pacbio LAA output, mapped with minimap2. I receive the error that it's unable to read any records. As I got the warGning (lol!) that --'add_hp_channel' is set but not 'parse_sam_aux_f

[2021-05-11 14:19] gunjanbaid commented on #452
Hi @aardes, my understanding is that cuDNN v8, CUDA 11, TF 2.5, and Python 3.8 will be needed for RTX 3090. Our code is currently not ready to be upgraded to Python 3.8, but this is something we are looking into for future releases.

[2021-05-11 20:02] shadrinams commented on #440
Hello Andrew,

Thank you for the information! It is interesting!

chr7:54624686 A-ATC and chr7:54624683 A-AATC are different variants. I see both in my output.

But still my output for chr7:54624686 A-ATC is not the same. It was not called in my proband. The one in my father  looks similar but QUAL and GQ are quite different. I think it comes from the DeepTrio calling step. How can our outputs be

[2021-05-12 03:52] zjminglead commented on #455
Hello @MariaNattestad
Thanks for reply, it turns out BAM file is truncated, here is my train of thought and step to fix the problem.
1. Because 3 bam(HG002 HG003 HG004) file report same error, and I also tried to redownload bam file, it didn't work  either,  it reports [W::bam_hdr_read] EOF marker is absent. The input is probably truncated and [E::bgzf_read] Read block operation failed with error

[2021-05-12 03:53] #455 closed

[2021-05-12 09:58] annabeldekker commented on #457
Hi Maria! Thanks for your fast reply,
so the Bam I'm using is acutually generated a bit differently than usual (at least it's not actual HiFi ccs reads).. I performed LAA from pb software (v8) on targeted (one gene) HiFi amplicon data. LAA performs ccs and demultiplexing, and from that it immediately creates consensus 'clustered/phased' sequences (as the target is only one gene, the fastq consists

[2021-05-12 17:17] MariaNattestad commented on #457
Okay, I see.
Yes, the PacBio model is meant for HiFi reads only, but also DeepVariant is not going to perform well with a single read. For one thing, the very sensitive caller that finds candidates looks for 2 reads showing the same potential variant allele, but also the models are trained with coverages only as low as about 15X, so even if you changed the thresholds for candidate generation to 1

[2021-05-13 13:35] annabeldekker commented on #457
Hi Maria,

That makes total sense! Thanks for your advice. As this was my first try with DeepVariant, I will definitely try your tool on different kind of data as well :).
Just to be curious, if I understand well you also wouldn't recommend your tool for data such as Illumina low coverage WGS (with a different model of course)?

Thanks a lot!

[2021-05-13 15:22] MariaNattestad commented on #457
Happy to help!
For your question, it depends on how low the coverage is. You can see this blog post for how coverage impacts accuracy: https://google.github.io/deepvariant/posts/2019-09-10-twenty-is-the-new-thirty-comparing-current-and-historical-wgs-accuracy-across-coverage/

[2021-05-13 23:20] MariaNattestad commented on #457
By the way, can you let me know what documentation page you were working from for the original command?

I changed the warning message but want to make sure we're looking at the whole user flow up to that point to make sure nothing confusing is still there.

Thanks!

[2021-05-19 14:55] annabeldekker commented on #457
Sorry for my late reply! To be honest, I believe I went with the [quick start](https://github.com/google/deepvariant/blob/r1.1/docs/deepvariant-quick-start.md) and replaced the test data with my own. Then I started to debug on that ValueError, believing that was a potential bug (because of the error saying I was using `--make_examples_extra_args="sort_by_haplotypes=true,parse_sam_aux_fields=true"`

[2021-05-19 14:55] #457 closed

[2021-05-19 15:21] pichuan commented on #457
Hi @annabeldekker ,
one more thing to point out -- depending on which version you're using, we actually changed (improved) the way PacBio flags works between version 1.0.0 and 1.1.0.

In the older v1.0.0, we asked users to set two flags `sort_by_haplotypes` and `parse_sam_aux_fields`:
https://github.com/google/deepvariant/blob/r1.0/docs/deepvariant-pacbio-model-case-study.md#run-deepvariant-on-hap

[2021-05-19 15:36] ajsa-nukovic opened #458 "Problem with PACBIO model"
Hi everyone,

I tested DeepVariant 1.1.0 on PACBIO data (HG002, chr20), using PACBIO model and got following error in call_variants.py script:
`I0519 14:15:32.843033 139847781275392 call_variants.py:338] Shape of input examples: [100, 221, 8]
Traceback (most recent call last):
  File "/sbgenomics/workspaces/aa109ba2-5d46-4def-a398-4a7e1ee8806e/tasks/2555e949-a7d7-40a9-9a24-b002adf182c2/deepvariant

[2021-05-19 17:31] pichuan commented on #458
Hi @ajsa-nukovic ,
Sorry for the confusion. Starting from v1.1.0, we added an additional channel to our PacBio model, and tried to simplify the flags in the one-step `run_deepvariant` by adding just one flag `--use_hp_information`, which you can set to false if you're BAM is not phased, and set to true if your BAM is phased.

Example:
https://github.com/google/deepvariant/blob/r1.1/docs/deepvarian

[2021-05-19 18:02] pichuan commented on #458
@ajsa-nukovic Hopefully adding the --add_hp_channel in make_examples work for you. If not, let me know.

[2021-05-19 18:02] #458 closed

[2021-05-19 18:04] pichuan commented on #457
@annabeldekker Also see my answer in https://github.com/google/deepvariant/issues/458 , which is relevant.

[2021-05-20 08:55] annabeldekker commented on #457
@pichuan Thanks! I will look into that.

Just to point out, I was using that flag `parse_sam_aux_fields` because the warning (from v1.1.0) suggested me to do so (and my record was empty, so I was afraid my Bam wasn't being parsed). Also, the `--use_hp_information`, suggests to only take those HP flags in BAM into account, but if I understand correctly from your comment it has the `--parse_sam_aux_

[2021-05-20 12:55] ajsa-nukovic commented on #458
Hi @pichuan ,

Yeah, it was definitely --add_hp_channel flag that made the difference. PACBIO model works great now.

Thanks a lot for your fast reply. :)

[2021-05-20 22:29] pichuan commented on #457
Hi @annabeldekker

I'll paste some similar information from my answer in the other issue: https://github.com/google/deepvariant/issues/458#issuecomment-844317545. Hopefully my answer below will help you as well:

Starting from v1.1.0, we added an additional channel to our PacBio model, and tried to simplify the flags in the one-step `run_deepvariant` by adding just one flag `--use_hp_information`,

[2021-05-24 15:53] #454 closed

[2021-05-27 16:49] kyleoconnell opened #459 "Training on non-model organisms"
**Have you checked the FAQ? https://github.com/google/deepvariant/blob/r1.1/docs/FAQ.md**:

**Describe the issue:**
(A clear and concise description of what the issue is.)

**Setup**
  - Operating system:
  - DeepVariant version:
  - Installation method (Docker, built from source, etc.):
  - Type of data: (sequencing instrument, reference genome, anything special that is unlike the case studies?)

[2021-05-27 16:53] kyleoconnell commented on #459
Hi, I am interested in benchmarking DV on exome data from a group of snakes. I have a single reference genome from a closely related species, but I would not have the trio data as was done with the Drosophila data. Do you know if anyone has been able to retrain DV using one or two genomes without pedigree info?

Thanks.

[2021-05-27 23:36] danielecook commented on #459
Hi @kyleoconnell in order to train a model you will need to establish ground truth data. This can be used both for training and evaluation purposes.

Previously, DeepVariant has been applied to mouse data with a human model and performed well. However, even here you will want some basis upon which to determine the quality of the genotypes.

[2021-06-03 08:21] lpryszcz opened #460 "deepvariant is very slow on alignements produced by hisat2 and reports only half of expected SNPs/INDELs"
Hi, is there any recommendation regarding short-read aligner that works the best with deepvariant? I have looked into your tutorials, but they always start from BAM files...

I aligned HG002 (Illumina, 30x) using hisat2, bwa-mem2 and snap-aligner. Initially I've looked at 3 Mb (chr20:10,000,000-13,000,000).
To my big surprise deepvariant was running ~100x slower on BAM file produced by hisat2 (dup

[2021-06-04 00:09] AndrewCarroll commented on #460
Hi @lpryszcz

With respect to your aligner question, we have evaluated DeepVariant with BWA-MEM/BWA-MEM2, minimap2, DRAGEN, and the graph mapper Giraffe.

For mapping to a linear reference, we would recommend BWA-MEM/BWA-MEM2 or DRAGEN. DeepVariant is trained on BWA MEM data. Minimap2 will work, but has slightly lower accuracy.

We have not evaluated HISAT2. If I had to guess, I would suspect that

[2021-06-04 08:17] lpryszcz commented on #460
Hi Andrew, this answers all my questions! Since deepvariant is trained on bwa-mem2, I guess it's makes sense to stick to it. And it's good to know marking duplicates isn't necessary - this will save some time & electricity :)
And big thanks to all people involved in deepvariant - it's truly groundbreaking tool!
All the best,
Leszek

[2021-06-04 08:17] #460 closed

[2021-06-08 15:02] kyleaoconnell22 commented on #459
Thanks Daniel, non sure if Google Health has tried this at all with non-model genomes, but what I am thinking is trying to train my model based on GATK calls from a deeply-sequenced individual and then evaluate using the same strategy on a second deeply-sequenced individual. I don't have triads so I can't use the method GH used for mosquitoes, but does that sound like a reasonable approach to gett

[2021-06-09 20:18] AndrewCarroll commented on #459
Hi @kyleaoconnell22

Can I ask a few other questions - first, have you already attempted to use the human model, and, if so, do you have any indication of issues?

Second, do you know some of the rough properties of the genome (does it have a high repeat content? Do you know the approximate variant density and heterozygosity)?

We have been doing some experimentation with silver standard training

[2021-06-09 23:11] kyleaoconnell22 commented on #459
Hi @AndrewCarroll ,

Thanks for the detailed reply. This is still kind of in early days. Our team is mostly from the National Museum of Natural History so we all work on a variety of taxa from snakes to plants. At this point we were trying to figure out the best non-model group(s) to start with because if we could start with a taxon with genome trios sequenced (or I suppose WES) then we could try

[2021-06-11 15:26] mvelinder opened #462 "Fresh AWS install failing on quick start data"
**Have you checked the FAQ? https://github.com/google/deepvariant/blob/r1.1/docs/FAQ.md**:
Yes

**Describe the issue:**
Launching an Ubuntu 20.04 server t2 micro EC2 on AWS, installed docker using snap, downloaded data from quickstart guide verbatim https://github.com/google/deepvariant/blob/r1.0/docs/deepvariant-quick-start.md

**Setup**
  - Operating system: Ubuntu 20.04 server t2 micro EC2 on A

[2021-06-11 20:50] pichuan commented on #462
Hello @mvelinder
Were you able to resolve the issue? Can you share a bit more context on what went wrong?
Thanks!

[2021-06-18 17:25] Asppagh opened #463 "very long processing time of running deepvariant on a HPC server"
I am using deepvariant on  our cluster using singularity.
I could setup singularity and get it running.  My problem now is that the process is pretty slow and it takes more than a day for just one sample. However I allocate more cpu core and memory does not help.
Increasing the number of shard does not resolve it and even make it worse.
Could someone  please give me some clue on how to find it sol

[2021-06-18 22:37] pichuan commented on #463
Hi @Asppagh ,

It can be many different reasons.
Your machine setup definitely could be one of the factors.
And, not all inputs will take the same amount of time to run. For example, some regions in some BAMs might take longer to realign, etc. In DeepVariant, we tried to empirically set some thresholds so we hope that even the slowest cases are not too slow. But it's always useful to learn from ou

[2021-06-20 06:08] Asppagh commented on #463
Hi @pichuan,
Thanks for the response.
As our data is not publicly available, soI tried to use the benchmark data in the following link to get the better comparison.
https://github.com/google/deepvariant/blob/r1.1/docs/deepvariant-exome-case-study.md
In the link below,  you mentioned about "sec per 100" on the log file is .67 sec for your hardware configuration.  That should be proportionally adjus

[2021-06-22 17:58] pichuan commented on #463
Thanks @Asppagh . Sorry it took me a while to get back to this.

From your response above, you're talking about the `call_variants` step.
The issue (https://github.com/google/deepvariant/issues/74) you cited above was from a while ago, so the numbers might have changed. But I think it's still a good reference point. Even with 8 cores, going from < 1sec to  20-60 sec does seem extreme.

Let me try

[2021-06-22 18:22] Asppagh commented on #463
Thanks @pichuan,
I run on a cluster with different machines, which are pretty similar for example one of the machine that I use has 8 cores, each with the below cpu info:

cat /proc/cpuinfo
processor	: 0
vendor_id	: GenuineIntel
cpu family	: 6
model		: 85
model name	: Intel(R) Xeon(R) Silver 4116 CPU @ 2.10GHz
stepping	: 4
microcode	: 0x200004d
cpu MHz		: 2095.078
cache size	: 16896 KB
physical id

[2021-06-22 21:08] mvelinder commented on #462
I was not able to get this working @pichuan , if you could provide any guidance that'd still be helpful for me. Thanks!

[2021-06-22 21:38] pichuan commented on #463
I get a 8 VCPUs, 52 GB RAM [n1-highmem-8](https://cloud.google.com/compute/docs/machine-types#n1_high-memory_machine_types) machine to test:

[code]

On the machine, I installed Singularity:
[code]

Here's the version:
[code]

I followed:
https://github.com/google/deepvariant/blob/r1.1/docs/deepvariant-exome-case-study.md
to download the data.

And then:

[code]

I'll paste part of the log of each

[2021-06-22 23:32] pichuan commented on #462
@mvelinder I noticed that you're running on t2 micro. And it seems like you're not running the Quick Start, but actually running on our WES BAM file.

Given that t2 micro only has 1G RAM, make_examples likely ran out of memory.
DeepVariant's error message when running OOM can be a bit confusing. This is something we still hope to improve.

Can you try a machine with more RAM? If you're just runnin

[2021-06-22 23:33] #462 closed

[2021-06-23 02:45] maryawood opened #464 "Recommendations regarding minimum values for advancing candidates in make_examples?"
Hello,

I was wondering if you had any recommendations as far as deviating from default values for options like `--min_base_quality`, `--min_mapping_quality`, `--vsc_min_count_snps`, etc. when running `make_examples` for retraining DeepVariant? How were the default values selected? Are there specific situations in which you would recommend changing them?

Thank you for your help!

[2021-06-23 21:52] mvelinder commented on #462
With a brand new t2.medium instance per the quickstart guide and your command I get:

[code]

[2021-06-23 22:41] pichuan commented on #462
@mvelinder I think sometimes this could happen when the environment variables were not manually set right.

For example, can you do:
[code]
(and all the others that you might have in your command) to make sure they're all set as expected?

[2021-06-24 01:06] pichuan commented on #464
Hi @maryawood ,
The default values in make_examples.py are our recommendations.
We do adjust things a bit based on different datatypes. For example, for PacBio, we changed --vsc_min_fraction_indels to 0.12:
https://github.com/google/deepvariant/blob/r1.1/scripts/run_deepvariant.py#L238
[code]

For retraining, it will depend on your data. For example, using different mappers could end up with diffe

[2021-06-24 01:06] #464 closed

[2021-06-24 15:35] mvelinder commented on #462
Including my `$BIN_VERSION` `INPUT_DIR` and `OUTPUT_DIR` in a run script fixed this and I was able to run the test data on a t2.medium. Thanks!

[code]

[2021-06-24 16:28] pichuan commented on #462
Glad that it's working @mvelinder .
For larger data, you'll likely want to use more resources. You can see this doc for more examples for different machine types and costs (estimated on GCP).

[2021-06-24 16:30] Asppagh commented on #463
Hi @pichuan,
Make example
real	44m32.310s
user	292m40.886s
sys	3m37.117s

Call variant
real	15m54.223s
user	63m3.052s
sys	0m45.200s

Post process
real	18m19.080s
user	0m45.307s
sys	0m5.393s

I ran multiple times with different machines that is in our cluster,
This is the  best runtime that I get is here, but this is on 32 cores machine, however I believe number of the core does not change the run

[2021-06-24 16:56] Asppagh opened #465 "parallel: job failed:"
Does anyone know what caused the below error?
I use deepvariant image on singularity and running it on a cluster but this error happens on many machines.
I don't know what causes this error.

I0624 02:14:00.095050 47429297437696 run_deepvariant.py:313] Creating a directory for intermediate results in /output/intermediate_results_dir
I0624 02:14:01.826225 47429297437696 run_deepvariant.py:405] Crea

[2021-06-24 21:04] kokyriakidis opened #466 "Calling Germline variants in Tumor samples."
Hi everyone,

I wanted to ask if I could use DeepVariant with **Tumor Illumina samples** to accurately detect **Germline** variants? Can it accurately distinguish them from the Somatic ones? I am interested in Germline variants only.

Thank you for your time,
Konstantinos Kyriakidis

[2021-06-28 06:07] pichuan commented on #466
Hi @kokyriakidis ,
I think it's worth giving it a try. But given DeepVariant isn't trained to tell somatic variants apart from germline ones, it is possible that DeepVariant might still end up calling some other somatic variants if they look similar enough.

[2021-06-28 06:07] #466 closed

[2021-06-28 06:10] pichuan commented on #463
Hi @Asppagh ,
from your numbers, it seems like your make_examples isn't too different from my run.

I'm most surprised by your postprocess_variants. It seems like your user time of postprocess_variants is similar to mine (less than a minute), however the real wall time is 18min? Given that I don't know enough about your system setting, any guess why this would be the case? On a high level I wonder

[2021-06-28 21:06] pichuan commented on #465
Hi @Asppagh
From the error above it wasn't very informative.

This seems like it failed on the make_examples step already. We should have just stopped there, instead of proceeding into call_variants and next steps. --> This is now fixed in internal code, and will be fixed in the next release.

Another question is -- why did the failed make_examples not produce any useful logs?

This one is a bit l

[2021-06-29 07:36] kokyriakidis opened #467 "Candidate variants"
Hi!

Is it possible to get a vcf with **all candidate variants** only?

[2021-06-29 16:28] Asppagh commented on #465
Hi @pichuan
I just used the command you suggested but I am not getting  any log.
could you please let me know how to set /opt/deepvariant/bin/make_examples parameter to get the errors?
Thanks,

[2021-06-29 16:50] pichuan commented on #465
@Asppagh Usually when make_examples has an error and crashes, it should have the stack trace at the end. (I've seen them in the errors I've seen before)
In this case it seems like we're trying to find out why it didn't.
I think it's possible to change the verbose level. I'll need to look into that later. I'm traveling so it'll take a while for me to get back to this. Adding @danielecook in case yo

[2021-06-29 20:57] mattwood-codifiedgenomics opened #469 "Docker image google/deepvariant:1.1.0-gpu fails to run with "model_train --use_tpu""
When using the provided docker image, google/deepvariant:1.1.0-gpu, an error is produced if --use_tpu is used with model_train.

The command:

[code]

The error that prints is:

[code]
However, cloud-tpu-client is not actually the problem. The issue is that  `google.api_core.client_options` is not found when being imported from `googleapiclient.discovery`.

The issue appears to be the [python3.3 _

[2021-06-29 21:59] danielecook commented on #467
@kokyriakidis currently we do not have a way of doing this, but we are working on an option to output candidate alleles in an upcoming release.

[2021-06-29 22:41] pichuan commented on #467
If you want to directly take from the output of make_examples and create vcf from there, you can see this implementation here:
https://github.com/google/deepvariant/blob/r1.1/deepvariant/labeler/labeled_examples_to_vcf.py

Note that this currently requires the examples to have labels (i.e., generated with `training` mode). But you can relax the constraint here:
https://github.com/google/deepvarian

[2021-06-29 22:42] pichuan commented on #469
Thanks @mattwood-codifiedgenomics . I'll take a look at this before the next release.

[2021-06-29 23:45] pichuan commented on #465
Here is an attempt to deliberately mess up the BAM file in the case study, so I can get the make_examples step to fail, and observe the logs.
However, in my test runs below, I'm seeing useful error messages. @Asppagh if you have suggestions on how I can reproduce an error type like yours. It'll be really useful! Otherwise I'm currently stuck on how to help you debug this.

I'll share my test runs

[2021-06-30 04:53] kokyriakidis commented on #467
Thanks a lot, both of you, for your reply. I will for the next release.

[2021-06-30 22:01] #467 closed

[2021-07-01 05:38] pichuan commented on #469
First thing I'm trying to do is to see if I can follow similar steps in:
https://github.com/google/deepvariant/blob/r0.9/docs/deepvariant-tpu-training-case-study.md

Context: We switched our training tutorial to GPU since then, because GPU is a more common use case. The one in v0.9.0 is the latest that I can refer to, so I'll start from there. The following steps is a combination of
https://github

[2021-07-06 01:45] wangjiawen2013 commented on #352
Have you tried DeepSSV, a somatic small variants caller ?
https://www.biorxiv.org/content/10.1101/555680v1.full.pdf

[2021-07-08 10:42] marchoeppner opened #470 "Unsupported allele call."
**Have you checked the FAQ? https://github.com/google/deepvariant/blob/r1.1/docs/FAQ.md**:

**Describe the issue:**
I am debugging a set of false negative calls in a benchmarking set (NA12878, Agilent exome provided by a collaborator).

In the process, I came across a call that makes no sense to me and was wondering what a plausible explanation might be:

Final VCF:
`chr1    109161996       rs6782

[2021-07-08 10:46] marchoeppner commented on #470
BAM alignment at that locus: https://www.dropbox.com/s/qq5t53snaowiho0/debug.bam?dl=0
BAI: https://www.dropbox.com/s/e9aozinc0s6m0fw/debug.bam.bai?dl=0

[2021-07-08 15:40] pichuan commented on #459
Hi @kyleaoconnell22 , I'm closing this issue now. If you have any more questions or results to share, please feel free to follow up!

[2021-07-08 15:40] #459 closed

[2021-07-08 15:42] pichuan commented on #463
Hi @Asppagh I'm closing this issue given that I haven't had more information from you.
If you have more information to help us reproduce this issue, please feel free to reopen!

[2021-07-08 15:42] #463 closed

[2021-07-08 15:42] pichuan commented on #465
Hi @Asppagh ,
I'm closing this issue given that I haven't had more information from you.
If you have more information to help us reproduce this issue, please feel free to reopen!

[2021-07-08 15:42] #465 closed

[2021-07-08 15:46] pichuan commented on #469
Hi @mattwood-codifiedgenomics , I have an internal tracker to track this, so I'll close this for now.
If I encounter any issues when adding the dependency, I'll let you know.

[2021-07-08 15:46] #469 closed

[2021-07-12 04:32] canna1998 opened #471 "Check failed: collection_function Requires collection_function to contain an implementation"
**Describe the issue:**
I follow the quick start guidelines, and meet this error.

**Setup**
  - Operating system: MacBook Air (M1, 2020)
  - DeepVariant version: 19.03.14
  - Installation method (Docker, built from source, etc.): Docker
  - Type of data: (sequencing instrument, reference genome, anything special that is unlike the case studies?) quick start data

**Steps to reproduce:**
  - Comma

[2021-07-12 12:03] marchoeppner commented on #470
Some information on the tool chain:
- Platform: NovaSeq 6000
- Trimming: fastP (auto-mode)
- Alignment (Bwa 0.7.17)
- Fixmate (samtools)
- Merging across lanes (samtools)
- Duplicate marking (samtools)
- Variant calling with DeepVariant

[2021-07-12 19:07] akolesnikov commented on #470
Hello Marc,

Thank you for attaching the BAM file. I will try to reproduce the issue here. Meanwhile, there is an option in DeepVariant to output a locally realigned BAM file which may be very different from the original BAM. See https://github.com/google/deepvariant/issues/280#issuecomment-593558131 for details on how to turn on the feature.

[2021-07-12 19:31] akolesnikov commented on #470
Would it be possible to also attach the reference? Also, I noticed that example in your first comment is for chr1 but attached BAM is  for chr3 different interval.

[2021-07-13 05:27] marchoeppner commented on #470
Apologies, not sure how that happened...
BAM: https://www.dropbox.com/s/qq5t53snaowiho0/debug.bam?dl=0
BAI: https://www.dropbox.com/s/e9aozinc0s6m0fw/debug.bam.bai?dl=0

Genome reference, as recommended by Heng Li: ftp://ftp.ncbi.nlm.nih.gov/genomes/all/GCA/000/001/405/GCA_000001405.15_GRCh38/seqs_for_alignment_pipelines.ucsc_ids/GCA_000001405.15_GRCh38_no_alt_analysis_set.fna.gz  (GRCh38 no ALT)