[2018-10-23 06:34] solokopi commented on #110
@pichuan thank you for the swift response, yes my make example was in `calling` in calling mode. i tried the training mode but it keeps telling me that "no index file found for the vcf file" meanwhile i have all in the same folder

[2018-10-23 08:48] solokopi commented on #110
fixed, i got an example  in training mode, and it ran. thank you.

[2018-10-23 08:48] #110 closed

[2018-10-23 10:43] solokopi opened #111 "No index file for the inputed vcf file: Training mode in Make_example"
`Traceback (most recent call last):
  File "/tmp/Bazel.runfiles_OTW1G5/runfiles/genomics/deepvariant/make_examples.py", line 1015, in <module>
    tf.app.run()
  File "/usr/local/lib/python2.7/dist-packages/tensorflow/python/platform/app.py", line 48, in run
    _sys.exit(main(_sys.argv[:1] + flags_passthrough))
  File "/tmp/Bazel.runfiles_OTW1G5/runfiles/genomics/deepvariant/make_examples.py", li

[2018-10-23 14:07] pgrosu commented on #111
One of our forward-slash symbol is converted to a `%2F` - notice the one in the middle `...HG001%2FHG001...` so the search path is most likely not converted properly, and thus not reachable.

[2018-10-23 15:25] chris-sf opened #112 "WES output changes with number of shards"
I was running the whole exome example from here:
https://cloud.google.com/genomics/docs/tutorials/deepvariant#calling_exome_regions_configuration

[code]

Changing `--shards` to `128` changes the output in the VCF file. Running a diff between the two outputs shows that they are not the same. Why would that happen?

[2018-10-24 02:40] solokopi commented on #111
thank you, it the same, but don't know what must have gone wrong. i used a different data it ran but gave a different error again, please can you help analyze this for me?

WARNING: Logging before flag parsing goes to stderr.
I1024 02:24:26.300854 140364017985280 client.py:1004] Timeout attempting to reach GCE metadata service.
W1024 02:24:26.301438 140364017985280 htslib_gcp_oauth.py:88] GCP cred

[2018-10-24 02:48] solokopi commented on #111
thank you, it the same, but don't know what must have gone wrong. i used a different data it ran but gave a different error again, please can you help analyze this for me?

WARNING: Logging before flag parsing goes to stderr.
I1024 02:24:26.300854 140364017985280 client.py:1004] Timeout attempting to reach GCE metadata service.
W1024 02:24:26.301438 140364017985280 htslib_gcp_oauth.py:88] GCP cred

[2018-10-24 22:58] pichuan commented on #112
Hi @chris-sf
thanks for reporting the issue. We really don't expect the variant calling results to differ when we change the number of shards, but it seems like we can also see this issue when we try running WES case study with different number of shards. We'll investigate further to find out the root cause. But I can confirm I don't think this should be the behavior.

[2018-10-25 21:22] pichuan commented on #98
Hi,
I want to give an update on this -
in the next minor release of DeepVariant, we'll plan to update the building script to allow you build on Ubuntu 18.04.

[2018-10-25 21:42] pgrosu commented on #98
Wait, who is awesome?  You are Pichuan! :)

[2018-10-25 21:50] vinisalazar commented on #98
Indeed @pgrosu, thank you @pichuan

[2018-10-25 22:32] pichuan commented on #112
From our experiments so far, it seems like the number of tensorflow.Examples coming out at the end of the `make_examples` stage already differ.
So that means even before the data touches the CNN classifier in TensorFlow, there are already some differences. This is still not quite I'd expect, but I could see maybe some differences happen when we partition things in different number of tasks. I'll t

[2018-10-26 00:45] pgrosu commented on #112
Yeah, but @pichuan folks will then ask the obvious question of what would be the right number of shards to get the correct variant calls.  Probably some validation tests might be required with comparative benchmarks that show consistent predictability.  I'm sure you guys have done some of this already, which would be nice if it could be shared for optimally configuration of the settings.  Ideally

[2018-10-26 14:24] mclaugsf opened #113 "sharding call_variants"
I am exploring sharding the `call_variants` step and I came across this comment that I can simply concatenate TF records together with the `cat` Unix utility:

https://github.com/google/deepvariant/issues/49#issuecomment-366848143

I have a couple of questions if you could please answer.

*Q1:* Can I also use the `cat` utility to concatenate GVCF output shards?

Suppose I name the `call_variants`

[2018-10-27 07:32] pichuan commented on #112
This was really puzzling me, so I started with a smallest possible reproducible setting and started debugging.

Now I understand why the results are different.

This update will be about the technical explanation of why different number of shards result in different result:

This is because when we're processing reads in a region, we (by default) first do a sampling of the reads down to `max_reads

[2018-10-27 07:32] #112 closed

[2018-10-31 18:31] yingeddi2008 opened #114 "Can I use this to investigate SNP in bacteria genome?"
Hi Google Hackers,

I am just curious, can I use this to investigate SNP in between different bacteria genomes?

Thanks,

Eddi

[2018-11-01 00:13] AndrewCarroll commented on #114
This is a very interesting question, and the answers to it are complex. I assume for the sake of the question that you have FASTQ data from sequencing a single bacterial colony (so this is not a metagenomics question).

Let's divide the question between "can it technically be done" and "will the answers be scientifically valid"

To the question "can it technically be done", the answer is probably

[2018-11-01 15:44] yingeddi2008 commented on #114
Hi Andrew,
Thanks for answering my questions.It is very informative.
Currently I am using the GATK pipeline to identify any novel strains for a
particular bacteria genus. So far it makes sense, meaning the known mutated
locations on the genome can be found using the pipeline. However, there are
a lot of possible false positives, which could be either potential new
SNPs, or just sequencing error. T

[2018-11-06 05:38] pichuan commented on #113
Q1: Yes. You can concatenate gzipped tfrecord files.
Q2: Yes, you should be able to do that.

If these don't work, feel free to reopen and let us know what issues you're encountering.

[2018-11-06 05:38] #113 closed

[2018-11-06 05:41] pichuan commented on #111
Thanks @pgrosu !
Closing this issue.

[2018-11-06 05:41] #111 closed

[2018-11-06 05:47] pichuan commented on #109
@ssm0808
Looking at the VCF file, it actually doesn't look like there are variants nearby. So it's not related to the issue I mentioned before.
If this data is sharable, it'll certainly be helpful if you can share the data (just chrX). An IGV screenshot at that location can also be helpful.
Otherwise, I'm not sure what's a best way that we can help diagnose this issue.
Let me know if you're able t

[2018-11-06 05:48] pichuan commented on #92
Closing this issue since there's no further information.

[2018-11-06 05:48] #92 closed

[2018-11-06 05:48] #91 closed

[2018-11-06 05:49] #100 closed

[2018-11-06 05:50] pichuan commented on #102
Closing because of inactivity. Feel free to open again with more updates.

[2018-11-06 05:50] #102 closed

[2018-11-06 05:51] #75 closed

[2018-11-06 05:52] pichuan commented on #103
@zyxue  curious whether you're able to resolve this?
I'm going to close this since the last update was a while ago. If you have more information, feel free to update and re-open.

[2018-11-06 05:52] #103 closed

[2018-11-06 12:30] akmohtashami commented on #72
Even if I only set the mode(which should fail by asking for other flags) the same error appears. Using 0.7.0:

Command line parsing failure: make_examples does not accept positional arguments but some are present on the command line: "['/tmp/Bazel.runfiles_TAWAeF/runfiles/com_google_deepvariant/deepvariant/make_examples.py', '--mode', 'calling']".

[2018-11-06 19:30] AndrewCarroll commented on #114
When you refer to the method GATK has to incorporate known variants for quality control, I believe that you are referring to VQSR (variant quality score recalibrator). You are correct that this requires a set of ground truth information. It seems likely to me that VQSR and similar systems would not behave correctly on bacterial data even if ground truth were available.

To understand whether event

[2018-11-07 06:05] melkerdawy opened #115 "Can the system be trained using RNA-Seq data?"
I did not find any mention of the possibility of using RNA-Seq data in training mode.
Is this possible but you choose to focus on DNA data only or there are constraints in the model that need to be modified before training deepvariant  on RNA variant calling.

[2018-11-08 02:05] saliksyed opened #116 "Having issues running on Google Cloud Genomics"
I'm attempting to launch DeepVariant on GCP, with the VerilyGRCH38 ref genome and the whole exome model. Unfortunately the job never finishes. Any pointers on how to debug this would be much appreciated.

[code]

I get the following error:
[code]

[2018-11-08 02:59] AndrewCarroll commented on #116
Hello Salik,

I am sorry you are encountering issues with the Cloud Runner. I can't definitively tell you what has gone wrong, but I can spot a few things that will be issues (there could also be others).

First, I think the log snippet here comes from the main log of the cloud runner. The underlying program error can often be found in another folder of the same run. You should see a "logs" folder

[2018-11-08 03:28] pichuan commented on #115
Hi @melkerdawy ,
the DeepVariant codebase is currently designed to for DNA data only. The underlying tool and principle (of converting genomic data into a machine learning problem) could be generalized. But the existing tool as is isn't designed or used for RNA-seq data.

In another word - it could work, but it will be open-ended research. I'd recommend you looking into how DeepVariant is done, an

[2018-11-08 03:28] #115 closed

[2018-11-08 04:08] pichuan commented on #109
Closing for now. Feel free to reopen if you can provide more information or have other relevant questions to this thread.

[2018-11-08 04:08] #109 closed

[2018-11-08 04:14] pichuan commented on #72
@akmohtashami your question seems to be more relevant to the earlier ones:
https://github.com/google/deepvariant/issues/72#issuecomment-412946034
and the relevant answer is : https://github.com/google/deepvariant/issues/72#issuecomment-412948943

When there's something related to positional arguments, it's often becomes something wasn't quoted correctly. What's your full command line?

[2018-11-08 10:29] snashraf opened #117 "Assign requires shapes of both tensors to match"
Hi Team,

 I was trying to run below command for call_variants

docker run -it -v /gpfs/projects/bioinfo/najeeb/withKhalid/PMC/:/dv2/PMC01/ -v ${PWD}:/${PWD} -v /gpfs/data_jrnas1/ref_data/Homo_sapiens/GRCh37/Sequences/:/dv2/WholeGenomeSequence/ gcr.io/deepvariant-docker/deepvariant:0.7.0 /opt/deepvariant/bin/call_variants --outfile "$PWD/PMC01-01_AB082422_S5_L005_R1_001_output.tfrecord.gz" --examp

[2018-11-08 14:12] saliksyed commented on #116
Okay great -- I will generate those files and add those using the '--ref_fai' and '--ref_gzi' flags respectively and let you know the results.

[2018-11-08 16:17] saliksyed commented on #116
Ran it again, and still hitting failures:
[code]

[2018-11-08 16:38] pichuan commented on #116
+ @nmousavi  from the Google Cloud team to take a look.
I'll also take a look later today when I find some more time.

[2018-11-08 16:57] nmousavi commented on #116
As @AndrewCarroll said, we need workers log to investigate the failure. Please share workers log (you should be able to find them under `gs://canis/CNR-data/deep_variant_files/logs`).

[2018-11-08 17:13] pgrosu commented on #116
Actually the answer is right in front of you - you don't need the logs.  The prize goes to the first one who sees it :)

[2018-11-08 17:28] pichuan commented on #117
From looking at the shapes of the tensors, it seems like you might be using an older model checkpoint?
In an older release, we used to have 7 channels instead of 6.

Can you confirm whether you're using the 0.7.0 model checkpoint?

[2018-11-08 18:19] pgrosu commented on #112
@pichuan I was assuming shards are the partitioning, but notice that via partitioning you might still be an issue even if you don't hit a depth of a 100.  You might be losing precision in your call by limiting the sample size to 1500.  Basically your call probability would basically be more precise with more reads.

[2018-11-08 18:28] ShrutiMarwaha opened #118 "Deep variant error: FAILED_PRECONDITION"
Hi Developers,

I am getting the following error when running a WES case through version 0.7.0 of deep variant:

Deep variant error: cause: 'Execution failed: action 1: unexpected exit status 1 was not ignored' code: FAILED_PRECONDITION

However, I am able to successfully run the same files though v0.6.1. I am unable to understand what the above error means. I looked at FAILED_PRECONDITION [here](

[2018-11-08 18:55] nmousavi commented on #118
No YAML file is needed for running DeepVariant as we migrated to using Genomics Pipeline API v2 since DeepVariant v0.7 . Please see DeepVariant's cloud page for sample scripts

https://cloud.google.com/genomics/docs/tutorials/deepvariant

Note that we keep the cloud page updated with every release, and it is the place to look into in case of major changes to DeepVariant runner.

For debugging, we

[2018-11-08 20:47] harrismia commented on #114
We are also interested in exploring the possibility of using DeepVariant to call SNPs in bacterial genomes.  For our current pipeline we are using  BWA to map reads to the reference and then PILON from the Broad to call variants.  Specifically we are working on the Tuberculosis genome.

[2018-11-08 21:04] yingeddi2008 commented on #114
Thanks Michael, I'd love to know what conclusions about how the accuracy
and background noise detection you have on the TB genome. If it is not too
much trouble, can you keep me posted? Or you have some blog/post or paper I
can follow up on?

You guys are totally rocking it!! Very exciting study!!

On Thu, Nov 8, 2018 at 2:47 PM Michael <notifications@github.com> wrote:

[2018-11-08 21:12] saliksyed commented on #116
Lack of job name prefix?
https://github.com/google/deepvariant/blob/r0.7/deepvariant/docker/gcp_deepvariant_runner.py#L845

[2018-11-08 21:33] pgrosu commented on #116
@saliksyed Try replacing `google/cloud-sdk:alpine` with `google/cloud-sdk:slim`, and then run it again to see if that fixes it.

Thanks,
~p

[2018-11-08 22:00] saliksyed commented on #116
I'm not sure how to specify the gcloud sdk version in the launch script -- is there an option for that?

[2018-11-08 22:32] pgrosu commented on #116
The Docker container for the Google pipeline backend would need to be fixed.  Take a look, I can cause an exit status of 1 with `slim` and `alpine`, but I can only get a clean exit from `slim` - basically it's getting stuck with `alpine` and not exiting:

[code]

Hope it helps,
~p

[2018-11-08 22:36] pichuan commented on #114
I'm happy to see that this forum has sparked potential research collaborations!
I'm going to close this issue for now so it's easier for me to track what issues still need our attention.

Feel free to post further updates on this topic if you like. If you have more questions for the DeepVariant team, also feel free to open more issues. Thanks!

[2018-11-08 22:36] #114 closed

[2018-11-08 22:58] nmousavi commented on #116
Again, please share workers log so we can help.

[2018-11-08 23:08] saliksyed commented on #116
@nmousavi I made a readonly public bucket you can access here:
http://storage.googleapis.com/public-debug

@pgrosu I am not using Docker. I am running the shell script from my local machine. Do I need to update my google-cloud-sdk version to slim? Or are you referring to the DeepVariant container image itself? If so, I am using the Cloud Genomics API -- not hosting my own image of DeepVariant... s

[2018-11-08 23:17] nmousavi commented on #116
It has nothing to do with docker image. The problem is with input file (with err `Unrecognized SAM header type`). Pasting make_example worker log:

[code]

Assigning it to Pi-Chuan.

[2018-11-09 00:35] pgrosu commented on #116
@saliksyed  The real issue is that your BAM file does not contain those chromosomes/contigs as based on the reference file.  That would probably will fix it.  Sorry for the confusion, as the error was giving me a different signal.

@nmousavi Not exactly, but I understand what's the trigger, and it probably would be helpful to provide more direct causes directly in the description of the events.

T

[2018-11-09 02:43] saliksyed commented on #116
Okay so I get the following information, which indicates the reference genome used for alignment is GRCh37 (not 38 as was assumed). So looks like I need to get a different reference genome.
[code]

[2018-11-09 13:29] saliksyed commented on #116
Thank you also to @pgrosu for taking a look. I think the next steps for me are:
1 -- disassemble the BAM file and re-align using BWA-MEM to the Verily Genome
2 -- Re run the pipeline with the GRCh38 aligned file

[2018-11-09 16:29] depristo commented on #116
Why not just run the pipeline using the b37 version of the genome? The gcp runner pipeline should support any reference genome

[2018-11-09 17:07] pichuan commented on #116
@saliksyed the example on the Cloud runner page is actually a b37 genome:

[code]

See if that works for you? It should also already come with the corresponding indexed file and ready to go.

[2018-11-09 19:02] ShrutiMarwaha commented on #118
Thanks nmousavi. I have the yaml file only for v0.6.1 and not for v_0.7.0.

However, thanks for pointing toward workers log folder. This gives a better idea in debugging.

Thanks,
Shruti

[2018-11-09 21:37] ShrutiMarwaha commented on #118
Thanks Nima.

I ran it again. Looks like the error is because it is unable to open the bed file I have provided. However, the bed file exists on gcp and my v0.6.1 code was able to access it. I am not sure what I am doing wrong. I was able to run the same code successfully if I provide the bed file in the example documentation (gs://deepvariant/exome-case-study-testdata/refseq.coding_exons.b37.exte

[2018-11-10 01:29] saliksyed commented on #116
@depristo : we are correlating the outputted VCF against a bunch of data that is in GRCh38. AFAIK you can't convert the GRCh37 vcf into GRCh38 easily right?

[2018-11-10 16:35] saliksyed commented on #116
I ran using the reference genome mentioned earlier, but it seems that the reference has the chromosomes named without the "chr" prefix, which the BAM file has for the contig names, it would be nice if the package could detect correct this automatically -- do you think this makes sense, if so I am happy to submit a patch:
[code]

[2018-11-10 17:11] ksw9 commented on #104
Hi,
Is there a fix for this? I am getting the same error: AttributeError: 'module' object has no attribute 'cpu_freq'
This error persists even when I include intel_pstate=disable .
Thank you!

[2018-11-11 06:38] pichuan commented on #104
Hi,
can you try the 0.7.1 image? It seems to work for me on CentOS7 now.

I was able to run the Exome case study with the following steps:

I used a GCE instance for testing:

[code]

I sshed into the machine, and checked the OS version:

[code]

Then:

[code]

Then, I use a modified script to run WES case study:

[code]

You can see:
https://gist.githubusercontent.com/pichuan/7916a5574c47fd7a2422

[2018-11-11 06:38] #104 closed

[2018-11-11 17:41] saliksyed commented on #116
I was able to re-header the BAM file using samtools, now the script fails at a new step: reading the BED file. I am not sure what the problem is here:
[code]

I've added the BED file to the public bucket:
gs://public-debug/exomes.bed

[2018-11-11 22:46] pichuan commented on #116
First of all, I assume that you have access to `gs://canis/CNR-data/exomes.bed` file?
If you do:
`gsutil cat gs://canis/CNR-data/exomes.bed` from the project that has the same permission, you can first double check that you have access to it.

And, I don't fully understand how gcsfuse is implemented in the Google Cloud runner, so I'll defer this to our collaborator at Cloud @nmousavi  -- Nima, in

[2018-11-12 13:50] saliksyed commented on #116
@pichuan Thank you for the followup. I definitely have access to the exomes.bed file and the gsutil cat works fine.

I see what you mean re: the `/input-gcsfused-0/CNR-data/` ... I did not notice this change and assumed I could just use the gs:// format of the input. That is a good observation! I will try it with this change.

[2018-11-12 14:36] saliksyed commented on #116
Seems this issues is a duplicate of https://github.com/google/deepvariant/issues/118

[2018-11-12 18:01] nmousavi commented on #116
I was able to run a test pipeline successfully with BED file you provided (`gs://public-debug/exomes.bed`). Could you please run your pipeline with `gs://public-debug/exomes.bed` (not `gs://canis/CNR-data/exomes.bed`) and see if it succeeds.

This is what I got in the log

[code]

[2018-11-12 21:29] saliksyed commented on #116
Okay, I will try this with my exomes.bed file. I was already able to successfully run the pipeline with the following params
[code]

It is odd that the bed file needs to lie in a public bucket, while the genomic data does not.

[2018-11-12 21:34] nmousavi commented on #116
Lets first see if that's the case (i.e. having bed file in public bucket resolves it). If yes, this is a bug and we will fix it.

[2018-11-12 21:37] nmousavi commented on #118
We are working on this, please check related bug #116 for the update.

[2018-11-12 23:11] saliksyed commented on #116
I can confirm that placing the exomes.bed file in `gs://public-debug` results in successful reading of the BED file (though the pipeline fails at a latter step due to inconsistent contig names within the BED vs. the reference genome).

[2018-11-13 19:22] nmousavi opened #119 "Localize BED file passed via --region flag"
Context: issue #116

Htslib integration with GCS doesn't load app default credential from worker, and thus is only able to read from public bucket. The workaround is to localize BED file into VM worker prior running make_examples.

[2018-11-13 19:27] nmousavi commented on #118
Please see [my comment there](https://github.com/google/deepvariant/issues/116#issuecomment-438403390).

[2018-11-13 22:02] saliksyed commented on #116
Thanks for all the help @nmousavi , we can certainly use a public bucket for the region files as there is no PII.

[2018-11-13 23:58] ksw9 commented on #104
Thank you - yes, I just tried in 0.7.1 and now am running into a new error. I have python and numpy installed and I am wondering how to make this accessible or if this is a Docker issue?
Thank you in advance,
Best,
[code]

[2018-11-14 05:43] pichuan commented on #104
@ksw9 can you post the full sequence of commands? I tried inside the docker, and it seems to be fine:

[code]

[2018-11-14 05:45] pichuan commented on #117
Closing because inactivity. Feel free to open with more information.

[2018-11-14 05:45] #117 closed

[2018-11-14 18:44] ShrutiMarwaha commented on #118
Thanks Nima. Can you (or an automated message) let me know once this will be fixed.

[2018-11-16 21:52] ksw9 commented on #104
Hi,
I am now testing the quickstart with the test data (https://github.com/google/deepvariant/blob/r0.7/docs/deepvariant-quick-start.md)  inside of docker and I get the error ValueError: Not found: Could not open quickstart-testdata/NA12878_S1.chr20.10_10p1mb.bam. I followed the instructions and
`
OUTPUT_DIR=quickstart-testdata/
REF=quickstart-testdata/ucsc.hg19.chr20.unittest.fasta
BAM=quickstart

[2018-11-17 03:56] pichuan commented on #104
@ksw9
Hi, the current quickstart needs a small fix:
`/home/${USER}` should be `${HOME}` to be more general.
And, note that in order for docker to access your file system, you do need the `-v` path.
So you probably want something like:
OUTPUT_DIR=${HOME}/quickstart-output
mkdir -p "${OUTPUT_DIR}"
REF=${HOME}/quickstart-testdata/ucsc.hg19.chr20.unittest.fasta
BAM=${HOME}/quickstart-testdata/NA12878_

[2018-11-18 10:21] phhsieh1329 opened #120 "Job failed with error (reason: FAILED_PRECONDITION)"
Dear Deepvariant team,

I was attempting to run Deepvariant on GCP by following the sample scripts from the tutorials, but it failed. I have checked the configuration regarding the Compute Engine quota and it should meet the requirements (i.e. CPU, Persistent Disk and In-use IP addresses).

The error message from the log is like:
"RuntimeError: Job failed with error "run": operation "projects/deep

[2018-11-18 17:54] pichuan commented on #120
Hi, can you provide the worker log as well?
(See this example : https://github.com/google/deepvariant/issues/118#issuecomment-437114999 )

[2018-11-18 23:11] phhsieh1329 commented on #120
Dear Pi-Chuan,

Thanks for pointing out the worker log files since I didn't realize the files are log files.
It is really helpful!

The error comes from the inappropriate bam index file name I used (*.bai instead of *.bam.bai) as the log file describes:
CommandException: No URLs matched: gs://input_bam/IO_045.sam_sorted_dedup.bam.bai

After changing the bam index file name, the pipeline seems to w

[2018-11-19 01:05] phhsieh1329 opened #121 "Will Deepvariant work for non-diploid genome?"
Dear Deepvariant team,

My collection of data contains samples with non-diploid genomes. As Deepvariant model was built and trained based on diploid data, I am wondering if the team have evaluated how Deepvariant performs on non-diploid dataset (e.g. triploid or tetrapliod)? Thanks.

[2018-11-19 02:10] pichuan commented on #121
Hi,
Our team has not used or trained DeepVariant on non-diploid data.
I think a similar question might have been asked before, so it's worth doing a quick search to see if there are relevant ideas. But nothing specific from the DeepVariant team. Thanks.

[2018-11-19 02:10] #121 closed

[2018-11-19 02:11] #120 closed

[2018-11-19 05:40] ksw9 commented on #104
Fantastic, this works. Thanks for the help!
Best,

[2018-11-22 02:54] DiableJambe commented on #6
I see the same issue, but with Ubuntu-16

(02:53:00) ERROR: /root/variant_calling/deepvariant/deepvariant/protos/BUILD:56:1: //deepvariant/protos:deepvariant_pyclif_clif_rule: missing input file '@clif//:clif/bin/pyclif_proto'
(02:53:00) ERROR: /root/variant_calling/deepvariant/deepvariant/protos/BUILD:56:1 1 input file(s) do not exist

This is running on IBM Power 8, so I build pyclif from source

[2018-11-24 03:36] DiableJambe opened #122 "Building DeepVariant on Power 8 with nvidia-docker"
I am trying to install DeepVariant on an IBM Power 8 system within a docker container.

The docker container has the following Bazel version installed: 0.15.0- (https://github.com/bazelbuild/bazel/releases/tag/0.15.0)

I installed tensorflow r1.11 from source inside the docker container for CPU-only execution. This same source-code is placed so that it is seen by the build-prereq.sh script.

I set

[2018-11-25 08:08] pichuan commented on #122
We built CLIF for a few versions of Linux. By hard coding DV_PLATFORM it would mean you're using that version. Unfortunately we don't support all versions of Unix. You can see if you can build clif yourself.
This is unfortunately outside our support scope right now.

[2018-11-25 08:08] #122 closed

[2018-11-26 16:51] nmousavi commented on #119
The fix is done, and will be included in the next release.

For the ref: Htslib is not able to read from private gcs bucket and there is a TODO for it.

https://github.com/samtools/htslib/blob/9cd85ab512a74fe42af31fc6321c70203d161ed6/hfile_gcs.c#L75

[2018-11-26 22:12] DiableJambe opened #123 "Turning off Intel SSE instructions"
Hello, I am trying to install DeepVariant on an IBM Power 8 machine within a docker container.

I get the following error during ./build_and_test.sh, which I understand is tied to Intel SSE2 instruction set.

`external/libssw/src/ssw.c:38:23: fatal error: emmintrin.h: No such file or directory`

I did `export  DV_USE_GCP_OPTIMIZED_TF_WHL=0` from the command line before running the compile. I also

[2018-11-26 22:21] depristo commented on #123
Hi @DiableJambe,

We use libssw (https://github.com/mengyao/Complete-Striped-Smith-Waterman-Library) for our local alignment. This code directly uses emmintrin.h in ssw.c so there's no easy way to remove it for the powerpc architecture. That said, there appears to be a pull request to add PPC64 support (https://github.com/mengyao/Complete-Striped-Smith-Waterman-Library/pull/35) but this has been p

[2018-11-26 23:22] DiableJambe commented on #123
Hi @depristo

Thanks for the clarification and the resource!

Right now, my goal is to get the flow working, so I may need to use an Intel machine for the time being. I will need to revisit this later.

I wonder whether this affects only make_examples. If so, it may be good to separate the build into two parts, one for make_examples, and one for the rest. I am not sure whether this is worth suppor

[2018-11-28 16:56] pichuan commented on #112
Hi @chris-sf
Thanks again for reporting this issue. We made an internal change to address this issue, which should come out in the next release.

[2018-11-29 19:40] pichuan commented on #123
Hi @DiableJambe ,
thanks for reporting the issue. I can keep this bug open for now in case you want to give us more updates. Just note that our team is not actively looking into this right now.

(I also receive notification emails on updated GitHub issues even after they're closed. So keeping this open or closed doesn't really matter much in terms of communication)

[2018-12-03 16:49] pichuan commented on #104
@patrickbryant1 Did you try the suggestion in https://github.com/google/deepvariant/issues/104#issuecomment-439585565 ?

Docker needs to be able to see the directory by passing in the right `-v`

[2018-12-03 19:10] pichuan commented on #104
Do you mean you're still getting the errors after that? Can you post your commands?

[2018-12-10 00:14] koido opened #127 "Import meta graph error"
Hi,

I want to load pre-trained DeepVariant model (DeepVariant-inception_v3-0.7.0+data-wgs_standard).
However, loading model.ckpt.meta file produced some error.
Analyzing environment was google collaboratory (python2, GPU).

My purpose is to use the pre-trained model in Keras.

I used model.ckpt.meta file as follows:

`import tensorflow as tf`
`pretrian_model_path='/content/drive/My Drive/DeepVari

[2018-12-10 15:26] mosh305 opened #128 "make_examples: ValueError: Reference contigs span ### bases but only 0 bases (0.00%) were found"
Hi,
I'm trying to train the network on my local machine with long reads but I get this error when trying to make examples out of the reads:

[code]

My reference is "E.coli K-12 substr. MG1655" from NCBI - https://www.ncbi.nlm.nih.gov/nuccore/NC_000913.3
And my reads are from PacBio - https://github.com/PacificBiosciences/DevNet/wiki/E-coli-K12-MG1655-Resequencing
I used the reference from NCBI as

[2018-12-10 18:09] akolesnikov commented on #128
Most likely what happens is that your BAM file (or truth file) has contig names that do not match contig names of the reference. Could you list all the arguments you used for running make_examples? Also, could you print the header of 'project-retraining/testdata/aligned_reads.bam'?

[2018-12-10 18:18] pichuan commented on #127
Hi Masaru,
we have not tried loading the model checkpoints this way before.
Since it's a colab, can you share the colab so we can try it out as well?

I might have some older colab lying around that loads the checkpoint, but probably not using Keras. Would that be helpful? If so I can try to find it again.

Thanks.

[2018-12-11 00:42] koido commented on #127
Hi,

Thank you for your comments.
I prepared the colab in https://colab.research.google.com/drive/1eYpUciVLEwR5YujPJ2NyH0hfRRCZ3Vg2 .

Actually, I'm basically a Pytorch user and a beginner of Keras and tensorflow.
Then if i/we can use DeepVariant easily, I think it would be helpful for many users!

Best.

[2018-12-11 01:19] pichuan commented on #127
I assign this to my self, but --
since we're not using Keras in DeepVariant, it will take a uncertain amount time for me to prioritize this on my list of things. I will also open an internal bug to track, but this is something that we likely won't be able to help with in the short term.

If you want to take a look at how we load the checkpoint, you can find examples in the inference code here:
htt

[2018-12-11 02:00] koido commented on #127
Thank you so much.
In my current understanding, if I use the pre-trained parameters for DeepVariant in Keras or other deep learning frameworks, building the equivalent model in each library is required.
Anyway, I'll try which approach is the easiest for my aim.

Please let another confirmation.
For saving the checkpoints "DeepVariant-inception_v3-0.7.0+data-wgs_standard", did you used the function

[2018-12-11 13:44] mosh305 commented on #128
my command line for running make_examples was:

[code]

and the header of the `aligned_reads.bam` file is:

[code]

[2018-12-13 08:02] HagenC opened #129 "call_variant step 0.7.1 and 0.7.2rc - job failed with error"
Hi all,

I am currently running some tests using deepvariant and getting error codes that I do not understand.
I hope you can help me finding the error. (Sorry for the long post, but the devil is probably in the details!!)

Script:
#!/bin/bash
#set -euo pipefail
# Set common settings.
PROJECT_ID=ms-deepvariant
OUTPUT_BUCKET=gs://ms_bam/deep_output
STAGING_FOLDER_NAME=stage
OUTPUT_FILE_NAME=deeptes

[2018-12-13 17:42] akolesnikov commented on #129
Hi Hagen,

Could you please attach worker logs located at gs://ms_bam/deep_output/stage/logs/call_variants/0?

[2018-12-13 22:32] akolesnikov commented on #128
Let's try to output contig names from all 3 input files. In order to do that you would need to modify make_examples.py:
Insert the code from the [gist](https://gist.github.com/akolesnikov/9a4b019e89087dc21cf9ba0b12eece00) at line 488 (right before calling validate_reference_contig_coverage) in make_examples.py.

You would need to clone the source code first:
[code]
Once you modify make_exmaples.py

[2018-12-13 22:34] akolesnikov commented on #128
Once you build new binaries make_examples.zip can be found at ./bazel-bin/deepvariant/make_examples.zip (the path is relative to your deepvariant directory)

[2018-12-14 07:59] HagenC commented on #129
Hi @akolesnikov ,

Here it is:
[deep_output_stage_logs_call_variants_0.txt](https://github.com/google/deepvariant/files/2679100/deep_output_stage_logs_call_variants_0.txt)

Thanks.

[2018-12-14 10:43] jowhara17j opened #130 "Mamas"

[2018-12-14 23:08] akolesnikov commented on #130
No description. Created by accident?

[2018-12-14 23:08] #130 closed

[2018-12-17 05:58] #129 closed

[2018-12-17 06:01] pichuan commented on #119
This fixed is included in v0.7.2 release:
https://github.com/google/deepvariant/releases/tag/v0.7.2

[2018-12-17 06:01] #119 closed

[2018-12-17 06:02] pichuan commented on #118
Hi @ShrutiMarwaha
The fix for https://github.com/google/deepvariant/issues/119 is included in the v0.7.2 release.
If you still see any issues, let us know.

[2018-12-17 06:02] #118 closed

[2018-12-17 06:03] pichuan commented on #116
@saliksyed
Hopefully this is resolved with v0.7.2 release, and with the workaround of putting the BED file in a public bucket.
If you encounter more issues, let us know.

[2018-12-17 06:03] #116 closed

[2018-12-17 16:58] mosh305 commented on #128
@akolesnikov This is what I get in the terminal when trying to build the binaries even without modifying the `make_examples.py` file:

[code]

[2018-12-17 18:48] akolesnikov commented on #128
You already printed contigs for your BAM file. You have one contig there: NC_000913.3
Reference and truth files are text format so you just need to peek inside. In VCF file first lines should contain the list of contigs. Something like this:
[code]

Make sure that reference, VCF and BED contain contig 'NC_000913.3'

[2018-12-17 21:03] mosh305 commented on #128
@akolesnikov I can see that my VCF file doesn't have a line that resemble the line you wrote.
I attach the original `variants.vcf` and `variants.bed` files, I tried to change the name 'chr' to 'NC_000913.3' in both of them but that didn't work.
Maybe I need to insert a line similar to the one you wrote to the VCF file?

[variants.vcf.txt](https://github.com/google/deepvariant/files/2687815/variant

[2018-12-18 00:20] akolesnikov commented on #128
In your variants.vcf.txt and variants.bed.txt contigs have name 'chr' when BAM file has contig name 'NC_000913.3'
Contig names should match. Looking at [VCF Specs](https://samtools.github.io/hts-specs/VCFv4.2.pdf) it looks like '#contig' header is optional, but I think Nucleous library (that is used by DeepVariant to read VCF) relies on that field.

[2018-12-18 12:18] mosh305 commented on #128
@akolesnikov first, thank you very much for your help!
I renamed all the contig names in the VCF and BED to "NC_000913.3" and added a "##contig" header to the VCF file, I indexed again the FASTA, BAM and BED files, but it still doesn't work.

I used the command `samtools faidx sequence.fasta` to create `sequence.fasta.fai` file.
I used the command `samtools index aligned_reads.bam` to create `alig

[2018-12-20 07:32] A-Tsai opened #131 "make_examples (with --regions) failed due to parsing error from intervaltree 3.0.2"
I pull the latest version of deepvariant and failed to call make_examples as follows:

[code]

Then I try to downgrade intervaltree from 3.0.2 to 2.1.0.

[code]
Then the problem is solved.
[code]

Also, the problem can be detected in test case.

[code]

[2018-12-20 15:14] chrisfleisch opened #132 "Convert docker image to singularity"
Our cluster environment only allows us to run Singularity containers (due to not running as root) instead of Docker containers. I've been converting the DeepVariant provided docker images to Singularity using version 0.7.0 which worked well. With version 0.7.2 the python imports break due to the location of where the python packages are installed. In version 0.7.0 the python requirements were inst

[2018-12-20 15:42] pichuan commented on #127
Hi @koido ,
sorry that it took me a while to get back to this again.
Our training uses the Estimator API, so the place where model checkpoints are saved are actually done by estimator.train:
https://github.com/google/deepvariant/blob/c2167e7c90f016905f309f118eb3897935ee7c5f/deepvariant/model_train.py#L227
And the location where the checkpoints are saved was specified earlier:
https://github.com/go

[2018-12-24 12:38] koido commented on #127
Hi @pichuan,

Thank you very much.

I got to understand your excellent codes of deepvariant by learning tensorflow slim and Estimator API.
Although I still think that this topic is very useful for many users (deep learning beginners), please close this issue if your prioritization in list of things is low.

Best regards,

Masaru

[2018-12-25 10:21] koido opened #133 "ValueError in shuffle_tfrecords_beam"
Hi,

I'm Masaru in Japan.
I also asked in https://github.com/google/deepvariant/issues/127 ; but this is a different type of issue.

I also want to train DeepVariant model from the WGS data in our laboratory using our standalone computational resources.
I referred and followed https://github.com/google/deepvariant/blob/r0.7/docs/deepvariant-tpu-training-case-study.md .

First, I successfully made

[2018-12-26 17:57] pichuan commented on #127
Hi Masaru,
I've filed an internal issue to track - we'll keep usability for beginners in mind for future API change.

[2018-12-26 17:57] #127 closed

[2018-12-28 16:51] coneheadusa opened #134 "build_and_"
I'm trying to build deepvariant on debian_version stretch/sid,  3.10.0-327.3.1.el7.x86_64 #1 SMP Wed Dec 9 14:09:15 UTC 2015, and the build_and_test script is failing.

The build-prereq.sh command runs successfully; however, build_and_test.sh throws this error:
  In file included from external/htslib/hts.c:45:0:
  external/htslib/hts_internal.h:31:32: fatal error: textutils_internal.h: No such fil

[2018-12-28 17:52] coneheadusa commented on #134
I tracked the problem down to building with bazel 0.19.0 rather that 0.15.0.

[2018-12-28 17:52] #134 closed

[2018-12-28 20:30] pichuan commented on #128
Hi @mosh305
I quickly glanced through the files you have. If you're planning to train, the files you passed to `truth_variants` needs to have `GT` field (providing as true labels to the training examples). I'm not sure if this is the reason why you're having the errors you have. But either way, the variants.vcf.gz file you're providing here won't be the right input for `--truth_variants`.

[2018-12-30 02:19] #128 closed

[2018-12-31 10:08] HagenC opened #135 "Deepvariant and GATK – GT inconsistency."
Hi,

First of all I would like to thank you for your hard work – I really do appreciate it.

I have called variants using deepvariant v0.7.1 and GATK (4.0.8.0) using the same WGS bam.file and compared the results. Having only included SNP sites with DP => 10 there are 4.9% mismatches i.e where the GT is not the same.
I would like to compare the measures AD,DP,GQ etc. of deepvariant and GATK in ord

[2018-12-31 11:10] mosh305 commented on #128
@pichuan Thank you for pointing that out, I am not so familiar with bioinformatics so I don't really know how to continue from here.
Where can I find the right input for `--truth_variants` for my reference?

[2019-01-01 06:33] AndrewCarroll commented on #135
Hello C,

Thank you for taking the time to investigate DeepVariant.

With respect to DP and AD, reads considered have some minimum thresholds for inclusion. You can see these in deepvariant/make_examples.py lines 274-277. The default is a filter at MAPQ 10. You can see this manifest in the calculation of allele depth in deepvariant/allelecounter.cc line 289.

Above these thresholds, DeepVariant wi

[2019-01-02 12:19] mosh305 commented on #128
@pichuan My goal is to use **long reads** of E.Coli in order to evaluate the variant calling from such type of reads. Most of my knowledge on bioinformatics came from reading the [quick-start](https://github.com/google/deepvariant/blob/r0.6/docs/deepvariant-quick-start.md) and [model training](https://github.com/google/deepvariant/blob/r0.6/docs/deepvariant-model-training.md) of DeepVariant, and a

[2019-01-02 19:13] sidharthgoel commented on #133
Hi Masaru,
It looks like you're using DirectRunner, which is fine for smaller datasets, but when we have larger datasets we instead use DataflowRunner (see where we shuffle training set [here](https://github.com/google/deepvariant/blob/r0.7/docs/deepvariant-tpu-training-case-study.md#shuffle-each-set-of-examples-and-generate-a-data-configuration-file-for-each)). In the Case Study, the DirectRunner

[2019-01-03 08:02] HagenC commented on #135
Thanks for the reply.

I have analyzed some mismatches and here are some thoughts:

Looking at two mismatches, here is the first one:

Chr1:261478C>A :
 - GATK (GT:GQ:DP:AD) = 0/1:99:43:31,12
 - Deepvariant(GT:AD:DP:GQ:PL:VAF) = 0/0:33,13:46:25:0,24,38:0.282609

GAKT have a minimum BaseQuality of  10 and MQ of 20, deepvariant 10 and 10.

Calculating the probability of AD distribution 31,12 (GATK)

[2019-01-04 17:40] akolesnikov commented on #135
Hello C,

I cannot comment much on your examples without seeing IGV. Keep in mind that DeepVariant does a realignment, therefore some reads may align differently from what you see in original BAM.

As for the second example min_mapping_quality is set to 20 by default. It is possible to change this parameter in make_examples (make_examples is one of the steps and is called by GCP runner)

Regarding

[2019-01-04 19:56] hguan6 opened #136 "Cannot create VM with more than 4 P100 GPUs"
When I tried to create a VM with 8 GPUs using this command line:
export IMAGE_FAMILY="tf-latest-gpu"
export ZONE="us-west1-a"
export INSTANCE_NAME="deep"
export INSTANCE_TYPE="n1-standard-8"
gcloud compute instances create $INSTANCE_NAME \
        --zone=$ZONE \
        --image-family=$IMAGE_FAMILY \
        --image-project=deeplearning-platform-release \
        --maintenance-policy=TERMINATE \

[2019-01-05 01:41] pgrosu commented on #136
@hguan6 Based on the following page the P100's are limited to a max of 4.  Try V100 or K80:

https://cloud.google.com/compute/docs/gpus/#gpus-list

[2019-01-05 23:38] drtamermansour opened #137 "bioconda installation v0.7.2"
I am trying to use bioconda Deepvariant (https://anaconda.org/bioconda/deepvariant ) on a cluster with CentOS 7. I am getting this error

ERROR conda.core.link:_execute(507): An error occurred while installing package 'bioconda::deepvariant-0.7.2-py27h5d9141f_1'.
LinkError: post-link script failed for package bioconda::deepvariant-0.7.2-py27h5d9141f_1
running your command again with `-v` will prov

[2019-01-07 03:00] koido commented on #133
Hi Sidharth,

Thanks for your kind comments.
I understood what is wrong.

However, this page (https://beam.apache.org/documentation/) says:

Then, are your scripts for shuffling training set available only in Google Cloud Platform?

Best,

Masaru

[2019-01-07 03:11] pichuan commented on #133
Hi,
On the same page , it also mentioned other runners such as SparkRunner.
Our shuffling script uses Apache Beam, which can run on different
infrastructures such as Spark or Dataflow, and is not only restricted to
Google Cloud. However, our example was done on Google Cloud. You can set it
up on different things to run.

If you're running on smaller amount of examples where your machine can
handle

[2019-01-07 09:15] koido commented on #133
Hi,

I understood what I should do.
Thanks a lot!

Masaru

[2019-01-07 09:15] #133 closed

[2019-01-08 08:00] HagenC commented on #135
Thanks for the reply.

Is it possible to get the realignments out as a bam file?

Thanks,
Christian

[2019-01-08 17:59] akolesnikov commented on #135
Unfortunately it is not possible as of today. You may add couple of lines of code to realigner.py to output realigned reads with cigars to console or text file and run make_example on a small window of interest.
Also you may run DeepVariant without realigner using --norealign_reads flag.

[2019-01-09 09:01] HagenC commented on #135
OK, thanks.
This is probably an embarrassing question: I´m using GCP cloud shell and I am new to this, so how can I manipulate files in the docker images i.e changing the parameters in make_example.py? Is there a list of arguments/flags somewhere for make_example etc?.

For example from make_examples.py line 274-277:
read_reqs = reads_pb2.ReadRequirements(
      min_base_quality=10,
      min_mapp

[2019-01-09 16:17] mosh305 opened #138 "make_examples: 0 candidates"
hello,
I am running the make_examples script on a _NA12878 chr20_ data. I got this data-set:
_ftp://ftp-trace.ncbi.nlm.nih.gov/giab/ftp/data/NA12878/NA12878_PacBio_MtSinai_

and this reference that is mentioned in the `NA12878.sorted.vcf` file from that data-set:
http://hgdownload.cse.ucsc.edu/goldenPath/hg19/bigZips/chromFa.tar.gz

I ran this command:
[code]

The command succeeded but no candidat

[2019-01-09 17:38] melkerdawy opened #139 "training using bioconda build"
Hello team,

First, i really want to thank you for your gigantic effort in building and documenting deepvariant. I personally learned (and still learning) a lot from you.

I am interested in training deepvariant on a cluster with no root privileges, so the docker image is not an option for me. Conda is my most efficient way to go, however, I am having the same I am having the exact same error desc

[2019-01-09 19:44] chapmanb commented on #137
Thanks for the report and apologies about the install issue. This looks like you might be trying to install inside an miniconda environment running python 3. Is that a possibility? Right now, gsutil and deepvariant are only compatible with python 2.7 so using miniconda 2 (https://repo.anaconda.com/miniconda/Miniconda2-latest-Linux-x86_64.sh) or a python=2 environment inside your existing conda ins

[2019-01-09 19:45] chapmanb commented on #139
Thanks much for this report. For the conda issue, the short answer might be that you're using a python 3 environment rather than python 2 (https://github.com/google/deepvariant/issues/137#issuecomment-452831730). Does tha thelp explain the issue and get things working for you?

[2019-01-09 22:54] drtamermansour commented on #137
Thanks for the response but actually no. I am using py2.7

Python 2.7.15

[2019-01-10 00:12] gunjanbaid commented on #137
Hi Tamer, I tried to replicate this issue, and here is what I found. I created an instance from [this CentOS7 VM](https://console.cloud.google.com/marketplace/details/centos-cloud/centos-7). I chose the default location for all installations. When asked if I wanted to update my PATH during installations, I chose to do so. I was able to install DeepVariant through Bioconda using the below steps.

I

[2019-01-10 16:00] pichuan commented on #132
Assigning to @nmousavi for some feedback on why this path changed.

[2019-01-10 18:32] gunjanbaid commented on #136
@hguan6 I am going to close this issue as it seems to be resolved. Feel free to reopen if you still have pending questions.

[2019-01-10 18:32] #136 closed

[2019-01-10 18:47] pichuan commented on #136
@hguan6 one last thing I'd mention - currently call_variants doesn't utilize more than one GPU. And, empirically, it's not actually faster if you run multiple call_variants on the same machine. If you're running call_variants on one machine, my suggestion is to run just one call_variants. But feel free to experiment with different settings on your side to see what works best.

[2019-01-10 19:01] gunjanbaid commented on #135
@HagenC all flags for `make_example.py` can be found [here](https://github.com/google/deepvariant/blob/r0.7/deepvariant/make_examples.py#L87) (lines 87-207). For the `min_base_quality` that you reference, there is currently no flag set up to modify that value. If you want to modify that value, the best way to do so would be to modify the default in the source code or add a flag and then rebuild De

[2019-01-10 19:03] hguan6 commented on #136
Thank you!

Hong

On Thu, Jan 10, 2019 at 11:47 AM Pi-Chuan Chang <notifications@github.com>
wrote:

--

Hong Guan

Graduate Research Assistant, Biomedical Informatics

College of Health Solutions

Arizona State University

[2019-01-10 19:56] gunjanbaid commented on #135
@HagenC I want to clarify a bit more. Even though you cannot currently modify the value of `min_base_quality`, you CAN modify the existing flags, depending on how you are running DeepVariant. I was not sure what you meant by the GCP cloud shell. Are you running on one machine yourself or following [this tutorial](https://cloud.google.com/genomics/docs/tutorials/deepvariant)?

If you are running on

[2019-01-11 08:37] HagenC commented on #135
@gunjanbaid I am following the tutorial https://cloud.google.com/genomics/docs/tutorials/deepvariant  - so GCP WM with Debian 9.6 (4.14.74+ GNU/Linux) running the docker container that you have provided. I have access to a CentOS 7.5.1804 (3.10.0-862.3.3.el7.x86_64 GNU/Linux) system, however, I do not have full admin rights as it a shared system and there are several post about issues with CentOS

[2019-01-11 19:12] gunjanbaid commented on #138
@mosh305 could you post the full output of running the above command?

[2019-01-11 21:41] gunjanbaid commented on #138
@mosh305 To add on, I tried running DeepVariant with these files and I ran into the following two issues. I am still curious to see the output from your run so that we can improve the error reporting.

1. The VCF file is not correctly formatted. If you try running `bcftools view data/NA12878.sorted.vcf.gz`, you will probably see an error regarding the header. I was able to fix this by correcting t

[2019-01-11 21:43] gunjanbaid commented on #135
@HagenC no problem! Let me know if there is anything else I can help with. Otherwise, I will close this issue.

[2019-01-11 23:05] drtamermansour commented on #137
Thank you for the response
I reordered the conda channels to match yours and installed gsutil but using conda and thus I did not need to edit the path. This is the set of commands I used:

[code]

I got a successful installation inspite of the first error message just like you
However, running the code is producing another error:

[code]

I upgraded to a higher version of GNU and re-ran but I got

[2019-01-12 01:53] #135 closed

[2019-01-12 02:33] pgrosu commented on #137
@drtamermansour Why don't you download glibc 2.23 from here:

https://ftp.gnu.org/gnu/glibc/

Then either inline LD_LIBRARY_PATH or export it with the location of glibc 2.23 being one of the first libraries locations it searches for.  Then try rerunning the program.

Hope it helps,
~p

[2019-01-12 17:18] drtamermansour commented on #137
@pgrosu I could not compile the library on my server

I followed the suggestion [here](https://stackoverflow.com/questions/847179/multiple-glibc-libraries-on-a-single-host/851229#851229). I added CFLAGS="-O2"  to address an optimization request error  but still the make command fails to compile
[code]

[2019-01-13 04:07] pgrosu commented on #137
Right, so now update your LD_LIBRARY_PATH with this version closer to the beginning of it.  Make sure you echo it first to see what it's set to via `echo $LD_LIBRARY_PATH` as you might want to include those things as well.  Study the following two links for more information:

https://www.tecmint.com/understanding-shared-libraries-in-linux/
https://docs.oracle.com/cd/E19455-01/816-0559/chapter2-489

[2019-01-13 07:50] mosh305 commented on #138
@gunjanbaid Thanks for your response!
I should have said that I had to fix the errors you listed in the first issue in order to run the script successfully, sorry about that. But thanks for pointing that out!

About the second issue, as you can see the BAM file is very big therefore it may take some time to generate a corrected file. Yet if this is what needs to be done I would love to get some he

[2019-01-14 20:15] drtamermansour commented on #137
@pgrosu
I am sorry if I was not clear enough. I tried to say that I could not install glibc locally on my system.
I started the contact with the system administrator to see what they can do.

[2019-01-14 20:34] melkerdawy commented on #139
Thanks for the reply. To be honest, things did not get working till now. I dont think you can help me in this issue more than this. I left it to my supervisor to sort it out.

I just want to a confirmation that training scripts like model_train.zip and model_eval.zip is available in the conda build in order to not invest more time into sorting the error out without a reason.

Thanks so much again.

[2019-01-14 21:06] pichuan commented on #139
I'm closing this issue now. If there more we can help with, please feel free to open another issue.

[2019-01-14 21:06] #139 closed

[2019-01-15 01:08] gunjanbaid commented on #138
@mosh305 I do not have experience with mapping, but the [README](ftp://ftp-trace.ncbi.nlm.nih.gov/giab/ftp/data/NA12878/NA12878_PacBio_MtSinai/README.txt) for the data indicates that it was mapped using `blasr v1.3.2 to the hg19 human reference genome`. You could check out the documentation for [blasr](https://github.com/PacificBiosciences/blasr). Sorry that I cannot be of more help here.

Note: w

[2019-01-15 06:28] hmkim opened #141 "ValueError: Not found: Could not open BAM file"
Hi, I got the error in below.

[code]

Example BAM  header
![2019-01-15 15 24 32](https://user-images.githubusercontent.com/4966343/51162512-cf83c500-18d9-11e9-900a-24418b2a82cd.png)

My BAM header
![2019-01-15 15 24 38](https://user-images.githubusercontent.com/4966343/51162515-d27eb580-18d9-11e9-9076-b635d17ea87b.png)

How can I solve this issue?

[2019-01-17 23:15] sidharthgoel commented on #141
Hi @hmkim - your BAM header looks okay to me.

The first line `[E::hts_open_format] Failed to open file ...` indicates it may be an underlying samtools issue (since that seems to be an error message from htslib/samtools), are there any other lines from the error message, outputted earlier? Assuming that the path is correct, it should work.

The only thing I can think of with the provided info is t

[2019-01-18 01:06] hmkim commented on #141
@sidharthgoel OK, I'll check it.

[2019-01-18 01:20] pgrosu commented on #141
@hmkim I'm assuming `${HOME}` is `/data/home/dhflanrnr`.  Can you run an interactive Bash session inside the container - with the `-v ${HOME}:${HOME}` - and see if `${HOME}` directory is preserved inside the container?

[2019-01-19 16:22] hmkim commented on #141
@pgrosu  Oh! I see. I'll check it.

Now my colleagues remove them (bam files). so after the restore the bam, I'll try and report it again.

Thank you @sidharthgoel , @pgrosu

[2019-01-20 21:02] gunjanbaid commented on #138
@mosh305 What version of samtools are you using?

[2019-01-21 06:39] hmkim commented on #141
Yes, The problem caused by  $HOME variable in bash.

[2019-01-21 06:39] #141 closed

[2019-01-24 16:07] mosh305 commented on #138
@gunjanbaid Hey, this is what I've done so far:

I tried downloading the BAM file again with `curl` (just to be sure the file) is ok with this command:
`curl -O ftp://ftp-trace.ncbi.nlm.nih.gov/giab/ftp/data/NA12878/NA12878_PacBio_MtSinai/sorted_final_merged.bam`

I'm runnning version 1.9 of samtools and htslib, this is my output for the same commands:
[code]
As you can see I don't get the EOF err

[2019-01-25 01:53] pgrosu commented on #138
As these are sorted reads, by just looking at the BAM file, it starts with position 60001, as shown here - which why you are getting 0 candidates:

[code]
Since no PHRED value is stored with a `*`, as shown here:

[code]
This is why the read triggers the assertion failure [here](https://github.com/google/deepvariant/blob/master/deepvariant/allelecounter.cc#L103):

[code]

The preferred response th

[2019-01-25 18:41] gunjanbaid commented on #138
@mosh305 Everything looks as expected, that is the error that you should see!

Skipping reads without a QUAL score would be ideal, as @pgrosu mentioned, but would not be useful in this case as most (all?) of the BAM file is missing the QUAL field. The error should go away once you remap with BLASR and obtain quality scores.

[2019-01-25 19:51] AldoCP commented on #115
Sort of a follow-up question, on a related application: can DeepVariant take an RNA-seq bam file obtained via GATK's best practices (link [here](https://software.broadinstitute.org/gatk/documentation/article.php?id=3891)), and get a trustworthy output?

A quick check on a specific locus indicates that DeepVariant's WGS applied to RNA-seq retrieves a few more variants than GATK's "HaplotypeCaller".

[2019-01-25 23:44] pichuan commented on #115
Adding @AndrewCarroll to see if he has more thoughts.
I suspect if we specifically train an rna seq data with the same underlying algorithm, it will work well. However, we have not yet done anything on RNA data like I mentioned in my previous comment.

[2019-01-26 19:18] AndrewCarroll commented on #115
Hi @AldoCP,

We have not comprehensively investigated performance on RNA-Seq samples yet. Because some components of the RNA-Seq problem more closely resemble variant calling in DNA-Seq exomes, I recommend that you use the exome model instead of the WGS one.

A proper investigation would probably involve looking at the variant calls that result from the same sample with both DNA-Seq and RNA-Seq an

[2019-01-28 02:00] melkerdawy commented on #132
Is there any update regarding this issue? I am also trying to build a singularity container for deepvariant 0.7.2 and I am producing the same error. Will this be fixed on later versions?

I assume a lot of teams don't have a root access when using HPC. It will be awesome if you add support for building singularity containers in your documentations as this will things a lot easier when using deepva

[2019-01-28 02:53] pichuan commented on #132
@melkerdawy Thanks for checking back.
I talked to @nmousavi a while ago and he didn't recall any changes, but said that he'll look into it. I'll ping him again. I can also spend some time later (I'm currently on vacation).

We're not familiar with Singularity container, and don't currently plan to provide that yet. But we can certainly look into why the installation location changes.

[2019-01-28 03:15] melkerdawy commented on #132
@pichuan  Thank you for the quick reply. I will wait for any new updates.

[2019-01-28 03:16] melkerdawy commented on #132
Also, @chrisfleisch  is the singularity container you build for version 0.7.0 still working? If so, can you please share with me the definition file you used or any documentation you have about it?

This can be very helpful for me as when I try to build a singularity container for 0.7.0, it gives me the same error in regards of needing access to the path of site-packages

Thanks!

[2019-01-28 16:46] chrisfleisch commented on #132
I'm using Singularity 2.6.0. Below is what I've been using for my Singularity.spec file for version 0.7.0 which still works for me. Changing the version number of DeepVariant to 0.7.2 gives me the ImportError: No module named numpy when trying to run make_examples.

[code]

[2019-01-28 17:17] melkerdawy commented on #132
@chrisfleisch  this is really awesome! thanks a lot. you made my life a lot easier now :D

I will try to modify this definition file to be working on training too and I will share it here. maybe it will help somebody with the same problem I am having.

[2019-01-28 18:13] chrisfleisch commented on #132
Singularity recommends to install packages, programs, data, and files into operating system locations (e.g. not /home, /tmp , or any other directories that might get commonly binded on (like /root)). It would be great if the DeepVariant container would work nicely with Singularity in this way.

[2019-01-28 23:50] pichuan commented on #132
Thanks @nmousavi @chrisfleisch @melkerdawy
For now, please see if the workaround that @nmousavi suggested can be used.

@chrisfleisch I'm actually already planning to take a closer look at the way we build the docker image. Thanks for your feedback. I will take this into account when I do that. I'll add the information in your last comment to our internal tracking bug. Note that this might be a li

[2019-01-29 18:01] pgrosu commented on #132
I think the easiest way to do it is as follows:
1. Install VirtualBox on your laptop, then Ubuntu, then Docker.
2. Pull the DeepVariant image, and then follow the instructions at the following link on how to modify the image and committing it:
  https://www.techrepublic.com/article/how-to-commit-changes-to-a-docker-image/
3. Perform `docker save` to be able to transfer it so you can convert it to

[2019-01-29 19:49] AndrewCarroll commented on #138
Hello @mosh305

I would like to learn more about what you would like to do with this sample, and, if possible, propose some alternatives that are more likely to succeed.

I don't believe that the NA12878 Mt.Sinai set here can be reliably processed. This is a non-CCS PacBio dataset, so there will be far too many candidate examples generated to process efficiently. Also, the DeepVariant models are n

[2019-01-30 00:36] shalabhsuman opened #142 "Using DeepVariant on Large Sample Size (WES or WGS)"
- Can you suggest what would be the best strategy to optimize deepvariant variant calling on large sample sizes (>500 WES/ WGS samples)?
- Is Deepvariant optimized for N+1 Strategy or joint calling (I read there is an option for gVCF output) and if so, what would be the best way or recommended tool to convert multiple deepvariant's gVCFs (500 gVCFs) to one VCF??

[2019-01-30 05:16] pgrosu commented on #138
I thought the DeepVariant models were not PacBio-specific, as noted on the following page:

   https://github.com/google/deepvariant/blob/r0.7/docs/deepvariant-details-training-data.md

In any case, in order to have ubiquitous open-source adoption of DeepVariant it's probably better have a variety of models in order have proper coverage of different technology-generated sequence data, even beyond

[2019-01-30 10:04] mosh305 commented on #138
@AndrewCarroll hello Andrew, thank you for your reply! I'll explain my intentions:
As a project, I need is to select a reference (doesn't really matter of what) and a dataset of long reads of that reference, successfully train the DeepVariant model with that set, and then evaluate the the trained model accuracy for the long reads.

All I need to do is to use the data to make sets of training examp

[2019-01-31 04:15] ekofman opened #143 "Sharding issue for make_examples"
Hi,

I'm trying to run make_examples with 64 shards using 64 cores (1 worker per shard default I assume) and the following settings:
    docker: "gcr.io/deepvariant-docker/deepvariant_gpu:0.6.0"
    zones: ["us-central1-c"]

I am trying to use essentially the same code as is listed in the documentation:

[code]
However, I am getting the following error for each of the shards:

`ValueError: ('Outpu

[2019-01-31 16:57] akolesnikov commented on #143
Hi Eric,

Program determines if output is sharded by matching examples with the following pattern: ((.*)\@(\d*[1-9]\d*)(?:\.(.+))?)
In your code snippet there is no '@' in examples output spec. Try to make your example spec the same way (or similar) as in documentation:
--examples "${OUTPUT_DIR}/examples.tfrecord@${N_SHARDS}.gz"

[2019-01-31 17:09] ekofman commented on #143
Ah I see, thank you @akolesnikov I'll try that out!

[2019-01-31 17:42] akolesnikov commented on #143
I will close it for now. If needed you may reopen the issue.

[2019-01-31 17:42] #143 closed

[2019-01-31 17:51] AndrewCarroll commented on #142
Hello @shalabhsuman,

We are currently working on recommendations for best practices to jointly call and merge cohorts of this size. We have a few similar size projects that we are conducting ourselves to be able to assess accuracy and scalability.

We have done some preliminary work in joint calling and merging cohorts (this was a component of a recent blog from our group https://google.github.io

[2019-02-01 22:29] andrewrech opened #145 "Cannot build deepvariant with tensorflow master due to bazel version requirements"
With `DV_CPP_TENSORFLOW_TAG=master`, I believe deepvariant will not build from source. TF master does not build with Bazel=0.15.0:

[code]

And deepvariant does not build with bazel=0.19.0, see #134.

___

Linux xxx 4.15.0-1031-aws #33-Ubuntu SMP Fri Dec 7 09:32:27 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux

[code]

[2019-02-01 22:33] andrewrech opened #146 "CLIF binary for Ubuntu 18 does not exist"
Should be: `https://storage.googleapis.com/deepvariant/packages/oss_clif.ubuntu-18.latest.tgz`

Not: `https://storage.googleapis.com/deepvariant/packages/oss_clif/oss_clif.ubuntu-18.latest.tgz`

[2019-02-04 08:19] koido opened #147 "Swelling memory usage in training DeepVariant?"
Hi,

I observed that CPU memory usage in training DeepVariant is very high and increased by proceeding training.

I used DeepVariant v0.7.1 via docker.
The tested server (standalone, in house server) has 512GB memory with 56CPU, 8GB swap region without GPU/TPU.
I followed your tutorials and made tfrecords including 241,896 pileup images from our data.

I tested the following 3 patterns of training

[2019-02-04 12:35] ekofman opened #148 "make_examples bam index in different location from bam file"
Hi,

Is there an argument to specify a bam index file's location in the make_examples step if it is different from the bam file? I am making symlinks for both, then running make_examples like so:

[code]
And getting this error:

`ValueError: Not found: No index found for bamlink`

A little strange, because the bam index in question is indeed in the same location as the bam file-- these are the lin

[2019-02-04 14:33] #148 closed

[2019-02-04 14:33] ekofman opened #149 "bam index location issue for make_examples"
Hi (accidentally closed old issue prematurely)

Is there an argument to specify a bam index file's location in the make_examples step if it is different from the bam file? I am making symlinks for both, then running make_examples like so:

[code]
And getting this error:

`ValueError: Not found: No index found for bamlink`

A little strange, because the bam index in question is indeed in the same l

[2019-02-04 14:58] ekofman opened #150 "Strange make_examples lag when trying to use 64 cores and shards for WGS"
Hi, with WGS (mm10, but the documentation says WGS human model should work for this), I got make_examples running fine with 4 cores and shards, but as soon as I go above 4 I get a strange lag. I'm running this recommended command:

[code]
With 4, I get a nice stdout update per shard, first a description of the contigs:

`I0201 17:01:29.167016 140183113676544 make_examples.py:946] Common contigs ar

[2019-02-04 17:21] pgrosu commented on #147
Hi Masaru,

Check out my analysis from a while ago on the link below, and I think you'll see where this is stemming from :)

[Generalized performance analysis between the versions](https://github.com/google/deepvariant/issues/50)

Hope it helps,
Paul

[2019-02-05 17:08] shalabhsuman commented on #142
Hi, thanks for responding. This is very helpful. Definitely will be interested in collaborating on this. I will get back to you with more information on that.
Also, apart from GLnexus, have you performed any testing using GATK4 to merge gVCFs (from Deepvariant) into final VCF?

Shalabh

[2019-02-05 23:46] pgrosu commented on #150
Are you following the configurations as recommended on the following page, and specifying the number of workers as well?

https://cloud.google.com/genomics/docs/tutorials/deepvariant#pipeline_configurations

If so, then it will the Pipelines API is triggered, which basically makes custom machines of this form:

[code]

Ref: https://github.com/google/deepvariant/blob/r0.7/deepvariant/docker/gcp_dee

[2019-02-06 00:42] pichuan commented on #150
Hi @ekofman ,
thanks for reporting this!

It seems like you're using the example from the WGS case study. From my experience, suppose you on a 4-core machine, if you specify a $numShards bigger than 4 (say, 64), `parallel` will actually still just run 4 at a time. Therefore, it might run 0-3 first. And when they finished, `parallel` will proceed with the range of 4-7, etc.

Because of that, if you

[2019-02-06 08:51] AndrewCarroll commented on #142
Hi Shalabh,

We have performed internal benchmarks on merging of gVCFs with GATK and do not recommend this approach. I think it will be better to wait for recommendations on merging with GLnexus, or to collaborate directly.

[2019-02-06 10:21] koido commented on #147
Hi Paul,

Thanks for your kind comment.
I don't know how to resolve my issue (time-dependent increasing memory usage) by your analysis (CPU usage? I'm sorry for my beginner comment...)

Best,
Masaru

[2019-02-06 13:53] ekofman commented on #150
@pichuan Thanks for the feedback -- I have altered my WDL (I'm building this as a method on FireCloud) to include the lscpu command, and have run with 1, 4 and 64 cores/shards so hopefully I will get a better sense of what's going on and report back here.

[2019-02-06 16:32] ekofman commented on #150
I'm currently testing on a low-pass WGS bam (~2GB, from blood biopsy) for quicker debugging turnaround time, and am successfully getting 16 shards and cores to run when GCP has the appropriate machine type available, here is output of lscpu:

[code]

I then get 16 messages like this:
`
Common contigs are [u'1', u'2', u'3', u'4', u'5', u'6', u'7', u'8', u'9', u'10', u'11', u'12', u'13', u'14', u'15

[2019-02-06 18:46] shalabhsuman commented on #142
Thank you. Do you have a timeline on when the benchmarks on GLnexus to combine gVCFs would be completed ?

[2019-02-06 19:22] gunjanbaid commented on #138
@mosh305 The data @AndrewCarroll mentioned above is mapped to the hs37d5 reference genome, as mentioned in ftp://ftp-trace.ncbi.nlm.nih.gov/giab/ftp/data/AshkenazimTrio/HG002_NA24385_son/PacBio_CCS_15kb/alignment/README.txt.

The corresponding truth variants and confident regions for this data would come from the Genome in a Bottle (GIAB) files for HG002 mapped to the GRCh37 reference genome. Ther

[2019-02-06 19:24] gunjanbaid commented on #146
@andrewrech Thanks for reporting this! How are you running DeepVariant? Could you post the full output of the error message you saw because of this issue? Thanks!

[2019-02-06 19:37] gunjanbaid commented on #149
1. I believe this does not work because `make_examples` expects the following naming:

* `<NAME>.bam` for the BAM file
* `<NAME>.bam.bai` for the index

2. There is no way to specify a separate name for the index file. However, you could try to name your symlinks as `data.bam` and `data.bam.bai`, shown below. I did not get a chance to test this out myself, but let me know if this does not work, an

[2019-02-06 19:46] ekofman commented on #149
@gunjanbaid I think you're right about it being a configuration for a different pipeline. Thanks, I'll try using bam.bai instead of simply .bai and see if that works.

[2019-02-06 19:46] andrewrech commented on #146
Thank you @gunjanbaid

I was just building DV from source. I realized the path was wrong and just corrected for my build.

[2019-02-06 21:43] ekofman opened #151 "How to run/call call_variants when make_examples produces sharded outputs"
Hi, I've gotten a test run successfully through the make_example step with 64 shards, and have produced 64 examples and gvcf files like so:
[code]

Surprisingly, this was generated using the following command:

[code]

Which was based on this example: https://github.com/google/deepvariant/blob/r0.7/scripts/run_wgs_case_study_docker.sh

I would have expected the naming scheme to match the pattern I

[2019-02-06 22:16] ekofman commented on #150
Aha. I think it was a RAM issue. Once I upped the RAM to 60 GB it works and starts outputing stdouts per each shard. Wasn't working with 16GB or below. Good to know -- play with RAM if you encounter the same issue.

[2019-02-06 22:16] #150 closed

[2019-02-07 01:13] pichuan commented on #150
Thanks @ekofman for the update. Good to know that it was resolved.

In terms of whether bigger BAM files affect the run time -- overall it would increase the run time, since we'll be dealing with more reads per region on average, which will be more expensive to realign, build pileup image, etc.
But in make_examples, we sample subset of reads before performing these expensive operations. (We try to

[2019-02-07 03:22] ekofman commented on #151
I feel like I'm so close... going ahead with the option of running one call_variants per machine per shard and then trying to gather all results before postprocessing. Not sure if that is correct, however, assuming that it is, I'm still now running into this:

I0206 23:26:03.790093 139996085663488 call_variants.py:328] Initializing model from DeepVariant-inception_v3-0.6.0+cl-191676894.data-wgs_st

[2019-02-07 04:44] pgrosu commented on #151
Sort of close...why are you using a 0.6.0 model with a 0.7.2 codebase?  It's better to be consistent.  Here's the location of the 0.7.2 wgs models:

[code]
~p

[2019-02-07 04:57] nmousavi commented on #151
Can you verify TF examples (test.gvcf.tfrecord-*) are in ${BASE} path?

If you use DeepVariant's cloud runner, you won't need to do all these steps manually. It takes care of everything and runs the pipeline on GCP. See instruction here:

https://cloud.google.com/genomics/docs/tutorials/deepvariant

Is there any reason why you don't use cloud runner?

[2019-02-07 05:06] gunjanbaid commented on #146
@andrewrech The file has been moved to `https://storage.googleapis.com/deepvariant/packages/oss_clif/oss_clif.ubuntu-18.latest.tgz`, as expected by the script.

You may want to change your build path back to the original path. The file at `https://storage.googleapis.com/deepvariant/packages/oss_clif.ubuntu-18.latest.tgz` will eventually be removed. Thanks again for reporting this!

[2019-02-07 05:06] #146 closed

[2019-02-07 12:24] ekofman commented on #151
Thanks for the help. So call variants only needs to be called once on all the shards at once, running on one GPU? Not individually once per shard? And under the hood it’s designed to recognize the tfrecord naming and numbering scheme as is described in the example wgs sh script? Given that the format is 000*-of-00064 do I have to specify this or does call variants assume that format and know how t

[2019-02-07 12:25] ekofman commented on #151
Oh I thought I was using a consistent model and codebase — thanks for the links.

[2019-02-07 13:06] pichuan commented on #151
Hi @ekofman ,

a few things:

(1) The `@64` format correspond to `000??-of-00064`. So, in  your case, it is expected that `--examples "${sample_id}.examples.tfrecord@${numShards}.gz"` in the `make_examples` step generated
`test.examples.tfrecord-000??-of-00064.gz` (shards from 00 to 63).

(2) From the command you pasted, it seems like you're directly running inside docker.
If that is the case, you

[2019-02-07 13:08] #151 closed

[2019-02-07 13:23] ekofman commented on #151
@pichuan Thank for such a thorough description, really appreciate it. Super helpful to understand the different expectations and possible failure modes of each step. I will go back and make sure all of the preconditions you mentioned are met. One last comment though -- you didn't run call_variants on a GPU though it seems that is recommended; just makes it faster or is there any other reason to?

[2019-02-07 13:51] pichuan commented on #151
@ekofman Currently, the case studies (and corresponding scripts) are used to show an example of how to run DeepVariant. We showed an example of how to run it on a single machine, and didn't focus on many other aspects such as how to pull multiple workers to orchestrate a distributed workflow, or how to run with GPU (which involves installing GPU driver, using the binaries that are built for GPU, e

[2019-02-07 14:25] pichuan commented on #147
Hi @koido
thanks for your report. Currently our internal setup as well as [our training tutorial on GitHub](https://github.com/google/deepvariant/blob/r0.7/docs/deepvariant-tpu-training-case-study.md) are both done with TPU training. Getting training to work on CPU isn't really a priority of the DeepVariant team right now.  Using the default for the TPU tutorial will likely not work for CPU. (Not

[2019-02-07 14:25] #147 closed

[2019-02-07 18:15] gunjanbaid commented on #149
@ekofman were you able to resolve this issue?

[2019-02-07 18:19] ekofman commented on #149
I think it actually does work with simply reads.bam and reads.bai. Yep!

[2019-02-07 18:19] #149 closed

[2019-02-07 18:27] gunjanbaid commented on #149
@ekofman You are correct, thanks for pointing that out! I will modify my earlier response. Index files named as `<NAME>.bam.bai` **AND** `<NAME>.bai` are accepted.

[2019-02-09 00:32] gunjanbaid commented on #138
@mosh305 I'm closing this issue, but feel free to reopen if you have any other questions!

[2019-02-09 00:32] #138 closed

[2019-02-09 20:05] AldoCP commented on #115
Thanks for the feedback.

I went back to my files and just realized that my previous comment was inaccurate: the locus I analyzed on RNASeq was "chr20:10,000,000-10,040,000"; an exonic variant (chr20:10019093) was detected by both GATK and DeepVariant (WGS model).

As mentioned, I didn't do extensive tests at all (it was just that one locus) -- I'm happy to do further analysis if relevant,

[2019-02-09 20:06] AldoCP commented on #115
Thanks for the feedback.

I went back to my files and just realized that my previous comment was inaccurate: the locus I analyzed on RNASeq was "chr20:10,000,000-10,040,000"; the same exonic variant (chr20:10019093) was detected by both GATK and DeepVariant (WGS model) in my sample.

As mentioned, I didn't do extensive tests at all (it was just that one locus) -- I'm happy to do further analysis i

[2019-02-11 08:15] gunjanbaid commented on #145
Hi @andrewrech, I was not able to reproduce this error. Could you provide the commands you used when you ran into this issue?

[2019-02-12 15:48] andrewrech commented on #145
Hello Gunjan @gunjanbaid,

Thank you for your effort attempting to reproduce this. I attempted to build deepvariant using:

[code]

With the `settings.sh` above.

Noting #134, what is the Bazel version requirement of deepvariant?

Tensorflow master appears to recommend [0.20.0](https://github.com/tensorflow/tensorflow/blob/78c246bb6c4f5a444326daf8ba574a9291e0d096/tensorflow/tools/ci_build/install/

[2019-02-12 15:49] andrewrech commented on #146
Thanks

[2019-02-12 20:55] sidharthgoel commented on #145
Hi @andrewrech, you should go ahead with `r1.12`. You will also need to set `pip install --user 'intervaltree==2.1.0'` in run-prereq.sh (we'll have a patch out for this shortly).

Let me know if you have any issues after that.

[2019-02-13 00:56] ekofman opened #153 "Validating WGS outputs"
Hi, for a 168GB bam the make_examples step produces a total of 48 GB of tf records (sharded, so this is split over 64 different files). Does this seem like a reasonable intermediate output load to pass to call_variants?

[2019-02-13 18:05] sidharthgoel commented on #153
Hi @ekofman, yes that's a reasonable output size. For reference, our 110 GB BAM produces an intermediate output of 42 GB, during the make_examples step.

[2019-02-13 18:05] #153 closed

[2019-02-14 10:40] qili93 opened #154 "test_make_labeler_ref fail due to mock data"
Hi There,

I compiled the whole deepvariant on ppc64le with IBM Advance Toolchain 11.0 with all its dependencies on RHEL 7.5. And most test cases passed, but only 2 test cases failed.

Found one root cause today of "//deepvariant/labeler:haplotype_labeler_test" as following. While suppose this is not related to platform/environment issue? Would you please kindly help to comment how to fix this err

[2019-02-14 11:38] andrewrech commented on #145
Hello @sidharthgoel

Thank you for your help with this issue - I was able to build deepvariant! Tests failed, below, and I am happy to open a separate issue for this or take it somewhere else this is TensorFlow-specific.

It seems that TensorFlow `r1.12` installed duing the deepvariant build is looking for CUDA 9:

[code]

However:

1. I specified CUDA 10 in `settings.sh`
1. CUDA 9 is not required

[2019-02-14 11:55] andrewrech commented on #142
Hello all,

My institution is conducting a cancer immunotherapy study involving >1000 WES and we are **highly** interested in evaluating deepvariant. I would like to be included in feasibility discussions, if you are willing, and we could potentially contribute resources to this effort.

Sincerely,

Andrew

@gunjanbaid @AndrewCarroll @shalabhsuman

[2019-02-14 17:58] sidharthgoel commented on #145
Currently some of the settings in `settings.sh` are outdated/not in-use (particularly the CUDA related ones), so I don't think you specifying the CUDA version there did anything. If you notice in `run-prereq.sh` it doesn't check for `TF_CUDA_VERSION`, it just automatically installs CUDA 9.0.

You should be able to use CUDA 10, but you'll have to modify the code in the `CUDA` section of `run-prereq

[2019-02-14 18:03] AndrewCarroll commented on #142
Hello @andrewrech,

Thank you for you interest. We are quite interested in collaborating on this effort, and the timeframe of Q2-Q4 is a good fit for our efforts. For these WES samples, will these be germline sequencing or somatic sequencing?

I do not know the institutional requirements for access, but if you are able to add other investigators, our team may be interested to work closely with you

[2019-02-14 20:49] andrewrech commented on #142
Get's - let's follow up offline.

[2019-02-17 20:27] internalsensor opened #155 "AttributeError: 'IntervalTree' object has no attribute 'merge_overlaps'"
Hi Deepvariant developer:

I paste the error report when I run "make_examples" for testing dataset:

python /opt/deepvariant/bin/make_examples.zip \
 --mode calling \
 --ref /usit/abel/u1/senz/DeepVariant0.7.2/quickstart-testdata/ucsc.hg19.chr20.unittest.fasta \
 --reads /usit/abel/u1/senz/DeepVariant0.7.2/quickstart-testdata/NA12878_S1.chr20.10_10p1mb.bam \
 --examples /usit/abel/u1/senz/DeepVari

[2019-02-17 21:02] pichuan commented on #155
Hi @internalsensor ,
can you tell us how you're running DeepVariant?
Is this binaries you built on your own, or pre-built binaries you copied from us, or Docker image?
If it's the first or second, you need to change run-prereq.sh to
[code]

This is because intervaltree got upgraded during this time, and we didn't pin it in the last version. We'll plan to fix it in the next release.

[2019-02-17 21:12] internalsensor commented on #155
I downloaded and ran the pre-built binaries *.zip (DeepVariant v 7.0.2) from GitHub. In fact, I have installed 'intervaltree==2.1.0', but it does not works? Strange.....

[2019-02-17 22:05] internalsensor opened #156 "AttributeError: 'IntervalTree'"

[2019-02-17 22:05] #156 closed

[2019-02-18 00:13] pgrosu commented on #155
My spidey sense is telling me that you have two versions installed.  If you run the following Python commands you can see the search-order of paths to determine if you have another `intervaltree` module installed system-wide, and it prioritizes that one before yours:

[code]

The easiest thing is to set the `PYTHONPATH`, or just download the package and untar it in the local deepvariant directory.

[2019-02-18 00:33] pichuan commented on #155
Hi @internalsensor , please see my answer below.
(And, can you give us some feedback on why you don't use the Docker version, but decided to use the prebuilt binaries instead? Thank you!)

===
Hi @internalsensor ,
I think it's likely what @pgrosu said about multiple versions installed. It'll be useful to figure out what actually got used.

I was not able to reproduce the error you found.
In case i

[2019-02-18 06:12] pichuan commented on #154
Hi @qili93
can you paste your error messages here?

Many of the recent test errors reported by users are related to the fact that we didn't pin our intervaltree version in our last release, and intervaltree v3 came out and had some API changes...

So, the first thing to try is to change this line:
https://github.com/google/deepvariant/blob/r0.7/run-prereq.sh#L86
to:
[code]
and see if the tests wil

[2019-02-18 10:49] qili93 commented on #154
Hi @pichuan,

The "intervaltree==2.1.0" resolved my another failed case of "//deepvariant:make_examples_test". While "//deepvariant/labeler:haplotype_labeler_test" still failed. And the following is the error message that I got:

======================================================================
FAIL: test_make_labeler_ref(truths=[], expected_end=21, expected_start=9, bufsize=0, candidates=[re

[2019-02-18 10:58] qili93 commented on #123
Hi @DiableJambe and @pichuan ,

This issue can be resolved by IBM Advance Toolchain 11.0 :)

Some brief steps for your references of how to build DeepVariant on Power8 & Redhat 7.5

1. Build the following packages with "/usr/bin/gcc"
cmake 3.13.3
Protobuf 3.6.1 C++ (static build with --enable-static for bazel)
bazel 0.15.0

2. Install Advance Toolchain 11.0 and build the following packages with /o

[2019-02-18 18:57] pichuan commented on #154
Hi @qili93
I wasn't able to reproduce your error. Here is what I did (on a Ubuntu 16 machine)
[code]

And this passed for me.

Currently your setting might be outside our actively supported platform. If you can suggest a patch (that wouldn't break other settings), we're happy to make a fix internally as well. But we don't currently have extra bandwidth to look into this issue.

One more question f

[2019-02-18 20:50] pgrosu commented on #154
Wait @pichuan, are you saying you're not even going to have a DeepVariant app at the Google Play store?  That would be sooo cool ;)

[2019-02-18 21:24] kokyriakidis opened #157 "Nvidia RTX 2070 with Tensor cores"
Hello, I am a pharmacy student and I am trying to use your tool.
I have in my possession a pc with i7-6700, 32GB RAM and a RTX 2070 with CUDA cores and Tensor Cores.
1) Can I somehow use the Tensor cores of my GPU and how?
2) Is 32 GB enough? If I upgrade to 64gb will be better?

[2019-02-18 21:26] pgrosu commented on #157
It all depends on how big your data is.

[2019-02-18 21:29] kokyriakidis commented on #157
Lets say I want to do an analysis on a 9gb WES bam file. Will 32gb be enough?

[2019-02-18 21:55] pgrosu commented on #157
Yes, but take a look at this:

https://github.com/google/deepvariant/blob/r0.7/docs/deepvariant-details.md

It just depends on how many coffee breaks you want to have :)

~p

[2019-02-18 22:01] kokyriakidis commented on #157
So the question is, is it worth to buy another 32gb ram (64 total)? Will I see much improvement?

[2019-02-18 22:22] pgrosu commented on #157
I would begin by performing an empirical serial study first with your current configuration, starting with the bare minimum amount of memory, and increasing it with some consistency.  Then based on that, project out what would be satisfactory - if the current setup is not sufficient.

[2019-02-19 03:01] qili93 commented on #154
Thanks @pichuan :)

Finally I got the root cause of this issue, it seem the return number of min on Ubuntu and RHEL are different. I tried to run the following commands on both python2:

The output of **Ubuntu** (on X86) is:
[code]

And then I tried the same code on **RHEL 7.5 (both on X86 and Power**, the output is:

[code]

And I accidentally run the above command with Python3, and it throw the

[2019-02-19 03:14] pichuan commented on #154
Hi @qili93
Thank you for looking into this! We have an internal issue to track this. I don't have a timeline for this now, but will let you know when we have more clear plans.
Closing this issue now.

[2019-02-19 03:14] #154 closed

[2019-02-19 09:41] mlin commented on #142
Hi I'm the GLnexus maintainer. From that side we're currently lacking a motivating, medium/large scale study with DeepVariant gVCF files which would provide the context to chase down the gnarly corner cases that arise in gVCF merging / joint genotyping, completing the current "experimental" integrated configuration. There are a few candidates in the pipeline but more would be really welcome. Ping

[2019-02-19 11:10] kokyriakidis commented on #157
Currently, I have a mini motherboard with two RAM slots (32gb), so I cannot upgrade it. I am looking to buy maybe a quad channel motherboard. I was looking at AMDs Threadrippers due to their cores. Will I have a usage penalty using AMD instead of INTEL based cpus due to the MLK library?

[2019-02-19 17:14] pichuan commented on #157
Hi @kokyriakidis
MKL is an important part of the speed improvement for the `call_variants` step in the v0.7 release.
We don't currently have tried on AMD, so I can't say what the performance will be like. I'd like to learn more if you try it and have some numbers to share.

In general it's pretty difficult for the DeepVariant team to give advice on hardware or fine-tuning for a specific configurat

[2019-02-19 17:14] #157 closed

[2019-02-20 21:11] mosh305 commented on #138
Hi again, very sorry for the late response.
@gunjanbaid I used the files you provided and I managed to get the examples! Moreover, I managed to train the network and continue my work.

@gunjanbaid  @AndrewCarroll Thank you very much for all your help!

[2019-02-20 21:43] gunjanbaid commented on #138
@mosh305 No problem, glad to hear that you were able to get everything working!

[2019-02-20 22:11] cmclean commented on #154
Hi @qili93 ,

This is a bug that the mock ref_reader does not have its 'contig' function return value populated. This has been fixed internally and will be part of the next release.

In the meantime, if you want to modify your own version of the code you need to do the following:

In deepvariant/labeler/BUILD, in the "haplotype_labeler_test", add the following dependency:
"//third_party/nucleus/pr

[2019-02-23 15:23] animesh commented on #41
downloading http://security.debian.org/debian-security/pool/updates/main/o/openssl/libssl1.0.0_1.0.1t-1+deb8u10_amd64.deb followed by
[code]
seems to work on WSL debian 9

[2019-02-25 11:21] fcunihd opened #158 "Less variants were called than expected with deepvariant 0.5.0 exome model"
Hi deepvariant developer,
I used deepvariant v0.5.0 for calling variants in exome target regions of a exemplary sequenced sample by using similar commands as described in the exome case study. After successfully executing make_variants, call_variants and post process_variants I ended up with a dataset of about 12,000 called variants in the exome of my sample, rather than the expected 20,000 to 30,

[2019-02-25 16:33] pichuan commented on #155
Hi @internalsensor,
I am going to close this issue. If you have more questions, please let us know.
In the next version, we'll make sure the pin intervaltree to the right version that goes with the code.

[2019-02-25 16:33] #155 closed

[2019-02-25 16:37] pichuan commented on #145
Hi @andrewrech
I'll be closing this issue.
To add on the previous answer about `TF_CUDA_VERSION`: currently run-prereq.sh has multiple paths to install tensorflow. If you end up building tensorflow from scratch it self, the env variable `TF_CUDA_VERSION` might be picked up by that. Internally we don't really use that code path anymore so I'm not sure if it actually still works. I'll make a note to

[2019-02-25 16:37] #145 closed

[2019-02-25 19:18] AndrewCarroll commented on #158
Hello Ferdinand,

I have a few questions which may help us to understand whether this would be expected or not. First, can you tell me how many variants are Refcall in this sample (zcat Sample.final.vcf.gz | grep RefCall | wc -l) and how many variants are PASS in this sample (zcat Sample.final.vcf.gz | grep PASS | wc -l)

Second, is it possible for you to point me to the capture regions that you u

[2019-02-25 21:29] pgrosu commented on #158
Probably it would be better to use version 0.7.2 of DV as there was a bugfix for gVCF creation in 0.5.2 from 0.5.0

[2019-02-26 21:28] DiableJambe commented on #123
Hey @qili93

Thanks for letting me know! Is there a docker image available for this build (DeepVariant or prereqs)? If not, I will try to do it myself.

Thanks!

[2019-02-28 10:53] fcunihd commented on #158
Thanks for your quick response.

I have 1191 RefCall variants and 10972 PASS variants in the final VCF file.  We sequenced the sample NA12878 from the HapMap project, for benchmarking it with hap.py against the GIAB reference data.
As you mentioned we used the Agilent SureSelect Human All Exon V6 r2 Bedfile (S07604514 BED file), which is also attached to this message.

[S07604514_Regions.txt.gz](h

[2019-03-01 23:30] AndrewCarroll commented on #158
Hi Ferdinand,

Thank you for the region files. I was looking through your command, and I think I realize the source of the fewer number of variants.

In your make examples command, you have --task 0. Your make examples script indicates that there will be 8 shards, but this will only run the first of those shards. You will need to run all 8 tasks (and can do so in parallel).

You can see the way we

[2019-03-04 09:52] qili93 commented on #154
Thanks so much @cmclean :)

[2019-03-04 09:58] qili93 commented on #123
Hi @DiableJambe ,

Sorry for my late response, I do not have a docker image yet. And I attached the detailed steps here for your reference. It's a bit long :)

# DeepVariant

## Environment

[code]

## Cmake 3.13.3

Build and install doc: [https://cmake.org/install/](https://cmake.org/install/)

[code]

## Protobuf 3.6.1 C++ static

C++: [https://github.com/protocolbuffers/protobuf/blob/master/src

[2019-03-05 05:58] pichuan commented on #158
Hi @fcunihd , please let us know if Andrew's answer resolved your issue? I'm closing this issue, but if it's not resolved, please feel free to re-open.

[2019-03-05 05:58] #158 closed

[2019-03-06 19:11] gunjanbaid commented on #142
I'll close this issue for now but feel free to reopen if anyone has additional questions.

[2019-03-06 19:11] #142 closed

[2019-03-06 19:21] gunjanbaid commented on #137
@drtamermansour Were you able to resolve the problem? I'll close this issue for now, but feel free to reopen if you have any other questions!

[2019-03-06 19:25] gunjanbaid commented on #95
Closing this issue as there has been no activity for a while. For anyone referencing this discussion, [here is a link](https://github.com/google/deepvariant/issues/137#issuecomment-452921108) to detailed instructions on how to install DeepVariant for CentOS7.

[2019-03-06 19:25] #95 closed

[2019-03-07 11:19] aditya-88 opened #160 "build-prereq.sh only checks for a single location of PYCLIF"
I am currently trying to install DeepVariant on Pop!_OS 18.10, which is based on Ubuntu 18.10.
I installed Google CLIF from sources but the "build-prereq.sh" kept complaining that the PYCLIF isn't installed.
On looking into the code of "build-prereq.sh", I found that the code only looks for a single location of PYCLIF:

`if [[ -e /usr/local/clif/bin/pyclif ]];`

While my PYCLIF was installed by de

[2019-03-07 18:07] gunjanbaid commented on #160
Hi @aditya-88, thanks for filing this bug! I will look into both 1) using disutils.spawn and 2) improving the error message.

[2019-03-08 13:15] aditya-88 commented on #160
Thank you!
It'll make things easier for the prospective users.

[2019-03-08 18:05] gunjanbaid commented on #135
@HagenC We have internally added both `min_base_quality` and `min_mapping_quality` as flags in `make_examples` and these will come out in the next DeepVariant release.

[2019-03-12 22:43] gunjanbaid commented on #160
Hi @aditya-88, I looked into this issue a bit further. Unfortunately, I don't think using a `disutils.spawn`-style solution will be possible here. There are a few different things to point out. First, we need not just the `pyclif` binary, but other files that get created when you install CLIF. Here are all the files present in my `clif` directory:

[code]

Second, even if you did obtain all the ne

[2019-03-12 22:43] #160 closed

[2019-03-13 03:27] FengCong97 opened #161 "polyploid"

[2019-03-13 03:28] #161 closed

[2019-03-14 23:16] bdongucdavis opened #162 "Training model with GPU"
I tried to train the DeepVariant on CPU and it was very slow. I now have access to a google cloud instance with GPUs. I am new with google cloud and I am not sure how I can accelerate the training process with GPUs.

According to the [Case Study](https://github.com/google/deepvariant/blob/r0.7/docs/deepvariant-tpu-training-case-study.md), I can use the use_tpu flag to accelerate the training proce

[2019-03-18 21:31] pichuan commented on #162
Hi @bdongucdavis , thank you for your interest in training DeepVariant models.
Training on CPU is indeed going to be very slow. With GPUs, you can speed it up compared to CPUs. For example, this old tutorial that I wrote has an example: http://bit.ly/train-deepvariant

If you are using Google Cloud Platform, I would strongly recommend that you get TPU quota and try following the steps in the [Adva

[2019-03-18 21:31] #162 closed

[2019-03-20 15:31] jrvanalstine opened #163 "multi-gpu support?"
Is there any multi-gpu support? Would it be a waste to run DV on instances with multiple GPUs?

[2019-03-21 13:36] ekofman opened #164 "Failed to retrieve block: error reading file for gvcf postprocess variants for WGS"
Hi, I'm getting the following error when trying to postprocess the gvcf (generation of the normal vcf works fine). Any ideas why this is happening? It's happening across several different samples, but always at the same site. Could it be something missing in the reference fasta file? If so is there a setting to have it fail less spectacularly and skip over variants it for some reason cannot find?

[2019-03-21 14:30] pichuan commented on #163
Hi,
Currently, only the call_variants step can utilize GPU. And it currently only uses one GPU. Our team is actively looking into getting it to work with multi-gpu. Hopefully we'll have an update soon.

[2019-03-22 18:36] cwarden45 opened #165 "High-Level Questions about "Why DeepVariant" Section"
Hi,

I genuinely appreciate that you are providing a lot of detailed information for your free program.

However, as I understand it, I have some high-level questions / concerns:

**1)** You mention scoring high on the PrecisionFDA calling, but I don't see the term "DeepVariant" or "Google" any where.  I apologize for missing something that a lot of people might know, but would you mind explaining

[2019-03-25 20:58] ekofman commented on #164
Hi @pichuan ! Any initial hunches by any chance? Appreciate the help

[2019-03-25 21:12] pichuan commented on #164
Hi @ekofman , sorry forgot to answer this one.
Looking at the error line:
[code]
It seems to me that it might be having some trouble reading from the reference FASTA file and its corresponding FAI file. Can you check with FASTA file (and corresponding FAI) file you're using?

[2019-03-25 21:21] ekofman commented on #164
Like it's potentially corrupted? I'll see if I can figure that out but I'm pretty sure the fasta and fai should be fine as we use them for many of our other applications.

[2019-03-25 21:44] pichuan commented on #164
Thanks. If any of these files are public, let me know and we can also take a look.
I'll also ask my teammates who have recently looked at the postprocess_variants code to see if they have other suggestions.

[2019-03-25 21:54] AndrewCarroll commented on #165
Hello Charles,

Let me take your questions point by point

1) The PrecisionFDA entry is rpoplin-dv42. The corresponds to a substantially earlier version of DeepVariant, but the core elements (deep neural network classification of examples) is the same. Ryan Poplin and Mark DePristo were at Verily at the time, and since transferred to Google Brain. (Verily is partially owned by Google).

2) In the

[2019-03-25 22:00] ekofman commented on #164
gs://fc-f36b3dc8-85f7-4d7f-bc99-a4610229d66a/broadinstitute/reference/hg19/fasta/Homo_sapiens_assembly19.fasta

and

gs://fc-f36b3dc8-85f7-4d7f-bc99-a4610229d66a/broadinstitute/reference/hg19/fasta/Homo_sapiens_assembly19.fasta.fai

Thanks!

[2019-03-26 00:31] cwarden45 commented on #165
Hi Andrew,

Thank you very much for your kind and prompt response.

For #1 (and part of #2), thank you very much for that additional information.  I think my question was a simpler one: you can see multiple submissions for some groups, and I was trying to see if I understood all the submissions that used DeepVariant.  Since there is only one "rpoplin" label (and no other entries from Verily Life S

[2019-03-26 03:29] pichuan commented on #164
@ekofman One question for you -- did you get this error when you directly specifying gs:// in your command?
If so, can you try another run where you copy those files to your local machine first (and point to a local machine)? I know that we should (in theory) be able to read from GCS bucket because htslib should support it, but I have not done that much in the past, so I don't know how reliable it

[2019-03-26 12:24] ekofman commented on #164
They’re being copied to the local machine actually!

Sent from my iPhone

[2019-03-26 13:54] cmclean commented on #164
Hi @ekofman ,

I am unable to reproduce this FASTA querying error on my machine. Can you verify the md5sums of the files you have on your local machine? When I copy the above gs:// paths, I see

$ md5sum Homo_sapiens_assembly19.fasta*
886ba1559393f75872c1cf459eb57f2d  Homo_sapiens_assembly19.fasta
fdc0ab679f6461d78980de2a2e97e8f3  Homo_sapiens_assembly19.fasta.fai

and with those files can query t

[2019-03-26 14:04] ekofman commented on #164
hmm yes seems okay...

886ba1559393f75872c1cf459eb57f2d  Homo_sapiens_assembly19.fasta
fdc0ab679f6461d78980de2a2e97e8f3  Homo_sapiens_assembly19.fasta.fai

[2019-03-26 14:08] ekofman commented on #164
The strange thing is that the vcf generated perfectly with no problems, whereas the gvcf had this issue and in my final output is only 5 KB in size

[2019-03-26 21:41] pichuan commented on #164
@ekofman In this case, it seems like the gVCF file generation might have had some issues.
Since that the gVCF generation requires output from make_examples stage, is it possible that the make_examples stage weren't completely correctly? Can you check the output size from there?

And, when running manually, a common failure mode is that sometimes people will start a run, and ctrl-c in the middle. B

[2019-03-26 21:47] cmclean commented on #164
It makes sense that the VCF generated successfully. In the postprocess_variants program, first the VCF is created based solely upon the outputs from the call_variants program, which has knowledge of the reference and alternate bases for each candidate site (and thus does not need to interact with the FASTA at all). The gVCF is created afterwards but needs a FASTA for cases where variants "poke hol

[2019-03-31 18:45] cwarden45 opened #166 "DataLossError / Failed precondition when running WES call_variant"
Hello,

I have been trying to do some testing of DeepVariant on my own Exome (WES) and WGS data.

As a starting point, I was trying to work with calling variants from the .bam file provided for my WES data.

I started running from within a Docker container on my local computer but that was taking a long time (and, ultimately, the _make_examples_ step did not run to completion).  I started learning

[2019-03-31 23:01] cwarden45 commented on #166
If it helps, this is what the model folder looks like:

[total 401316
-rw-rw-r-- 1 ec2-user ec2-user 348681272 Dec 11 23:41 model.ckpt.data-00000-of-00001
-rw-rw-r-- 1 ec2-user ec2-user     18473 Dec 11 23:42 model.ckpt.index
-rw-rw-r-- 1 ec2-user ec2-user  31118992 Dec 11 23:41 model.ckpt.meta
-rw-rw-r-- 1 ec2-user ec2-user  31118992 Dec 11 23:41 model.ckpt.meta.1](url)
(I think there are two met

[2019-03-31 23:07] cwarden45 commented on #166
I also tested running _make_examples_ without _parallel_ (so, without the 4 threads), and the run-time was similar on the same instance (I believe a few hours).  However, I am still getting the same error message that the **call_variant** step (with or without the threads / shards).

Thank you again for your help! :)

[2019-03-31 23:42] pichuan commented on #166
From your error, it seems like here is the relevant part:

[code]

For the `call_variants` step, in this line:
[code]

`${MODEL}` is actually a prefix of the model file, not the directory.
So, in your case, `${MODEL}` here should be:
`/mnt/efs-genome/Ref/DeepVariant/DeepVariant-inception_v3-0.7.2+data-wes_standard/model`
not just the name of the directory.

Please give that a try and see if it wor

[2019-04-01 02:27] cwarden45 commented on #166
Thank you very much for your prompt response, particularly on the weekend!

I can see that I overlooked the line `MODEL="${HOME}/${MODEL_NAME}/model.ckpt"` in this [quick-start](https://github.com/google/deepvariant/blob/r0.7/docs/deepvariant-quick-start.md) guide.  I apologize about that.

So, if I use `/mnt/efs-genome/Ref/DeepVariant/DeepVariant-inception_v3-0.7.2+data-wes_standard/model.ckpt`,

[2019-04-01 04:36] cwarden45 commented on #166
P.S. I was expressing a concern about the run-time, but **call_variants** was much faster than _make_examples_ (within 10-15 min)!

In fact, it was also quicker than _postprocess_variants_ (>1 hr, but I am troubleshooting different issue).

Nevertheless, I very much appreciate your help: I am definitely making progress!

[2019-04-01 17:57] #166 closed

[2019-04-02 05:32] #165 closed

[2019-04-02 05:34] pichuan commented on #166
Yup that's right. Sorry, I meant `model.ckpt`, not just `model`.
Feel free to open another issue if you have other questions.

In the next release, I'm hoping to make it easier to use. One thing I'm looking into is to not have to specify a super long model path, which is error-prone. When the next release comes out, it'll be good to have your feedback again.

[2019-04-03 04:08] cwarden45 opened #167 "bad_alloc (memory?) issue postprocess_variants"
Hi,

As a follow-up to my [previous question](https://github.com/google/deepvariant/issues/166), I am trying to run the **postprocess_variants** command for DeepVariant from a Docker container on an AWS instance.

I am getting the following error message:

[code]

I thought this might have been an issue with memory allocation, but I have been testing the same command with increasing computational

[2019-04-03 05:43] pichuan commented on #167
Hi Charles,
the bad_alloc error could indicate that you're running out of memory on this machine.
It seemes like m5.4xlarge have 64 GB RAM? Currently postprocess_variants reads in everything in memory and sorts them, which can take quite a lot of memory depending on how many records the previous step generated.
I suggest trying this step on a machine with more RAM, or keep an an eye on whether the

[2019-04-03 07:01] cwarden45 commented on #167
Thank you - I will look into this.  I was definitely not using 128 GB of RAM on AWS, so I will keep increasing this.

I think you almost have to use a Cloud Resource or High-Performance Computing Cluster/Server for that: definitely not my personal home computer :(

While I also have WGS data, this is Exome data.

I thought the _call_variants_ output seemed kind of small, but I don't know what is t

[2019-04-03 14:49] cwarden45 commented on #167
Also, to answer your earlier question:

I may be still in the learning phase about some AWS things, but _m5.4xlarge_ (which is what I was using when I submitted the ticket) is supposed to have 16 cores and 64 GB of RAM.

I am currently testing running on an _r4.8xlarge_ EC2 instance (part of an ECS cluster, which has Docker installed) is supposed to have 32 cores and 244 GB of RAM.

If that doesn'

[2019-04-03 17:28] akolesnikov commented on #167
Hi Charles,

In addition to what Pi-Chuan said. We run a case study for exome on 128G instance (https://github.com/google/deepvariant/blob/r0.7/docs/deepvariant-exome-case-study.md)

postprocess_variants simply converts variants from internal format to VCF format. This error is very generic and from the information you provided there is no way to say it is related to TensorFlow.
It would be helpfu

[2019-04-03 19:31] cwarden45 commented on #167
Thank you for the reply about TensorFlow.

I'll double-check when I get home (I have limited IP access to my AWS Cloud account), but the call_variants file seemed much smaller than I would expect for a file format.  However, maybe the issue is that it is a binary file (otherwise, it seems too small to contain the information in variant .vcf file).

 However, the proportions of run time does match

[2019-04-03 22:43] pichuan commented on #167
Hi Charles,
there are a few 3rd party Cloud orchestrations for DeepVariant that you can consider. I'll provide the links below. To get the most accurate information, please visit their websites. (Our team does not maintain these).

* [Running DeepVariant on Google Cloud Platform](https://cloud.google.com/genomics/docs/tutorials/deepvariant)

[2019-04-03 23:59] cwarden45 commented on #167
Hi Pi-Chuan,

I'm still not back home yet (so, I apologize that I'm not 100% answering your question).  However, I can say this:

Even thought I would expect the direct command-line analysis (in AWS or Google Cloud) should cost less, I did briefly look into DNAnexus and Seven Bridges.  However, DNAnexus requires that you create an account with an institutional e-mail, and I was checking about what

[2019-04-04 03:42] cwarden45 commented on #167
I've attached the output from the _call_variants_ step.

I'm not sure how much may have to do with having a total of ~2 weeks AWS experience, but the current situation may be kind of interesting:

1) I believe I started running **postprocess_variants** this morning
2) After an 1-2 hours I would have expected to see that error message with the previous runs.
3) Using _r4.8xlarge_ EC2 instance launc

[2019-04-04 06:14] pichuan commented on #167
Thanks for sharing the file! We'll take a look soon and get back to you.

[2019-04-04 07:44] cwarden45 commented on #167
You are very welcome - thank you for your help!

FYI, the script recently stopped with the same error message.  So, unless that file gives you another troubleshooting idea, I may look into other possible strategies (and/or look into more AWS documentation) and return to this issue when I get to the same stage with running DeepVariant (or at least report the alternative solution that I worked out).

[2019-04-05 02:33] frapaport commented on #137
Hi everyone,

I am trying to install the DeepVariant bioconda on RedHat Entreprise Server 7.2
I am really not familiar with conda but this looks like the most straightforward way to run deepvariant on a machine for which I do not (and will never get) sudo privileges.

The above discussion helped to pass a lot of kinks but I am still struggling.

I am having the two following problems :
- conda now

[2019-04-05 05:11] pichuan commented on #167
Hi Charles,
I had a chance to try this on a GCE (Google Compute Engine) instance. First, when I looked at your file, I suspect it won't take much resource and time at all. And from my experiment below, it matches my expectation.

Quick summary:
It took me about **24 seconds**, on a [n1-standard-1](https://cloud.google.com/compute/docs/machine-types#standard_machine_types) instance (which has **3.7

[2019-04-05 13:17] cwarden45 commented on #167
Thank you - I think these commands will be helpful as I learn about using Google Cloud.

Please don't rush the AWS test - I am guessing I will have to wait until at least Sunday to be able to set up an account and confirm that using Google Cloud can resolve this issue.

[2019-04-05 15:44] pichuan commented on #167
No problem.

I will still want to make sure there isn't a problem on AWS though. Our team develop DeepVariant to run everywhere (with a compatible OS). We mostly test on Ubuntu 16.04 so far because we haven't had much resource to test much more broadly. But a Ubuntu either on GCP or AWS shouldn't be an issue. And if it is, I think our team needs to know why.
Once I have a chance to test and confir

[2019-04-05 16:39] pichuan commented on #137
Hi @frapaport ,
I would like to understand better how we can help the users that don't have root permission.
One question for you
Given that you don't have root permission on your machine, I assume that using our pre-built binaries is also not possible. (Because it requires running run-prereq.sh, which currently uses `sudo` to install a bunch of stuff.)

Other than bioconda, are there other common

[2019-04-05 17:31] frapaport commented on #137
Hi @pichuan ,

I am actually not familiar with singularity. I checked the docs and my understanding is that the installation requires root privileges but, according to a quick forum searches, there are some ways to get around it.

Most of the software I have installed is either available through R (distributed in bioconductor) or distributed as a JAR archive. I have had to run a few makefiles but

[2019-04-07 06:40] pichuan commented on #167
@cwarden45
I got a `t1.micro` machine on AWS , and I basically repeated what I did in https://github.com/google/deepvariant/issues/167#issuecomment-480150395

With the same command:
[code]

It took me:
[code]
on a t1.micro AWS instance. A few differences from my GCP experience is:
(1) I had to use yum (instead of apt) to install docker.
(2) I had to first run `sudo service docker start` before I p

[2019-04-07 06:45] pichuan commented on #137
@frapaport
an update on Singularity - I've tested our latest setting (which will come out in the next release) by converting it in to a Singularity image. It seems to work fine for me. So, if you would be able to install singularity, that will be an easier way forward once our next release is out.
I'll still come back and revisit the usability of our bioconda installation. But might take a while.

[2019-04-07 18:27] cwarden45 commented on #167
Thank you again for your reply, especially on the weekend.

While I'd like to have a way to run all of the steps, thank you for this feedback.  As a sort of similar test, I had a m3.large instance open, so I tested running the command from my home directory.

For some reason, I don't get the same error message when I do this, but I also don't get any output and no output files are created.  Nevert

[2019-04-07 20:48] cwarden45 commented on #167
FYI, I'm not sure if this is the best solution, but I noticed that running in my home directory avoids the need to use _sudo_.

While I am still encountering the same result (and I thought I encountered some issue with running Docker interactively at another step, I do have the ability to launch Docker in my home directory in interactive mode:

`docker run -it -v /mnt/efs-genome:/mnt/efs-genome gc

[2019-04-07 23:13] cwarden45 commented on #167
While AWS was better than my local computer (with 8 GB of RAM and 4 cores) for running the 1st step (_make_examples_), I can likewise try running the Docker container in interactive mode on my own computer:

`docker run -it -v /c/Users/Charles/Documents/WGS_Exome_Analysis/My_Veritas_WGS:/mnt/wgs gcr.io/deepvariant-docker/deepvariant`

followed by moving to the appropriate directory and running the

[2019-04-07 23:33] cwarden45 commented on #167
Also, if I try to follow your instructions for an EC2 instance, I can't actually create a _t1.micro_ EC2 instance, but I can create a **t2.micro** EC2 instance (with 1 vCPU and 1 GB of RAM).

I remember spending some effort to try and install Docker on the EC2 instance.  That installation is quite quick, and I almost wondered if I hadn't somehow didn't tested `sudo yum install docker`.  However, t

[2019-04-08 06:35] cwarden45 commented on #167
It took about 8 hours, but I could run the **postprocess_variants** step on my local computer (using the commands [specified above](https://github.com/google/deepvariant/issues/167#issuecomment-480640009)).

If Official Amazon Support doesn't have a solution for running this program on AWS, I might cross-post this on StackExchange (to see if I can figure out if there is some sort of configuration

[2019-04-08 06:35] #167 closed

[2019-04-08 10:43] kokyriakidis commented on #137
Please make sure you have a GPUs-enabled singularity image! :)

[2019-04-08 15:15] frapaport commented on #137
Thanks @pichuan , I will wait for the Singularity image then.
If Singularity works then I will most likely not need the bioconda install.

[2019-04-08 18:16] pichuan commented on #132
Hi @chrisfleisch
I want to follow up on this issue. The path change earlier was actually due to this commit back in Oct 2018:
https://github.com/google/deepvariant/commit/f3207bb2e4db50f858343b97fa8bdec0fb908ab7

Because we added `--user` to pip install (even when the user is root), that's what caused the change you observed.

In our upcoming release, we will plan to change this so that we won't p

[2019-04-08 18:16] #132 closed

[2019-04-09 11:37] tstokowy opened #168 "Make_examples using GPU?"
Hi, I am using DeepVariant 0.7.2 on my local machine (nvidia-docker). I managed to significantly accelerate call_variants using GPU (5-10x faster using relatively cheap graphics card).

I wonder if it is possible to accelerate make_examples using GPU - for now I am using parallel CPU threads as suggested: seq 0 $((N_SHARDS-1)) | parallel (...).

--
Tomasz Stokowy

[2019-04-09 20:06] jaqueytw commented on #45
Hi there!

I tried to combine the deepvariant's gvcf files using GATK and it returned a error because of the "NON_REF".
Do you have any other recommendation? Or did you tested your gvcf in GATK?

This is the error:
A USER ERROR has occurred: The list of input alleles must contain <NON_REF> as an allele but that is not the case at position 10325413; please use the Haplotype Caller with gVCF output

[2019-04-09 20:35] sidharthgoel commented on #168
Hi Tomasz,
We currently do not support running make_examples on GPUs, just the parallelized threads that you are currently using. However, you could consider [this external solution](https://docs.parabricks.com/standalone-tools/deepvariant) from Parabricks, which provides multi-GPU support for running our pipelines. Please note that we are not involved with creating or maintaining this.

[2019-04-09 20:35] #168 closed

[2019-04-10 06:37] hmyh1202 opened #169 "Soooo hard to install"
I had tried install the soft using conda， but it was failed finally.

Besides dose GPU necessary ？

[2019-04-10 06:41] hmyh1202 commented on #137
too slow to download the main soft

[2019-04-10 20:43] sidharthgoel commented on #169
Please provide more details on the issue (commands run, the error you saw, etc.) You can start with the [quickstart doc](https://github.com/google/deepvariant/blob/r0.7/docs/deepvariant-quick-start.md) or one of the case studies (linked on the top-level page) to better understand how to install and run DeepVariant.

[2019-04-10 20:43] #169 closed

[2019-04-10 20:59] jaqueytw opened #170 "Running batch analysis"
Hi there!

I tried to combine the deepvariant's gvcf files using GATK and it returned a error because of the "NON_REF".
Do you have any other recommendation? Or did you tested your gvcf in GATK?

This is the error that I got using GATK:
A USER ERROR has occurred: The list of input alleles must contain <NON_REF> as an allele but that is not the case at position 10325413; please use the Haplotype Ca

[2019-04-11 16:37] sidharthgoel commented on #170
Hi @jaqueytw, thanks for the question. If I'm understanding correctly, [this issue from earlier](https://github.com/google/deepvariant/issues/83) has a solution to your problem. I will check internally whether this is something we want to change now.

If the above solution doesn't work, feel free to re-open this bug.

[2019-04-11 16:37] #170 closed

[2019-04-11 17:34] jaqueytw commented on #170
Hi @sidharthgoel.

I did the substitution and used the GATK CombineGVCF and GenotypeGVCF. After that, I separated only the variants where the sample was genotyped with the alternate allele.
The thing is that when I compared with the variants that deepvariant discovered in the single sample, it was different from the combined (see figure).
Maybe, when we use another tool to process the gvcf created

[2019-04-11 19:15] xunjieli commented on #170
@jaqueytw  could you elaborate on how the differences between DeepVariant single-sample calls and the merged cohort are derived? Are you comparing the genotypes, variant representations, or both?

[2019-04-11 21:12] jaqueytw commented on #170
@xunjieli yes, I can.

I only extracted the variants where the analyzed sample had the alternative allele (genotype 1/1,0/1,./1). I did this for the single vcf obtained from deepvariant and for the combined vcf (obtained from gatk using the gvcf created with deepvariant).
Then, I compared only the variants (chromosome, position, reference and alternate allele) of this two sets.

Is it clear?

[2019-04-11 21:25] xunjieli commented on #170
When you say "_when we use another tool to process the gvcf created by deepvariant, some information are changed_," it might worth figuring out what exactly is changed. Without that info, the feedback isn't actionable.

[2019-04-11 21:27] jaqueytw commented on #170
@xunjieli
Yes, I understand. I will look it further.
Additionally, you should not encourage people to use GATK tools to process your vcf files, since it is changing the genotypes given originally by deepvariant.

[2019-04-11 21:29] pichuan commented on #170
Thanks @jaqueytw . I don't believe we're currently encouraging our users to use GATK tools to process our files. But if you find any documentation that mentioned/encouraged that, please do let me know and I'd like to fix it.

We're actively working on coming up with our own recommendation for best practice. Your analysis and feedback is very valuable. Thank you!

[2019-04-11 21:32] jaqueytw commented on #170
@pichuan I followed the comment at issue #45
Thank you!

[2019-04-11 22:48] AndrewCarroll commented on #45
Hi @jaqueytw

To combine DeepVariant gVCFs together, we currently recommend using [GLnexus](https://github.com/dnanexus-rnd/GLnexus) with the --config deepvariant flag. This should combine DeepVariant gVCFs in a valid manner without filtering or re-genotyping.

We have used GLnexus in this way in some of our early cohort investigations (for example in [this blog](https://google.github.io/deepvaria

[2019-04-12 00:50] cwarden45 commented on #167
Also, while I am still doing some extra testing, I figured out the cause of my problem (which was actually very simple):

**1)** The error message changed a little bit (so, I was focusing on the memory, when there was actually another error:

[code]

**2)** I was providing the relevant parts of the code on GitHub without realizing that everything from step #2 (**call_variants**) was commented out,

[2019-04-12 01:06] pichuan commented on #167
No problem. Glad to hear that the mystery is resolved.

[2019-04-12 01:07] cwarden45 commented on #167
Yes - thank you again for your help!

[2019-04-12 04:14] pichuan commented on #132
@chrisfleisch
We have released v0.8.0 today :)

This time, I made sure to try out Singularity as well. Here are some my personal notes when I tried to pull our Docker image and build Singularity image, based on the suggestion on your comment above.

I'm still new to Singularity, so I'd really appreciate more feedback if any of the following doesn't make sense, or if any of these can be improved to

[2019-04-12 04:20] pichuan commented on #164
Hi @ekofman , with this issue, I think we might have left at a place where there is still a mystery.

Now the v0.8.0 is out, do you mind trying this again and see if you're still seeing the same issue? Given that I didn't fully understand what the problem last time was, at least a sanity check on whether we're still seeing the same thing will be helpful.

If I might be forgetting something that I

[2019-04-12 04:24] pichuan commented on #137
Hi @frapaport , I added some notes about Singularity in https://github.com/google/deepvariant/issues/132#issuecomment-482430728 . I'm still figuring out what's a best way to distribute images. I do have the image files that I built. If it's useful to share those files, let me know.
@kokyriakidis I have an example for a GPU run in that comment as well.

And, addressing the original topic about bioc

[2019-04-12 15:24] ekofman commented on #164
Thanks! I haven't tried running with gvcf since we messaged last, but yes I
never got it to work. We'll let you know if we get a chance to get it
working with the newest version.

On Fri, Apr 12, 2019 at 12:20 AM Pi-Chuan Chang <notifications@github.com>
wrote:

[2019-04-12 16:16] pichuan commented on #123
Hi @DiableJambe ,
I noticed this issue is still open from a while ago. So I want to give a quick update and close this issue.
DeepVariant 0.8.0 is out yesterday. It might still not solve your original issue, but I just want to give you a heads up in case you want to try out the new version.
From @qili93 's last response, many versions of the dependencies will be different now. But hopefully it hel

[2019-04-12 16:16] #123 closed

[2019-04-12 16:17] pichuan commented on #164
Thank you. I'll close this issue for now. When you have a chance to try, if you're still seeing the same issue (or different issues), feel free to open another one, or re-open this one as you see fit.

[2019-04-12 16:17] #164 closed

[2019-04-12 17:57] chrisfleisch commented on #132
This is fantastic! Thank you

[2019-04-13 00:52] williamrowell commented on #132
I converted the new 0.8.0 release docker to a singularity image on a Digital Ocean Centos 7 droplet and took notes, in case it's useful to anyone else.  The instructions were based on [the notes](https://github.com/google/deepvariant/issues/132#issuecomment-482430728) from @pichuan above, but includes instructions for installing docker, nvidia-docker, and singularity, as well as parameters specifi

[2019-04-13 00:57] kokyriakidis commented on #132
@williamrowell WOW, this is really helpful! THANK YOU very much!

[2019-04-14 11:46] drtamermansour commented on #132
We created a CPU image on an Amazon instance as described here and the example code was running fine. Then we tried to use the same image on a super computer (where we do not have root privileges), we get this error:

singularity -s exec -B /usr/lib/locale/:/usr/lib/locale/    deepvariant.simg   /opt/deepvariant/bin/run_deepvariant   --model_type=WGS   --ref=${INPUT_DIR}/ucsc.hg19.chr20.unittest.f

[2019-04-15 01:58] cwarden45 opened #171 "Cloud Run-Time and Cost (including Docker on Google Cloud with Data in Bucket)"
Hi Again,

Thank you again for your help (on previous issues like #166 and #167).

I have successfully run one Exome sample and one WGS sample (on AWS and Google Cloud).

The WGS sample has ~250 million reads (paired-end, 150 bp x 150 bp), so it has ~25x coverage.

Using the code based upon the [Google Cloud DeepVariant example]( https://cloud.google.com/genomics/docs/tutorials/deepvariant), I cou

[2019-04-15 08:41] aaronarchiblad opened #172 "ValueError: Must specify steps > 0, given: 0 deepvariant version: 0.8"
Hi, I am new to deepvariant. I tried to train my deepvariant model with our own data within docker on my personal computer. Up until model_eval and model_train, every process was working fine. When I try to run model_train and model_eval in my computer, model_train seemed to work but model_eval returned ValueError: Must specify steps > 0, given: 0. The error came from estimator.py file in tensorfl

[2019-04-15 19:06] zstephens opened #173 "--sample_name input option for run_deepvariant"
Greetings, with 0.7.2 I had been using make_examples on BAMs without readgroups using the --sample_name input option, but this didn't seem to carry over into the streamlined run_deepvariant tool introduced in 0.8.0. Is there a way to use run_deepvariant on such a BAM, or is it expected now that the input will contain this metadata?

This is a very minor concern obviously, as it's easy to impute re

[2019-04-15 19:42] pjedge opened #174 "Dataset used to train PacBio model"
I'm looking for a pre-trained Deepvariant model for PacBio CLR.
I found this (https://console.cloud.google.com/storage/browser/deepvariant/models/DeepVariant/0.8.0/DeepVariant-inception_v3-0.8.0+data-pacbio_standard/?pli=1)
What dataset was used to train this model?

[2019-04-15 20:29] akolesnikov commented on #174
Hi Peter,
We used multiple HG002 samples generated with PacBio (CCS mode). We didn't test this model for CLR reads.

[2019-04-15 20:32] pjedge commented on #174
ok, thanks!

[2019-04-15 20:43] gunjanbaid commented on #173
Hi @zstephens, thanks for reaching out! The goal of `run_deepvariant` was to provide users with a single command they could use to run DeepVariant using Docker. For the sake of simplicity, this approach only accepts [a few different flags](https://github.com/google/deepvariant/blob/r0.8/scripts/run_deepvariant.py#L53).

We still do support the `sample_name` flag for `make_examples`, but it is not

[2019-04-15 20:43] #173 closed

[2019-04-15 20:49] akolesnikov commented on #172
This could be due to no examples were generated for validation set. When you run make_example step there multiple files generated. Could you attach one of the text files generated during make_example validation set step?

[2019-04-15 22:54] gunjanbaid commented on #171
2) @cwarden45 One thing I notice with your script is that you are trying to run `mkdir -p ${OUTPUT_DIR}`, which will not work since you need sudo permission to create this directory.

You may also want to update your script to use the 0.8.0 image at ` gcr.io/deepvariant-docker/deepvariant:0.8.0`. Models are included in this image. The WES model checkpoint for this image is at `/opt/models/wes/mode

[2019-04-16 02:50] aaronarchiblad commented on #172
I attached two files. One is shuffled validation set, the other one is without shuffled. These data sets are from google quick-start test dataset. Region is chr20:10,005,000-10,008,000.
[validation_set_with_shuffled.tar.gz](https://github.com/google/deepvariant/files/3082816/validation_set_with_shuffled.tar.gz)
[validation_set_without_shuffled.tar.gz](https://github.com/google/deepvariant/files/30

[2019-04-16 02:51] cwarden45 commented on #171
Hi @gunjanbaid - thank you very much for your response!

**1a)** The 18 hours was on an AWS _m5.2xlarge_ machine (8 cores, 32 GB of RAM).

The 24 hours was on Google Cloud, using the 1st command in [this tutorial](https://cloud.google.com/genomics/docs/tutorials/deepvariant):

[code]

I admittedly didn't know what were the default settings, and I saw larger numbers in the later commands.  While th

[2019-04-16 03:35] pichuan commented on #132
@drtamermansour I have not tried saving an image and running it somewhere I don't have root permission. I'll have to think about how to test that better. But before I do that, can I have you provide a few more information, such as:
What is the OS version of the super computer you're on, and what is the singularity version (`singularity --version`) on your AWS machine and your super computer?

Than

[2019-04-16 03:48] AndrewCarroll commented on #171
Hi Charles,

Thank you for the machine information. For the AWS instance, the 8-core machine has 8-fold fewer CPUs than the 64-cores used in the case study. Given this, the total number of core-hours is 144. This is actually quite efficient for a DeepVariant run. For more similar time to the case study, you could consider the m5.12xlarge or m5.24xlarge, with 48 and 96 cores respectively. The 96-co

[2019-04-16 03:59] cwarden45 commented on #171
Hi @AndrewCarroll -

Thank you very much for your response.  Cost-wise, I thought the default for Google Cloud was reasonable, but the goal of my question was to see about running the AWS commands on Google Cloud (which it sounds like was a reasonable way to run DeepVariant, at least on AWS or a local system, if I got a newer computer / server).

However, I certainly understand that you can't supp

[2019-04-16 03:59] #171 closed

[2019-04-16 07:52] drtamermansour commented on #132
@pichuan Thank you for taking the time to help on this
The super computer has an OS CentOS Linux release 7.6.1810 (LSB Version: core-4.1-amd64:core-4.1-noarch) and singularity version 2.5.2
I created the image on Amazon instance with Ubuntu 16.04. I tried using singularity version 2.5.2 & 2.6.0 but both did not help

[2019-04-16 15:08] RewatiAtGit opened #175 "Deepvariant DataLoss Error"
Hello deepvariant community,
I am running deepvariant analysis on whole genome sequencing data. The first part of the analysis, the "make_examples" runs without error. However, in the "call_variants" step, I get the following error:

![Screen Shot 2019-04-16 at 17 10 54](https://user-images.githubusercontent.com/9975286/56221509-aacef300-606a-11e9-9302-e3c7c2a9eed2.png)

My code is as follows:

N_

[2019-04-16 15:36] pichuan commented on #175
Hi,
This can happen if you terminate things (ctrl-c) in the middle of a run, but sometimes the python processes are still running in the background. I also need to use top to inspect the jobs, and forcefully kill all DeepVariant jobs before I restart.
This is the only scenario that I've seen this happen before. if you might be encountering other cases where things can override each other (for exam

[2019-04-16 15:36] #175 closed

[2019-04-16 20:28] williamrowell commented on #132
For comparison, I created images on Centos 7 using singularity 3.1.1, and I'm running the images on Centos 6 and Lentos 7 using singularity 3.0.1.

[2019-04-16 20:29] yingchen69 opened #176 "Is there a way to disable downsampling?"
Hi,

I just wonder if Is there a way to disable downsampling? I work with high depth data from targeted tumor panel. The depth could be as high as 20,000x. With deepvariant 8.0, we miss some variants with low maf such as 0.05, 0.02...

Thanks a lot for rhe help!

Best,

Sean

[2019-04-16 21:01] akolesnikov commented on #172
Your eval set contains only 8 examples. Batch size is specified as 32. Number of examples should be greater than batch_size. You need to either set batch_size to something less than 8 or provide more examples in eval set.

[2019-04-17 01:34] cwarden45 commented on #171
Also, I think I understand better what you were saying before.

The current quote is "_On a 64-core CPU-only machine, DeepVariant completes a 50x WGS in 5 hours_".

I have ~25X WGS, so divide that by 2 (2.5 hours).

However, I was using 8 cores instead of 64 cores, so multiple by 8 (20 hours).

This matches the AWS run-time (~18 hours), but with an on-demand instance (without additional cost savin

[2019-04-17 01:55] aaronarchiblad commented on #172
Thanks !!! You are right, my batch size is larger than my eval set. Where did you get 8? I read the *.pbtxt file in validation_set_with_shuffled. It says num_examples: 13. Not sure if that is the correct place to  find out. @akolesnikov

[2019-04-19 16:19] pichuan commented on #176
Hi @yingchen69
from your questions, it seems like you're asking whether you can change the height of the pileup image.
I believe this previous GitHub issue is very similar, and it has a bunch of in-depth discussion: https://github.com/google/deepvariant/issues/62

A direct answer to your question:
DeepVariant is currently a germline variant caller. Our released models are trained for that purpose.

[2019-04-19 16:19] #176 closed

[2019-04-19 18:11] akolesnikov commented on #172
It is at the beginning of the log. I copied it from your first post.

`
Running evaluations on DeepVariantInput(name=HG001, input_file_spec=/data/output/training_data/customized_training/validation_set_with_label_shuffled/validation_set.with_label.shuffled-?????-of-?????.tfrecord.gz, num_examples=8, mode=eval with model DeepVariantModel(name=inception_v3)
I0415 07:34:19.585236 140713377441536 mode

[2019-04-19 18:12] #172 closed

[2019-04-21 21:33] cwarden45 commented on #165
Hi Again,

I’ve had a chance to do some testing with my own samples, so I thought I should report back:

Going back to _point 4_, I noticed that you could choose to output a gVCF file in DeepVariant.  However, that is not what is done by default (and it’s not what I did), and I can also tell that’s probably not what they did either.  Namely, there are over 3 _billion_ base pairs in the human genom

[2019-04-23 23:20] pjedge opened #177 "conda installation problem"
Installation of 0.8.0 using bioconda:
[code]

fails on CentOS 6.6 with:

[code]
(there are many similar CondaVerificationErrors before this)
Conda info:
[code]

[2019-04-23 23:35] pichuan commented on #177
I've reached out to @chapmanb (owner of the conda package) to help take a look.

(Brad, I still haven't got a chance to try it out myself recently. If there's anything that our team needs to fix, please let me know)

[2019-04-24 01:38] chapmanb commented on #177
Peter;
Thanks for the report and apologies about the install issues. It looks like you're installing deepvariant in a python 3 environment, and it only works with python 2.7, which might be the source of the problems. Hopefully if you try installing with `'python=2.7'` as an additional requirement that will help avoid it. If you still hit issues, it might be a legit problem with the latest `google

[2019-04-24 04:49] pjedge commented on #177
Ah ok I figured that installing it fresh in an empty environment would by default force that environment to be python 2.7. let me try it with that extra requirement

[2019-04-24 05:11] pjedge commented on #177
I get the same errors with ```conda create -n deepvariant python=2.7 deepvariant```

[2019-04-24 10:17] chapmanb commented on #177
Peter;
Thanks for testing, it sounds like there is a problem with the recent google-cloud-sdk packages. I'll take a look to see if I can figure out what is going wrong but an immediate thing you could try is to restrict that dependency version to try and avoid the issue:
[code]
Hope this helps get it installed.

[2019-04-25 20:13] pjedge commented on #177
constraining google-cloud-sdk version worked! thank you

On Wed, Apr 24, 2019 at 3:17 AM Brad Chapman <notifications@github.com>
wrote:

[2019-04-25 20:31] pichuan commented on #177
Thanks @chapmanb so much for you help. And Thanks @pjedge for your update.
I'm closing this issue.

[2019-04-25 20:31] #177 closed

[2019-04-26 00:26] gunjanbaid commented on #163
Hi @jrvanalstine! Unfortunately, the TensorFlow Estimator API does not support running prediction on multiple GPUs, so `call_variants.py` currently uses only 1 GPU at prediction time. That said, the API does support running training and evaluation (both steps require labels) with multiple GPUs through distribution strategies (i.e. `MirroredStrategy`). We hope to look into this and will post an upd

[2019-04-26 00:26] #163 closed

[2019-04-26 19:00] pichuan opened #178 "Singularity issue on a super computer CentOS 7"
I'm opening another issue to follow up on:
https://github.com/google/deepvariant/issues/132#issuecomment-482956117
(The original thread is getting a bit too long, and this issue seems more specific)

Relevant system information in another comment:
https://github.com/google/deepvariant/issues/132#issuecomment-483551683
"The super computer has an OS CentOS Linux release 7.6.1810 (LSB Version: core-4

[2019-04-26 19:57] aubcar opened #179 "glibc causes segmentation fault"
Hey guys,

I got deepvariant installed with conda fine, but my run failed by needing glibc, when I installed glibc all processes get a segmentation fault, if I remove glibc it works until failing needing the dependency. Any advice?  We can't install docker images on our HPC,  I haven't tried converting docker to singularity, as I have no experience with that but I'm comfortable compiling from sour

[2019-04-26 20:28] pjedge commented on #174
Hi, so I noticed in the Deepvariant manuscript supplementary text that the 44x NA12878 CLR data (sorted_final_merged.bam) from GIAB was used for benchmarking Deepvariant with PacBio CLR reads (specifically, that chroms 1-19 were used for training and testing was performed on chroms 20-22). Would it be possible for me to access the result VCF for chroms 20-22 (and ideally also the trained model use

[2019-04-26 22:17] pichuan commented on #178
Hi @drtamermansour,
In my first attempt to reproduce this, I wasn't able to reproduce the issue with the following setting:

1. I got a CentOS 7 machine with:
[code]

2. On the machine, I installed Singularity 2.5.2 with instructions on: https://github.com/sylabs/singularity/blob/2.5.2/INSTALL.md

3. I copied a Singularity image that I built with [the instructions I posted before](https://github.c

[2019-04-26 22:44] pichuan commented on #137
This one seems a bit outdated. It seems like 0.8.0 is out and some issues were resolved already. I'll close this again...

[2019-04-26 22:44] #137 closed

[2019-04-27 19:33] chapmanb commented on #177
Peter;
Thanks for following up and glad to hear that this got it installed for you. I've been trying to replicate to fix the issue and avoid the manual pinning but can't seem to do on my system. Perhaps this was a temporary download issue with the google-cloud-sdk package, but it seems okay now. If anyone else stumbles across this same issue we can dig more but hopefully it was just something tran

[2019-04-28 20:14] drtamermansour commented on #178
@pichuan Thank you for taking the time to address this issue.
(a) The example code was running fine on the Amazon instance. Only failed to run on our CentOS machine
(b) I think this is a very good idea (specially the one made by @williamrowell which was created on a CentOS machine). I think these images might be helpful to our users as well

BTW, we used your code in #132 successfully on a similar

[2019-04-29 16:53] pichuan commented on #178
Hi @drtamermansour
I have not tried building Singularity before this latest release, so I can't guarantee how easy it would be. Regarding your issue with `--regions`, I'm pretty sure it's because the intervaltree version issue. Please see this comment for a solution if you have to build from DeepVariant before 0.8.0:
https://github.com/google/deepvariant/issues/131#issuecomment-449034956

We highl

[2019-04-30 20:31] #179 closed

[2019-04-30 20:34] gunjanbaid commented on #179
Hi @aubcar, were you able to resolve the problem? There are some tips for `glibc` in #137.

[2019-04-30 21:54] njbernstein opened #180 "Performance on short tandem repeats and inversions"
I was wondering if how DeepVariant performs on short tandem repeats and small inversions has been characterized?

I imagine small inversions aren't a problem, but short tandem repeats might be.

Also, how does it spell del in variants (where the sequence has been deleted and a new sequence has been inserted)?

[2019-04-30 22:05] njbernstein commented on #180
Also, how does the haplotype-aware realignment of reads differ from the first three steps of haplotype caller? https://software.broadinstitute.org/gatk/documentation/article?id=11068

[2019-04-30 23:11] AndrewCarroll commented on #180
Hi @njbernstein

Performance on STR will be a function of the size of the event. In Illumina data, DeepVariant will likely stop calling events as they start to reach 100bp in size and larger.

DeepVariant will call STR events below this size (for example, here is a HET call repeat expansion in one allele and repeat contraction in the other from a DeepVariant HG002 WGS VCF):

10	50527727	.	CTATATAT

[2019-04-30 23:44] njbernstein commented on #180
@AndrewCarroll  Thanks for the thorough response. This was extremely helpful.

Also re the haplotype caller comparison: I thought DeepVariant also uses a PairHMM to score haplotypes to re-align reads to, and then feeds that to the CNN.

From the paper:

So both methods use PairHMM to score haplotypes, and assist in re-aligning reads, ya? After that, the similarity is nil between the methods as you

[2019-04-30 23:59] AndrewCarroll commented on #180
Sorry, there is a misunderstanding here. Only GATK uses the PairHMM to score haplotypes based on probability. DeepVariant uses does not use PairHMM at all, instead it uses a convolutional neural network. GATK's PairHMM is used in the 3rd stop from the linked document.

The two steps that are (conceptually) shared are identifying regions to apply reassembly to and assembling a de Bruijn graph of th

[2019-05-01 13:50] aubcar commented on #179
Turns out I was on some nodes of the HPC that hadn't been updated, issue solved itself when on current nodes. Thanks!

[2019-05-01 16:54] njbernstein commented on #180
So is the DeepVariant paper out of date then?

[2019-05-02 07:12] AndrewCarroll commented on #21
Adding an acknowledgement that this discussion eventually resulted in improvements incorporated to DeeepVariant described in the TensorFlow blog (https://medium.com/tensorflow/the-power-of-building-on-an-accelerating-platform-how-deepvariant-uses-intels-avx-optimizations-c8f0acb62344)

Mark's proposal for the method to incorporate AVX improvements is a quite accurate description of what was implem

[2019-05-02 17:34] AndrewCarroll commented on #180
The code for the current, released version of DeepVariant does not use PairHMM to score haplotypes. Since the submission of the DeepVariant manuscript, there have been 4 releases which have improved various aspects of the code, training regime, and training data for models.

The DeepVariant paper does validly describe the methods used in a working version, both the original PrecisionFDA submission

[2019-05-02 17:39] njbernstein commented on #180
Ah great. Thanks very much. I was just getting tripped up by the paper.

This was a great explanation. Thank you very much for your thoughtful responses.

[2019-05-02 17:39] #180 closed

[2019-05-02 19:13] ashraf123456789 opened #181 "ref variable path is not being found in deep variant run"
Hello,

I working through the DeepVariant set up workflow under the docker umbrella, but the variable "ref" indicating the path of the reference .fasta is not responding properly.

sudo docker run \

**<cmd-b>FATAL Flags parsing error: flag --ref=None: Flag --ref must have a value other than None.</cmd-b>**
Pass --helpshort or --helpfull to see help on flags.
shaba033$  <cmd-b> --ref=/input/ucsc.h

[2019-05-02 19:13] ashraf123456789 commented on #181
thank you!

[2019-05-02 19:33] gunjanbaid commented on #181
Hi @ashraf123456789, you will need to reformat the command as it got split into two commands. Does the following work for you?

[code]

[2019-05-02 20:41] williamrowell commented on #178
Sorry, I've been traveling the past week without a solid network connection.  I've uploaded my simg to google drive at the address below.  This will likely not be a permanent link, but you can use it for testing now.

https://drive.google.com/open?id=12NZKJwRTroKofGB6KrZ4JVyN36DRbPuF

[2019-05-02 23:18] TerjeNorderhaug opened #182 "Visualizing Examples colab for TF2"
The [visualizing_examples.ipynb colab](docs/visualizing_examples.ipynb) builds on tensorflow 1.13.1 but a small change will make it forward compatible with tensorflow 2.0.0-alpha0: Replace all calls to `tf.FixedLenFeature` with `tf.io.FixedLenFeature` and `tf.parse_single_example` with `tf.io.parse_single_example`.

Also, optionally replace `xrange` with `range` for compatibility with Python 3.

[2019-05-03 05:59] gunjanbaid commented on #182
Hi @TerjeNorderhaug, thanks for the suggestions! We will push out an updated version of the notebook by the next release.

[2019-05-03 05:59] #182 closed

[2019-05-03 17:08] ashraf123456789 commented on #181
Thanks @gunjanbaid! , it's now one command but I still received a error:

sudo docker run \

docker: invalid reference format.
See 'docker run --help'.

These commands are being run in a Unix shell, do you think the commands vary between Linux and Unix?

Best,

-Ashraf

[2019-05-03 20:18] gunjanbaid commented on #181
@ashraf123456789 I don't think the commands should vary. Could you check that you have set `${BIN_VERSION}`? I have seen this error message when the variable is not set, causing the image name to be incorrect. You could try running the following:

[code]

[2019-05-03 23:20] ashraf123456789 commented on #181
Yes, thank you!

[2019-05-03 23:20] #181 closed

[2019-05-05 01:03] pgrosu commented on #21
Thank you for the acknowledgement, but more importantly as scientists we require that the experiment be complete by reflecting equivalence in the results.  Let's dig a little deeper:

1. In the article you are right with AVX-512 would give you the ability to "operate on more information at once", so have you tried a test where you compiled DeepVariant with just `-mavx512*` without MKL?  Let's look

[2019-05-06 19:08] AndrewCarroll commented on #174
Hi Peter,

Following up by email. Thank you!

[2019-05-06 19:08] #174 closed

[2019-05-06 20:01] pichuan commented on #178
Thank you @williamrowell !
@drtamermansour can you try it out and let us know whether Billy's image worked for you?

[2019-05-07 09:02] oschwengers opened #183 "DeepVarient for haploid (bacterial) WGS?"
Dear DeepVariant team,
congrats for this excellent software. Are there any plans to train/offer DeepVariant (or a fork) for haploid (bacterial) genomes?

As the diploid results are fantastic, I think this might be a very helpful and valuable contribution to the microbial bioinformatics community as well!

In particular, for SNP detection in bacterial pathogens this might be very interesting!

Best

[2019-05-07 17:42] AndrewCarroll commented on #183
Hi @oschwengers

Thank you for your suggestion. I am curious if you have tried to run DeepVariant on haploid bacteria yet? We have investigated in-bred rice strains and found that it has a strong tendency to call homozygous sites as expected from the genome structure.

I was curious if you have evaluated running DeepVariant on bacterial sequencing and seeing whether the results are reasonable. Thi

[2019-05-09 17:25] YAaNnGg opened #184 "Failed to open BAM file in deepvariant-tpu-training-case-study"
Hi, I got an error when running
`( time seq 0 $((N_SHARDS-1)) | \
  parallel --halt 2 --joblog "${LOG_DIR}/log" --res "${LOG_DIR}" \
    sudo docker run \
      -v /home/${USER}:/home/${USER} \
      gcr.io/deepvariant-docker/deepvariant:"${BIN_VERSION}" \
      /opt/deepvariant/bin/make_examples \
      --mode training \
      --ref "${REF}" \
      --reads "${BAM}" \
      --examples "${OUTPUT_D

[2019-05-10 03:01] YAaNnGg commented on #184
I think I know what's happening. The `${USER}` was `/root` when running docker. It was maybe caused by a `sudo bash`? When I changed it, everything seems OK. Similar Error #141 .

[2019-05-10 03:01] #184 closed

[2019-05-10 18:49] #183 closed

[2019-05-16 12:02] oschwengers commented on #183
Hi @AndrewCarroll ,
thanks for your reply and the additional info. I'd love to conduct some deeper investigations but unfortunately, I don't have the time.

So if you could provide some more bacteria related test results, this would be highly appreciated.
Thanks a lot and best regards!

[2019-05-22 02:39] jumpyknight opened #185 "Model losses all predictive power in the first steps during fine tuning"
I'm trying to fine tune the original DeepVariant model with some extra data.
However, during the fine tuning process, the model suddenly losses all its predictive power in the first 10000 or 20000 steps. The call-variants output of these models are like all sites have homo-alt variants with a same qual value, 6.8 for example.
The sudden change in the model happens in the first step of fine tuning,

[2019-05-22 18:29] pichuan commented on #178
Update: I've emailed @drtamermansour but haven't back from him. I'll close this bug for now.

If anyone had a chance to try @williamrowell 's image above, let us know how it wokr.s
If anyone else is encountering the same issue, please feel free to comment on this issue again.

I will close it now since there's no information right now.

[2019-05-22 18:29] #178 closed

[2019-05-22 18:47] pichuan commented on #185
Hi @jumpyknight ,

We have also noticed that when warmstarting from a checkpoint, there seems to be dip in accuracy at the beginning. You can see an example like this in this plot in our training case study from r0.7:
https://raw.githubusercontent.com/google/deepvariant/r0.7/docs/images/TensorBoardAccuracy.png

And specifically, for a while it was puzzling to us why model.ckpt-0 was much less accu

[2019-05-23 03:29] jumpyknight commented on #185
Thanks for the reply. I think it solves my problem.
I also agree that loading all variables is not the best, but I'd like to try the suggested code and check if the model would be the same first.
But still I think some vars like the EMA ones should be loaded in the warm-up stage, and I'll try to figure out what vars are needed.
I'll reply here if I make any further progress.

[2019-05-23 17:14] pichuan commented on #185
Great! Looking forward to hearing what you find. I'll close this issue. Feel free to update here or open another issue if you encounter other problems.

[2019-05-23 17:14] #185 closed

[2019-05-28 22:45] arostamianfar opened #186 "postprocess_variants fails when output is empty"
`postprocess_variants` fails (stack trace below) when the final VCF output is empty. There are use cases where this is expected (e.g. `regions` is small enough to not contain any variants for a subset of samples).

Expected outcome is to generate an empty VCF file with just the headers. Note that `make_examples` and `call_variants` correctly handle the empty case, so just `postprocess_variants` ne

[2019-05-30 00:43] gunjanbaid commented on #186
Hi @arostamianfar, thanks for reporting this issue. We plan to push out a fix for this problem in a future release.

[2019-05-30 00:43] #186 closed

[2019-06-06 23:49] drtamermansour commented on #178
Sorry for the late replay. Unfortunately, it did not work. The error message says:
ERROR  : Unknown image format/type: deepvariant.0.8.0.simg
ABORT  : Retval = 255

[2019-06-12 04:47] dhwani2410 opened #188 "is it possible to get haplotype sequences fom deep variant?"
Hello

Can we get haplotype sequences of the mapped region from deep variant tool

[2019-06-12 18:33] tedyun commented on #83
Please note that "*" character must be escaped in the above script by @andremrsantos . Please use the following script for converting g.vcf.gz file (and for indexing).

`zcat dv.g.vcf.gz | sed -e 's/<\*>/<NON_REF>/g' | bgzip -c > dv.gatkcompliant.g.vcf.gz && tabix -p vcf dv.gatkcompliant.g.vcf.gz`

This will generate `dv.gatkcompliant.g.vcf.gz` from `dv.g.vcf.gz`

[2019-06-12 21:01] akolesnikov commented on #188
Hi dhwani2410,

That functionality is not available. If you could tell me what exactly you're trying to achieve I may have some suggestions for you.

Thank you
Alexey

[2019-06-13 06:13] dhwani2410 commented on #188
Hi,

I have a region of my interest and I would like to know the haplotype sequence for the same. The region is around 300 bp .

[2019-06-13 17:04] akolesnikov commented on #188
Hi,

What you may try is to use other tools to assemble haplotypes from VCF and reads. Here is what I found, for example https://www.biostars.org/p/298635/ (see comment #7)

[2019-06-18 11:03] aderzelle opened #189 "compile from source error with version"
Hello, I am attempting to compile deepvariant from source.
running
`./build-prereq.sh
`
returns
[code]
And then
`./build_and_test.sh`
returns
[code]
I would be grateful for any help you could provide, thank you!

[2019-06-18 13:19] #189 closed

[2019-06-18 16:55] aderzelle opened #190 "Unrecognised sam header type"
Hello, when running the last version of DeepVariant from docker I get

[code]
It seems to be running anyway, is it a benign error?
Here is the command I used

[code]
Thank you

[2019-06-19 09:06] PhilPalmer opened #191 "NotImplementedError: can't find current frequency file"
Hi,

If I run the following command:
[code]

I get the following output/error:
[code]

This is using the Nextflow wrapper script [nf-core/deepvariant](https://github.com/nf-core/deepvariant). The pipeline works with other input data. So it seems unlikely that it is a problem with installation or parameters. DeepVariant was installed using Conda & is using v0.7.0.

Any ideas what the problem is?

C

[2019-06-19 21:44] pichuan commented on #178
Hmm interesting.
@williamrowell FYI  - I tried out your image you shared, and I'm having the same issue as well.

@drtamermansour Thanks for testing it out. Let me rebuild with the steps I shared in https://github.com/google/deepvariant/issues/178#issuecomment-487218238 and see if you can try mine as well. I'll follow up soon.

[2019-06-20 00:52] pichuan commented on #178
@drtamermansour
Here is a simg file I just built:
https://drive.google.com/file/d/1P768MjXLa4xPmqj12UZqnmDqUZsUpbNh/view?usp=sharing
(which should be a file with the name `deepvariant.0.8.0.issue-178.simg`)

I built this with the instruction here: https://github.com/google/deepvariant/issues/132#issuecomment-482430728
and tested with the steps here: https://github.com/google/deepvariant/issues/178

[2019-06-20 03:23] pichuan commented on #191
Hi Phil,
it doesn't seem like this is relevant to our codebase. I suspect this is something from the wrapper from nf-core. I see that you're also asking on the nf-core GitHub issues, which is likely the right place to ask.
If you think there might still be some issues related to the DeepVariant codebase, please feel free to add more information and reopen.

[2019-06-20 03:23] #191 closed

[2019-06-20 15:18] ThomasColthurst commented on #190
Hello!  Yes, it is a benign error.  All it means is that your BAM file has a blank line in its header section.

We will be removing this technically-correct but actually-pointlessly-annoying warning from future releases of DeepVariant and Nucleus.

[2019-06-20 15:22] #190 closed

[2019-06-21 07:53] PhilPalmer commented on #191
Hi,

Sorry, I could be wrong but I suspect this may be relevant to the codebase.

The nf-core script is responsible for passing the parameters correctly to `dv_make_examples.py`. Here the parameters seem to have been passed correctly and the `dv_make_examples.py` script throws an error.

Do you know why this is the case? Could it be to do with the data? Is it okay that the organism is a *Plasmodiu

[2019-06-21 16:07] pichuan commented on #191
Hi Phil,
as you can see from the log you posted, the error actually came from:
[code]
If I read this correctly, "frequency" isn't referring to anything DeepVariant related, but is referring to "cpu_freq". I also did a search in the DeepVariant codebase for the string "can't find current frequency file" and I can confirm that error message does not come from us.

It is still possible that this is r

[2019-06-21 16:44] pichuan commented on #191
Hi Phil,
an update:
@cmclean pointed out that it comes from this line of our code:
https://github.com/google/deepvariant/blob/aff131aac3bd0cb63ee8314e32bcbf5590987fb8/deepvariant/resources.py#L158

We're getting this information for debugging purpose only (DeepVariant outputs some information about the run in case developers need to remember how the run was done).
I suspect your run was done on a

[2019-06-23 12:54] Rahmmy commented on #177
Hello,

I tried installing deepvariant using `conda install deepvariant` .
With this, conda successfully;
-Collects package metadata
-Solves environment
-prepares and verifies the transactions (i.e required packages to download/install/update)

Unfortunately, executing the transaction fails with the error below,

[code]

I had a similar error installing with
`conda install -c bioconda deepvariant`

[2019-06-24 09:48] chapmanb commented on #177
Sorry about the install issues. The `post-link.sh` script that is failing downloads the trained models that DeepVariant uses from Google Buckets:

https://github.com/bioconda/bioconda-recipes/blob/master/recipes/deepvariant/post-link.sh

Failures here are typically due to problems with gsutil picking up other configuration options on your system. This thread has a bunch of debugging and some sugge

[2019-06-24 17:06] gunjanbaid commented on #188
@dhwani2410 I'll mark this issue as resolved, but feel free to reopen if you have any other questions.

[2019-06-24 17:06] #188 closed

[2019-06-29 12:09] melkerdawy opened #192 "Model_train output"
I am trying to make sense of the output of model_train. The models generated by model_train has an index at the end of it. What does this index mean?

In other words, If I have a model named model.ckpt-4854. What does this 4854 refer to?

Thanks in advance!

[2019-06-29 18:51] pichuan commented on #192
The number is referring to the number of steps in training when this checkpoint is saved.
You can see https://www.tensorflow.org/guide/checkpoints for more information.

[2019-06-29 18:51] #192 closed

[2019-07-01 12:39] melkerdawy commented on #192
I am working with singularity on HPC and it is so slow compared with DeepVariant docker image. It took 3 days to reach model.ckpt-4854. Do you have any recommendations to change some parameters (like the batch size, keep_checkpoint_every_n_hours, or save_interval_secs) in order to speed up model_train?

The parameters I am using is here:

`INPUT_DIR="${PWD}/input"
OUTPUT_DIR="${PWD}/output"
LOG_DI

[2019-07-02 02:22] pichuan commented on #192
Hi @melkerdawy
are you using CPUs only? There is a reason why our current training case study uses TPU. If you can't run with TPU, at least considering using GPUs to train. Fundamentally you need a powerful enough processing unit to train an inception v3 model.

[2019-07-02 04:36] saliksyed opened #193 "Running with gVCF output on Google Cloud"
I'm trying to output gVCF's via DeepVariant as described by the tutorial here: https://github.com/google/deepvariant/blob/r0.5/docs/deepvariant-gvcf-support.md

Is there a way that I could just modify the gcp_deepvariant_runner.py script (linked below) rather than having to manually run the commands step by step? I have many BAM files to process and running the pipeline manually is intractable.

h

[2019-07-02 13:41] melkerdawy commented on #192
I will try to use GPUs. Thanks for the advice. I have one more question. I just wanted to make sure that model_train use all the available CPUs or GPUs in the machine I am using by default. In other words, If I dont use GNU parallel with model_train and model_eval, it wont utilize only one core by default.

[2019-07-02 23:27] pichuan commented on #192
Hi @melkerdawy ,
currently our code doesn't support training with multiple GPUs. I haven't really tried training with CPUs, so I don't know whether model_train automatically utilize multiple CPUs or not. (We know that `call_variants` does. But I've never used CPU for training.)
If you want, you can try running it and see how many CPUs it utilizes. However, I don't recommend training with CPUs beca

[2019-07-03 02:14] jumpyknight opened #194 "Logged training loss does not decrease while performance improves"
I'm trying to train a deepvariant model with a very simple topology.
After a few thousands of training steps, the logged training loss starts to vibrate around a rather high value. However the performance of saved models still keeps improving on my validation data set.
Why does this happen?

[2019-07-03 17:30] sidharthgoel commented on #194
Hi, can you share the commands you ran and the associated logs so we can take a look?

[2019-07-03 18:09] pichuan commented on #194
If you're plotting on TensorBoard, it'll also be helpful to share a screenshot.

[2019-07-03 18:19] samanvp commented on #193
Yes, you can easily make deepvariant_runner to generate gVCF output by using `--gvcf_outfile` flag, please refer to [our documentation](https://cloud.google.com/genomics/docs/tutorials/deepvariant#genomic_vcf_gvcf_configuration) for more details.

That's one way to do it, however, the easier way is to use our docker image; in that case launching DeepVariant will be as simple as running a `gcloud .

[2019-07-04 03:34] jumpyknight commented on #194
![train_loss_and_error](https://user-images.githubusercontent.com/13111474/60637174-f2844000-9e4b-11e9-9ed0-6461041cf407.png)
Hi, I looked in my log file and plotted a figure of training losses and validation f-measures, and it turned out that I might have overlooked the improves in the trained models. The improvments after 10000 steps become very small (still important though) compared with that

[2019-07-08 12:52] aderzelle opened #195 "Launching deepvariant in a bash script"
Hello,

I realise that might be a Docker question rather than a deepvariant one.
I am unable to run deepvariant from within a bash script, however it works perfectly well at the prompt.

[code]

Then I put the following in a script

[code]
which returns
[code]
Launching the content of the script by pasting it directly in the terminal works perfectly well, however.

Thank you for any help.

[2019-07-08 18:21] sidharthgoel commented on #194
It's normal for the loss curve to start flattening out, although yours does change pretty abruptly. What exactly did you change (you mentioned using a `very simple topology`, not sure if that means you changed the architecture or something). Also the commands you used would be helpful.

[2019-07-08 18:35] pichuan commented on #193
Thanks @samanvp for the answer!

@saliksyed the GCP runner is actually in a separate repo. To ensure the developers notice your questions, you might consider posting future questions related to GCP runner in https://github.com/googlegenomics/gcp-deepvariant-runner/issues .

I'll close this issue now.

[2019-07-08 18:35] #193 closed

[2019-07-08 21:03] pichuan commented on #195
You need to specify all the variable in the same script.

For example:

[code]

[2019-07-08 21:03] #195 closed

[2019-07-15 08:40] kokyriakidis opened #196 "chrY variants on Females"
When I run the pipeline on females I get lots of PASSED variants on chrY. Why is that?

[2019-07-15 22:58] anands-repo opened #197 "Genotype likelihood normalization for alt1/alt2"
I was interested in understanding how heterozygous alt cases are dealt with, and came upon the explanation in [pileup_image.py](https://github.com/google/deepvariant/blob/r0.8/deepvariant/pileup_image.py),
which says that three different images are evaluated to obtain the necessary genotype likelihoods. I tried to scan further to see the code that actually does the evaluation of multiple images to

[2019-07-16 09:04] AndrewCarroll commented on #196
Hi @kokyriakidis

Thank you for your question. There are a few possibilities for this. First, chrX and chrY do share regions of homology, the pseudo autosomal regions (https://www.ncbi.nlm.nih.gov/pmc/articles/PMC2435358/), which allows them to pair and segregate appropriately during meiosis.

Because the reference sequence for both chrX and chrY contains these sequences, even in a female individu

[2019-07-16 21:36] melkerdawy opened #198 "Using model_eval after model_train not simultaneously"
I know now that I should have run model_eval simultaneously with model_train. However, I did not do that and it is so hard for me to repeat the model_train step given limited computational resources.

Now, I have a folder full of models but when I run model_evelm it just evaluates only the last model.

Is there any parameters to change or a turn around this issue to make model_eval evaluate multip

[2019-07-16 22:49] akolesnikov commented on #198
Hi,

Evaluation is done using [Estimator class](https://www.tensorflow.org/api_docs/python/tf/estimator/Estimator#evaluate)

You may create a simple script calling Estimator.evaluate in a loop passing different checkpoints.

Hope it helps.
Alexey

[2019-07-16 22:54] pgrosu commented on #197
There are many moving parts in DeepVariant to understand all that is going on code-wise.  So let's start at a easier level.  Does the following article help: https://blog.dnanexus.com/2019-02-19-deep-dive-into-deepvariant/

[2019-07-16 23:16] anands-repo commented on #197
Thanks very much for pointing me to the blog. It is extremely well-written and very helpful. However, it raised another question for me.

In the blog, it mentions how multiple alternative alleles are treated at a site - stating that for each alternative allele combination, an image is generated. This means, more than two alleles may be considered at a site.

In the DeepVariant paper (https://www.b

[2019-07-17 00:52] moscow25 opened #199 "Compiled from source, tests pass but "make examples" does not run with test data."
Hi! I compiled from source on Ubuntu 14.4.

Tests pass, including `./bazel-bin/deepvariant/make_examples_test`.

However, running as simple `make_examples` with downloaded example data fails with confusing (for me) error in realign script. Same script worked fine when I ran pre-compiled binary from the Docker container 🤷‍♂️

[code]

[code]

[2019-07-17 01:14] pichuan commented on #197
Hi @anands-repo ,
to your original question about how the multiple images are combined, you can find the logic in https://github.com/google/deepvariant/blob/r0.8/deepvariant/postprocess_variants.py
Specifically, the function `merge_predictions` is the one that takes multiple images for multi-allelic cases and merge them.
As you can see, the comment in that function also refers to: "See the logic d

[2019-07-17 05:50] pgrosu commented on #197
That paper is an early version of the code - so some things changed and some didn't.  So let's parse this out:

1) In the blog, if you look at [Jason's Jupyter notebooks](https://github.com/cschin/DeepDiveDeepVariant), you'll see him using `--norealign_reads` which skips the preprocessing step described in the paper.  That's why he's getting the `T` which a is a possible sequencing error.

2) The

[2019-07-17 06:25] pichuan commented on #197
Overall, I feel like this thread has mentioned a few different things that in my mind are pretty different.

Realigner, ( @pgrosu 's pointer 2. 4. above)  , which does a local realignment, which was proven helpful especially for our Indel accuracy. Note that this was turned off by default for PacBio model. This is something that @akolesnikov will be able to answer more questions on.

How candidate

[2019-07-17 06:50] anands-repo commented on #197
@pichuan @pgrosu This improves my understanding substantially.

After reading the paper, I was under the impression that DeepVariant consists of two parts - one part following traditional callers performing local assembly, haplotype detection and candidate allele generation based on the top-two haplotypes, and a second part which is a DNN used to perform candidate filtration. In such a scheme, the

[2019-07-17 08:30] fengcong3 opened #200 "Is it useful to plants？"
Is it useful to plants？Such as wheat

[2019-07-17 14:45] #197 closed

[2019-07-17 22:04] kokyriakidis commented on #196
I used the right one for hg38 with the PAR regions masked as stated here:
[code]
I see 401 variants on Y out of total 117.009

[2019-07-19 04:08] jumpyknight commented on #194
Thanks for the comments. I tried to train a simple 10-cnn-layer architecture and got the above results. Although the final loss still seems to be rather high, the accuracy is acceptable for the simple cnn network. I will close this issue.

[2019-07-19 04:08] #194 closed

[2019-07-19 23:33] AndrewCarroll commented on #200
Hi @fengcong3

DeepVariant has been applied to plant species. In the case of rice, there was good evidence of high accuracy superior [some results in this blog](https://cloud.google.com/blog/products/data-analytics/analyzing-3024-rice-genomes-characterized-by-deepvariant)

However, these rice genomes were diploid and with a similar variant density of humans.

DeepVariant is currently written to be

[2019-07-20 00:33] #200 closed

[2019-07-20 00:33] #198 closed

[2019-07-22 18:58] AndrewCarroll commented on #196
Hi @kokyriakidis

That reference should mask the PAR regions. It's unclear what could be going on for those variants which DeepVariant calls. They may be FP variants in difficult regions, or could be positions where additional copies exist that are similar on autosomes.

In general, there are always likely to be some calls made on chrY. For reference, the New York Genome Center has sequenced all 1

[2019-07-23 00:00] akolesnikov commented on #199
What Python version do you have installed?

[2019-07-23 03:01] moscow25 commented on #199
Thanks @akolesnikov for responding!

I'm running Python `Python 2.7.15+`. This was on a fresh Ubuntu 14.4 install, using your default settings in DeepVariant v0.8/master and running `./build-prereq.sh` followed by `./build_and_test.sh`

What I'm confused by is that `bazel-bin/deepvariant/make_examples_test` runs and everything passes...

[code]

[2019-07-23 19:23] moscow25 commented on #199
@akolesnikov do you have any suggestions for other commands to try? Roll back to previous version? Different parameters passed to the function? Other ways to run the Python code? I am not very familair with `Bazel` to be honest. Just confusing how the test pass, and *same exact* command works when running from pulled Docker container...

Happy to provide more details. Any ideas? Thanks!

[2019-07-23 19:59] pichuan commented on #199
Our build and test was tested on Ubuntu 16.4. I can do a quick test run on Ubuntu 14.4.
Can you remind us what version of `bazel` you're using?

[2019-07-23 21:52] moscow25 commented on #199
`[bazel release 0.21.0]` -- should I try a more recent version?

I believe this was prescribed by default `settings.sh`.
https://github.com/google/deepvariant/blob/r0.8/settings.sh

Is there a good review stable release from which to try? Sorry. Really at a loss here, as tests pass.

[2019-07-23 21:56] moscow25 commented on #199
I've also tried on Ubuntu 18.04 and getting similar problems. Have you tried these test on systems other than 16.04, or should I really try to downgrade to that exact version? Thanks!

`Welcome to Ubuntu 18.04.2 LTS (GNU/Linux 4.15.0-54-generic x86_64)`

[2019-07-23 23:51] pichuan commented on #199
We're consulting with our teammate @ThomasColthurst to see if he has anything to add here about your error message.

In the past, I did try building with both Ubuntu 14 and 18 and didn't encounter such issue, but I have not done so recently. I'll try soon.

And bazel - I think 0.21 is the right version we're using.

[2019-07-24 04:15] pichuan commented on #199
Quick answer: Can you try `./build_release_binaries.sh` instead of `./build_and_test.sh` in your steps above?
Then it should work.
The issue you're encountering has nothing to do with Ubuntu 18.

----

More details:

Earlier today, @akolesnikov and I were just wondering why our internal tests didn't capture this.
We have daily tests that run scripts like this:
https://github.com/google/deepvariant

[2019-07-24 04:15] #199 closed

[2019-07-24 18:27] moscow25 commented on #199
Thanks @pichuan and @akolesnikov -- indeed you're right `./build_release_binaries.sh` solves this.

Not sure what part of the documentation I missed, but indeed it's working now. Thanks!

[2019-07-24 18:51] pichuan commented on #199
@moscow25 I don't think you missed anything; we just forgot to keep scripts consistent. Thanks for your report and we'll make sure to fix it in the future!

[2019-07-27 05:02] saliksyed commented on #193
Thank you guys. Yes I can use 0.7.2 for my purpose. Thanks for the followup. I will post future questions on the runner forum.

[2019-07-31 05:04] anands-repo opened #201 "PacBio evaluation"
I ran an eval on chr20 of HG002 for PacBio CCS Sequel 2 data downloaded from https://ftp-trace.ncbi.nlm.nih.gov/giab/ftp/data/AshkenazimTrio/HG002_NA24385_son/PacBio_SequelII_CCS_11kb/

The results are different from that given in the following blog:
https://google.github.io/deepvariant/posts/2019-01-14-highly-accurate-snp-and-indel-calling-on-pacbio-ccs-with-deepvariant/

Specifically, the indel

[2019-07-31 13:03] AndrewCarroll commented on #201
Hi @anands-repo

Thank you for running the evaluation! The work detailed in the blog and in the publication (https://www.biorxiv.org/content/biorxiv/early/2019/01/23/519025.full.pdf) represent our initial efforts to train a model on PacBio data.

Subsequent to that publication, PacBio generated more extensive training Sequel II data. We used this data to build more robust training datasets across

[2019-07-31 13:04] #196 closed

[2019-07-31 13:28] aderzelle opened #202 "Same site, different calls (non deterministic behaviour?)"
Hello!
I am comparing 2 vcf files of 2 different samples. I noticed that deepvariant had a tendency, for the same site and the same genomic variant, present in the 2 samples (as visually checked by looking at the bam alignment) to call the site differently for each sample.
Here is what I mean, the site of interest is highlighted with **
Sample1:
[code]
Sample 2
[code]
As you see, the event which i

[2019-07-31 13:40] anands-repo commented on #201
Thanks for the clarification.

Is the new PacBio training data openly available? I apologize if this is described somewhere and I didn't find it.

[2019-08-01 00:55] melkerdawy opened #203 "Abnormal behavior of model_eval"
We are trying to customize the WES model to call variants on RNA-Seq reads.

Regardless of how low we set the learning rate or the batch size or saving the intervals, the value of either the values of (TNs/All) and (FNs/All) is set to 0. or the values of (TPs/All) and (FPs/All) is set to zero.

I am not sure I clarified the case enough so here is a sample of the first case:
 {'loss': 1.9104841, 'g

[2019-08-01 05:18] pichuan commented on #202
Hi @aderzelle
First of all, when I first think of "deterministic" behavior, I usually think about whether the exact same input yields the same results. Which we've made effort to make sure that running on the same input on the same machine should have deterministic behavior. If you have noticed non-deterministic behavior on the same sample, please do let us know.

That said, you're absolutely righ

[2019-08-01 05:18] #202 closed

[2019-08-01 09:51] animesh commented on #199
yes @pichuan  scripts/run_wes_case_study_binaries.sh does complete with those warnings, just wondering about why the output is binary when the postprocess command is invoked with tfrecord in name [examples.tfrecord.zip](https://github.com/google/deepvariant/files/3456033/examples.tfrecord.zip)

`python ./bazel-bin/deepvariant/postprocess_variants.zip --ref quickstart-testdata/ucsc.hg19.chr20.unitt

[2019-08-01 09:52] aderzelle commented on #202
thanks for you reply,
I am just commenting to say that indeed, the use of "non deterministic" was not adequate.

[2019-08-01 17:45] sidharthgoel commented on #203
I'm not sure I see how the learning rate or batch_size would affect those metrics -- could you provide more information on your setup? And the two cases you are seeing -- are those randomly occurring or have you pinpointed why it flips one way or the other?

[2019-08-01 20:31] pichuan commented on #199
Hi @animesh
I'm not sure you meant exactly. Do you mean that in two different places of our documentation, we used `quickstart-output/examples.tfrecord.vcf` and `quickstart-output/examples.vcf`? I did a quick search on our Quick Start, but couldn't find it.
(BTW, I noticed that Quick Start mentioned "docker_entrypoint.py", which has been renamed to https://github.com/google/deepvariant/blob/r0.8/s

[2019-08-02 01:53] AndrewCarroll commented on #201
The full content of that data is not publicly available. There are additional datasets available at the Genome in a Bottle FTP. These include:

ftp://ftp-trace.ncbi.nlm.nih.gov/giab/ftp/data/AshkenazimTrio/HG002_NA24385_son/PacBio_SequelII_CCS_11kb/

which represents the BAM file used in our case study evaluation. This data is used for training (excluding chr20 for evaluation)

And HG005 -

ftp://

[2019-08-03 19:55] melkerdawy commented on #203
My setup is HPC with CentOS 7. I am using a singularity image of deepvariant 0.8.0. I did not pinpoint why it flips one way or the other. I was hoping that you can give me some insight or a guess about why such output might occur.

[2019-08-05 12:16] aderzelle opened #204 "Adding the non human model?"
Hello,

I apologise if my question is naive I am a beginner with neural networks.
Do you plan to release models trained with non-humans? Like the mosquito analysis published on your blog? And would it made sense to have a kind of "universal model"?

thank you

[2019-08-05 16:46] #201 closed

[2019-08-05 16:47] anands-repo commented on #201
Apologize for the late response. Thanks for the information. I will look into these.

[2019-08-06 01:41] pichuan commented on #203
Hi @melkerdawy , thanks for reporting this issue.
In general it is difficult for us (as the developers of DeepVariant) to give advice on the training behavior of other people's data.

I can, however, from a perspective of a fellow ML researcher, ask a few more questions here to see if we can help you make progress:

(1) You said "Regardless of how low we set the learning rate or the batch size or

[2019-08-06 01:41] #203 closed

[2019-08-06 06:08] pichuan commented on #204
Hi,
Thanks for your question! In our [blog post](https://google.github.io/deepvariant/posts/2018-12-05-improved-non-human-variant-calling-using-species-specific-deepvariant-models/) you mentioned, we showed an example of further training a model to perform better on mosquito data, which has higher variant density than human.

Since then, internally we have continued to investigate what properties

[2019-08-06 06:08] #204 closed

[2019-08-06 19:58] aardes opened #205 "Variant Normalization"
Hi,

I would like to know Deepvariant do the variant normalization (for example left-align for InDels)?, or I need to it with another tool?

Regards

[2019-08-07 04:09] pichuan commented on #29
Hi all,
I know that this was not fully resolved, but by having it open forever also doesn't seen very effective.
I'm going to close it for now. But please do feel free to comment here. I will continue to read and reply anything here.
If there are suggestions on how to re-engage this effort, also feel to let me know.

[2019-08-07 04:09] #29 closed

[2019-08-07 20:29] AndrewCarroll commented on #205
Hi @aardes

DeepVariant uses processes that effectively normalize variants in most or all cases in the process of running. As part of candidate generation, DeepVariant constructs a candidate haplotype for the reference and alternate alleles. Reads are aligned to these candidates using Smith Waterman (specifically this library: https://github.com/mengyao/Complete-Striped-Smith-Waterman-Library)

Th

[2019-08-08 18:47] #205 closed

[2019-08-14 21:34] bballew opened #206 "How is QUAL calculated?"
Hi there!

How is the QUAL score calculated when using DeepVariant?  E.g., with GATK, it's the phred-scaled posterior probability of a variant being homozygous ref.   I've been comparing known true positives detected by both HaplotypeCaller and DeepVariant, and found that DV's QUAL score is approximately correlated with HC's QualByDepth, so I'm wondering whether the QUAL score is already normalize

[2019-08-16 22:05] akolesnikov commented on #206
Hi Bari,

QUAL score is not normalized by depth. It is calculated exactly as you defined. You could see it in the code in postprocess_variants.py, compute_quals function.

Thanks.
Alex

[2019-08-20 08:19] obsh opened #207 "Cannot identify error cause in make_examples stage"
Hi

I'm running a pipeline but get an error on "make_examples" stage. Could you help me to debug possible cause, please?

Here is a log:
[code]

For me it looks that the error message is `parallel: This job failed:` and failure doesn't relate to the warnings at the beginning of the file?

Regards,

[2019-08-20 18:13] wharvey31 opened #208 "make_examples Runtime with CCS"
I am currently running DeepVariant on CCS data after installing via Docker on an AWS instance. The make_examples step of the pipeline is taking much longer than expected. I have performed this in the past with 30X Illumina Data, and it has taken a few hours. This has been running for about a week on 23X coverage PacBio HiFi with a 16 core machine (CPU optimized), and I was wondering if that was ex

[2019-08-20 18:19] akolesnikov commented on #208
PacBio reads are too long to perform a local assembly on them, therefore --norealign_reads flag has to be added.

[2019-08-20 18:21] akolesnikov commented on #208
There is a case study for PacBio data which may be helpful https://github.com/google/deepvariant/blob/r0.8/docs/deepvariant-pacbio-model-case-study.md

[2019-08-20 18:23] wharvey31 commented on #208
Thank you!!

[2019-08-20 18:23] #208 closed

[2019-08-20 18:49] gunjanbaid commented on #207
@obsh regenerating the `.bai` index file should fix the first warning. The `Unrecognized SAM header type` warning should not cause the job to fail.

Some questions for you:
* What is the command you used to run `make_examples`? Any additional output would also be helpful.
* Is task 8 the only one that failed?
* (Unrelated to this error) Which model do you plan to use for this data?

[2019-08-20 18:50] gunjanbaid commented on #206
@bballew I will close this issue for now, but feel free to reopen if you have any other questions. [Here is a link](https://github.com/google/deepvariant/blob/r0.8/deepvariant/postprocess_variants.py#L308) to the `compute_quals` function.

[2019-08-20 18:50] #206 closed

[2019-08-21 09:37] obsh commented on #207
Hi @gunjanbaid,
I'm starting pipeline with a GCP runner like this:
[code]
I've checked logs - a bunch of tasks failed (8, 32, 67, 105, 192, 231, 261, 293, 358).

[2019-08-22 18:56] aderzelle opened #209 "deepvariant calling too many variants?"
Hello, it seems deepvariant is producing "overcalling" in some regions.
I was using RTG vcfeval to compare different vcf (one vcf = one population )and ended up with a strange case with some variants being both true and false positive. I first thought it was a bug of vcfeval but after submitting the case to the RTG guys, they ran a little analysis that concluded that

I thereafter compared with ca

[2019-08-23 08:26] AndrewCarroll commented on #209
Hi @aderzelle

Something seems strange in these files. In the DeepVariant output, DeepVariant reports the Allele Depth at these positions as [600819]: 36,15 ; [600831]: 36,15 ; [600834]: 35,15

While the GATK output reports the positions as: [600819]: 49,0 ; [600831]: 49, 0 ; [600834]: 49,0

Those are quite different reports about the underlying content of the reads in the region.. DeepVariant con

[2019-08-23 13:38] aderzelle commented on #209
Hello,
it's ok for me to share, where should I send you the download link?

[2019-08-25 14:43] case3526 opened #210 "cant find gcsfuse"
# Model for calling whole genome sequencing data.
MODEL=gs://deepvariant/models/DeepVariant/0.8.0/DeepVariant-inception_v3-0.8.0+data-wgs_standard
IMAGE_VERSION=0.8.0
DOCKER_IMAGE=gcr.io/deepvariant-docker/deepvariant:"${IMAGE_VERSION}"
COMMAND="/opt/deepvariant_runner/bin/gcp_deepvariant_runner \
  --project ${PROJECT_ID} \
  --zones us-west1-* \
  --docker_image ${DOCKER_IMAGE} \
  --outfile ${O

[2019-08-26 01:46] #210 closed

[2019-08-26 01:50] gunjanbaid commented on #207
Hi @obsh, I am still not sure what is causing the failure. I noticed that you are using an older release (v0.6.1), so I would suggest switching to the latest v0.8.0 release. I'm not sure that this will address the failures, but I would recommend it regardless since we have updated the code and models.

As a sanity check, you could try running the command above with different data. [This page](http

[2019-08-26 02:00] gunjanbaid commented on #210
Hi @case3526, we recommend running DeepVariant v0.8.0 using the Docker image or prebuilt binaries, instead of the `gcp_deepvariant_runner` pipeline. Here are links to case studies that show how you can run using Docker or binaries. Note: we recommend running the binaries on an Ubuntu 16.04 machine.

* [DeepVariant quickstart with Docker](https://github.com/google/deepvariant/blob/r0.8/docs/deepvar

[2019-08-28 04:01] Lenbok commented on #209
@AndrewCarroll You can get a sample bam from the initial discussion thread on the rtg-users group: https://groups.google.com/a/realtimegenomics.com/forum/#!topic/rtg-users/U0UQnR2LRtw

I just ran deepvariant 0.8.0 on the sample bam from there and replicated the results that @aderzelle reported.

![image](https://user-images.githubusercontent.com/282098/63824884-c6e58800-c9ac-11e9-8e26-9be5ba6a5a4b

[2019-08-28 11:50] avrajit opened #211 "Deep variant and Cancer exome"
Hi
I recently installed docker version of  deep variant for cancer exome analysis. I like to know if I don't use paired cancer samples for variant calling with deep variant will  it be right approach

[2019-08-29 16:15] hamidqaedi opened #212 "CPU with SSE (Streaming SIMD Extensions) instruction"
HI,
In spite of great interest, desecrated to use DeepVariant because of the CPU issue.

I found to have a machine with  Intel(R) Xeon(R) CPU E7- 8870  @ 2.40GHz processors. As I found on the company webpage it is not an AVX -rather to be SSE- processor.
Is there any way/trick to use DeepVariant on such machine?
Thank you in advance

[2019-08-29 16:37] sidharthgoel commented on #212
Hi, I'm not sure I fully understand the question -- do any of the [3 Official Solutions](https://github.com/google/deepvariant#official-solutions) work for you? Using [the docker image](https://github.com/google/deepvariant/blob/r0.8/docs/deepvariant-quick-start.md) is the recommended way, but there are other options listed as well.
If you don't want that, and the pre-built binary option (option 3

[2019-08-29 16:37] #212 closed

[2019-08-29 17:07] sidharthgoel commented on #211
Hi, currently DeepVariant is a germline variant caller so it's not designed to call somatic variants in cancer samples.

[2019-08-29 17:07] #211 closed

[2019-08-30 03:38] pgrosu commented on #212
@hamidqaedi Just update the architecture to  `--copt=-march=native` in [settings.sh](https://github.com/google/deepvariant/blob/r0.8/settings.sh#L102), and use the same option when compiling Tensorflow from source and you should be fine.

[2019-09-02 22:53] anands-repo opened #213 "Regarding treating ambiguous/partially overlapping read alignments"
I have two questions.

The first is about ambiguous read alignments. This can happen, for example, in a region of homopolymer repeats (or other short repeats).

ACTGTACTAC**X**GGGGGGAT    (Reference sequence: "X" indicates an inserted base)
ACTGTACTACGGGGGGGAT          (Read0)
ACTGTACTACGGG                        (Read1)

In this case, Read1 could be interpreted to either support the insertion or

[2019-09-03 06:27] obsh commented on #207
Hi @gunjanbaid, thank you! I'll try the v0.8.0 release and other recommendations.

I’m working on a cannabis variants project with a Googler @allenday.
We consulted @AndrewCarroll previously, from his preliminary analysis - seems that default DeepVariant model should work fine with our data.

[2019-09-03 09:45] HagenC opened #214 "exit status 127: bash: gcsfuse: command not found"
Hi,

I am trying to run the following:

#!/bin/bash
#set -euo pipefail    <- it fails if I use this!
# Set common settings.
PROJECT_ID=ms-deepvariant
OUTPUT_BUCKET=gs://ms_bam/recover
STAGING_FOLDER_NAME=recover_tmp
OUTPUT_FILE_NAME=recover.gvcf
# Model for calling whole genome sequencing data.
MODEL=gs://deepvariant/models/DeepVariant/0.8.0/DeepVariant-inception_v3-0.8.0+data-wgs_standard
IMAGE_V

[2019-09-03 12:50] samanvp commented on #214
This is an [issue](https://github.com/googlegenomics/gcp-deepvariant-runner/issues/27) of [DeepVariantRunner](https://github.com/googlegenomics/gcp-deepvariant-runner). We will be releasing a new docker image later this week that will resolve it.

[2019-09-03 17:52] gunjanbaid commented on #214
Thanks @samanvp!

@HagenC in the meantime, you can also run DeepVariant v0.8.0 using the Docker image or prebuilt binaries. Here are links to case studies that show how you can run using Docker or binaries. Note: we recommend running the binaries on an Ubuntu 16.04 machine.

* [DeepVariant quickstart with Docker](https://github.com/google/deepvariant/blob/r0.8/docs/deepvariant-quick-start.md)
* [S

[2019-09-03 17:52] #214 closed

[2019-09-03 20:51] akolesnikov commented on #213
HI,

1) DeepVariant does not treat homopolymer repeats differently. So, to answer your question DeepVariant assign read to one of the alleles in this case. It is a known problem and we have plans to address it. If read does not completely overlap a homopolymer repeat then it should not be counted.

2) DeepVariant does local reassembly for some regions (decided by algorithm). In that case reads are

[2019-09-03 21:09] anands-repo commented on #213
It is an interesting point about homopolymer reads that they shouldn't be considered at all. I will think about it further. My thoughts were that the CNN probably filters out such information, and no additional gain would be available by doing this.

Thanks for confirming that partial insertions are considered and not discarded. However, there are still cases where a site has two alternative inser

[2019-09-03 21:31] akolesnikov commented on #213
Resulting image that is fed into CNN contains multiple layers. Two of those are 'Read supports allele', and 'Read supports ref'. By removing an ambiguous read we may slightly  improve the accuracy (in theory)

Yes, your last example is difficult to make it right and we don't have a near future plans to address those.

[2019-09-03 21:32] anands-repo commented on #213
I see. Thank you. Your responses are very helpful.

[2019-09-03 21:32] #213 closed

[2019-09-04 17:10] gunjanbaid commented on #207
@obsh sounds good. I'll close this issue for now, but feel free to reopen if you run into any other errors.

[2019-09-04 17:10] #207 closed

[2019-09-10 00:09] PedalheadPHX commented on #37
@rpoplin @depristo Is there a specific reason to exclude all of the super contigs in GRCh38 from deepvariant analysis?  I agree with removing the HLA, EBV, M/MT and decoys, but removing the placed and unplaced contigs doesn't seem justified.  Other callers do work on these regions so it doesn't seem like they are truly "Common problematic contigs on GRCh38" as stated in the release notes for v0.5.

[2019-09-11 11:28] hamidqaedi commented on #212
Hi @pgrosu ,
Thank you for reply. Iwill check and let you know about.

@sidharthgoel ,
Actually the question is , Does Deepvariant works on a cpu like what i have on my machine (Intel(R) Xeon(R) CPU E7- 8870 @ 2.40GHz processors)?

Thank you guys for your time
Hamid

[2019-09-11 15:20] hamidqaedi opened #217 "The TensorFlow library was compiled to use AVX instructions, but these aren't available on your machine"
Dear Developer,

I am going to use DeepVariant for variant calling. I have followed the instruction provided [here](https://github.com/google/deepvariant/blob/r0.8/docs/deepvariant-quick-start.md), to install the tool. After downloading the all needed sample data I run the command:
[code]
I faced the error:
[code]

I googled for solution also asked you before and found may be compiling from source

[2019-09-11 20:53] samanvp commented on #214
We just released a new docker image located at `gcr.io/cloud-lifesciences/gcp-deepvariant-runner`. Please let us know if you still observe gcsfuse issue using the latest release.

[2019-09-11 21:52] akolesnikov commented on #217
Hi Hamid,

**Short answer**: There is no pre-built docker that would work on an old hardware (with no AVX support).

**Long answer**: It may be possible to run DeepVariant with custom TensorFlow library (this is what I found online https://stackoverflow.com/questions/53723217/is-there-a-version-of-tensorflow-not-compiled-for-avx-instructions). Then you may follow directions [here](https://github.c

[2019-09-13 08:30] AndrewCarroll commented on #37
Hi @jjfarrell

I hadn't encountered users who meaningfully used the unplaced, but non-decoy contigs. The exclude list is current coded into DeepVariant and not modifiable. However, I agree that it would be reasonable to assess adding those in.

The main reason a decoy or unplaced contig should be excluded is if it aggregates a large amount of incorrectly mapped coverage. It makes sense for us to i

[2019-09-13 08:30] #37 closed

[2019-09-13 20:02] PlatonB opened #219 "Calling does not work"
Distro: elementary OS 5.0

First attempt to run a calling:
`sudo docker run gcr.io/deepvariant-docker/deepvariant:0.8.0 /opt/deepvariant/bin/run_deepvariant --model_type=WGS --ref=/home/platon/_0_Диссертация/Exp/seq1/seq1.fa --reads=/home/platon/_0_Диссертация/Exp/seq1/seq1.bam --output_vcf=/home/platon/_0_Диссертация/Exp/seq1/seq1.vcf`

[code]

Second attempt. This time with paths consisting only